[2022-07-22 12:15] sarah11918 commented on #1060
Great, @Yan-Thomas ! Move it, and make it so!

[2022-07-22 12:30] sarah11918 commented on #1047
I'm guessing that Ben's `legacy.astroFlavoredMarkdown` PR will need some migration guide content re: no more components, variables etc. in Markdown

https://github.com/withastro/astro/pull/4016

[2022-07-22 12:34] sarah11918 commented on #1060
@Yan-Thomas , when you've moved the file, maybe we close this issue and move video caption documenting into one of the issues like the one for tracking captions for translations?

I think videos themselves are still work in progress, so maybe move this to align with those tasks? What do you think?

[2022-07-22 12:41] Yan-Thomas commented on #1060
Sure, I'm OK with moving the last "TODO" to the other task. I'll update this (and the other issue) to reflect this.

[2022-07-22 15:11] sarah11918 commented on #1013
This was completed!

[2022-07-22 15:11] #1013 closed

[2022-07-22 15:12] #1060 closed

[2022-07-22 15:14] sarah11918 commented on #1047
I did just add RSS feeds are now generated with `@astrojs/rss` to the migration guide.

[2022-07-22 15:20] sarah11918 commented on #772
As we are moving away from support for components in Markdown (`legacy.astroFlavoredMarkdown)`, I don't think we should document this? It will be a legacy feature?

[2022-07-22 15:24] hippotastic commented on #772
Nope, the use case is unchanged for MDX 😄

[2022-07-22 15:27] sarah11918 commented on #772
Thanks @hippotastic ! Shall we update the title  to reflect `.mdx` then (so we don't confuse Sarah again), and consider this on the stack for `.mdx` documentation in the docs?

[2022-07-22 15:46] #1080 closed

[2022-07-22 15:48] hippotastic commented on #772
Yes, great point! I updated the title and issue text accordingly to target MDX.

[2022-07-22 16:27] #1030 closed

[2022-07-22 18:28] garfieldnate commented on #1082
I would have sent a PR but the edit button on GitHub was disabled. 🤷  More importantly, though, I wasn't sure if you had unit tests or something else that needed to be updated.

I do appreciate you inviting me to participate, but I won't be able to make time to send a PR for now. Sorry 🙇

[2022-07-22 23:54] redwerkz opened #1103 "I would like to add another deployment option: Codeberg Pages"
It's a free, independent and non-profit git hosting provider from germany.
They are running on a gitea fork.

https://codeberg.com
https://codeberg.page

[2022-07-23 15:24] sarah11918 commented on #1103
Hi @redwerkz! Would you be willing to write the detailed instructions for this page, to match the style of the other deployment options?

If so, we can guide you through this process!

[2022-07-23 15:25] sarah11918 commented on #1061
@Yan-Thomas , do you know of particular sources that you recommend? Would you like to go ahead and draft this? I think PR'ing a section to this would be great!

[2022-07-23 17:25] Yan-Thomas commented on #1061
Yes @sarah11918, I have a lot of sources that I recommend, I'd say the best resources to get started are the WAI's [Resources for Developers](https://www.w3.org/WAI/roles/developers/) and [ARIA Authoring Practices Guide](https://www.w3.org/WAI/ARIA/apg/patterns/) and [The A11y Project's](https://www.a11yproject.com/) checklist and resources list. I thought I had assigned myself to this issue but I

[2022-07-23 22:53] #1061 closed

[2022-07-24 09:59] thomaskral opened #1111 "[Feature request]: Include / Exclude components JavaScript via astro configuration instead client directives as attribute on component"
Removed due to posting it at the wrong location.
Moved here https://github.com/withastro/rfcs/discussions/234

[2022-07-24 10:52] #1111 closed

[2022-07-24 22:31] #992 closed

[2022-07-26 18:34] sarah11918 opened #1122 "Create MD to MDX mini-transition guide"
Additional content for migration guide.

Not just "enable legacy flag until ready" but some concrete "here's how to change your files over."

[2022-07-27 13:38] dkotik commented on #1122
This is sorely needed! One major issue I ran into is that Astro.glob("content/*.mdx") returns an object with `url` property `undefined`. It is impossible to use it together with getStaticPaths without passing a slug in the frontmatter. Strangely, while regular markdown globs include `file` which is used in the documentation for getStaticPaths, MDX does not have the same property and `url` is `unde

[2022-07-27 17:37] dkotik commented on #1122
Ok, I was able to solve my issue: glob MUST load files from "pages" folder; otherwise returned .url is undefined. It wasn't an issue for regular .md files. So glob path matters a whole lot. This needs to be documented.

[2022-07-30 00:05] kevinzunigacuellar commented on #1122
I would like to pin this [discord thread](https://discord.com/channels/830184174198718474/1001929767756496906) for anyone that needs more information or help migrating from `.md` to `.mdx`

[2022-07-30 13:31] sarah11918 opened #1154 "Content audit for Accessibility guidance"
Let's review our docs content for

- areas where it makes sense to mention (especially Astro-specific) tips for designing with a11y in mind.
- our code examples to make sure our own suggestions suggest good practices
- ... something else?

Building off of @Yan-Thomas's comments in Discord:

"We could sprinkle some accessibility tips and tricks in some pages, I think we can easily explain some of A

[2022-07-30 13:39] sarah11918 commented on #1122
I'm going to close this issue because we did get some docs content up in the Migration guide:  https://docs.astro.build/en/migrate/#converting-existing-md-files-to-mdx

@dkotik I'm going to speak to engineering about items needing to be in `src/pages` to return `url`. This doesn't immediately surprise me because the file only makes a page route if it's in `/pages/`, so it might not otherwise have

[2022-07-30 13:39] #1122 closed

[2022-07-30 14:35] delucis commented on #1154
We could also consider this in our MPA vs SPA comparison: one benefit of MPAs is not needing to rebuild the a11y structure around navigation (focus management, route change announcements, etc). I remember Marcy Sutton had to do HEAPS of work to make Gatsby more accessible out of the box and these concerns are just solved for you by the browser vendors when you choose an MPA.

[2022-08-01 20:18] Yan-Thomas commented on #1154
Based on what I suggested before, Chris' comment, and some thoughts I had while reading the docs looking for things we could improve, I would tackle this like this:

### Layouts + Pages
We know layouts are just Astro components, but I think people may think that there is some limitation, and we currently don't talk about using props to change bits of the page layout, this is a perfect opportunity

[2022-08-02 21:00] blackgirlbytes opened #1164 "Add new GitHub Action workflow to Deploy to GitHub Pages"
GitHub Pages now supports hosting static websites built in any framework. There's a new standard action that supports Astro and should be added to the documentation.

The current docs include an outdated workflow to deploy to GitHub pages. Let's update to the new, standardized way!

You can read more about it here.
README: https://github.com/actions/deploy-pages
Release announcement: https://githu

[2022-08-02 21:00] blackgirlbytes commented on #1164
I'll take this if that's okay 😄 opening a PR right now!

[2022-08-03 11:51] sarah11918 commented on #1154
These all sound great, @Yan-Thomas! Let's put out a note to `team-docs` today about this issue, and invite people to submit PRs for these things!

[2022-08-03 13:43] delucis opened #1180 "Document dynamic tag name pattern"
Splitting this off from #632. We should document the ability to have dynamic tag names on the Astro Components page!

[2022-08-03 13:45] delucis commented on #632
v1 triage call notes:

- We should definitely add `Astro.props` to the API Reference!

- Splitting out the dynamic tag name technique to a separate issue: #1180 (lower priority)

[2022-08-03 13:46] Pukimaa commented on #1016
I also made a new comment on the PR #1110

[2022-08-03 14:03] delucis commented on #772
This is likely on hold as `Fragment` seems to be breaking in MDX currently: https://github.com/withastro/astro/issues/4130

[2022-08-03 14:05] delucis commented on #814
Closing as we now have `Astro.url` and updated docs accordingly! 🥳

[2022-08-03 14:05] #814 closed

[2022-08-03 14:07] delucis commented on #817
We no longer have a direct comparison page, so I’ll close this for now. Would love to see a blog post or similar on this topic — I’m sure it would be super helpful!

[2022-08-03 14:07] #817 closed

[2022-08-03 14:12] delucis opened #1181 "Move Astro vs JSX comparison to an existing page"
We currently have our Astro vs JSX chart on [our deprecated “Astro vs X” page](https://docs.astro.build/en/comparing-astro-vs-other-tools/#astro-vs-jsx) which could be deleted soon 😱

We’re linking this in the components guide so should probably move this somewhere more reliable.

[2022-08-03 14:23] delucis commented on #1017
Thanks so much for all this work documenting here — I guess we’re all happy it’s no longer needed 😅

I’ll close this now that `define:vars` behaves as expected. Thanks again @lostra01!

[2022-08-03 14:23] #1017 closed

[2022-08-03 14:26] delucis commented on #987
Will merge #993 to close this once we’ve upgraded to the RC release of Astro!

[2022-08-03 14:26] #987 closed

[2022-08-03 14:39] delucis commented on #995
Discussed this on our v1 triage call. Some ideas of where this _could_ go: maybe the troubleshooting page or a future “migration from other frameworks” page?

Not quite sure what’s best — need to think if people need to be presented this while learning or more something they’ll search for if it comes up while working.

There’s some helpful content in #1011 someone might want to pick up and use!

[2022-08-03 15:02] delucis opened #1183 "Point Integration links on Integrations API page to docs"
https://docs.astro.build/en/reference/integrations-reference/ still links to integrations on GitHub. We can point them to our nice docs pages now instead!

[2022-08-03 17:47] FredKSchott commented on #632
Just chatted with @bholmesdev about this and how to balance it with the MDX tasks remaining for v1.0. Any chance that @sarah11918 or @delucis could do the work to create the basic `Astro.props` reference section using the content that already exists here: https://docs.astro.build/en/core-concepts/astro-components/#component-props

And then Ben could come in to fill in any info still missing?

[2022-08-03 19:10] #717 closed

[2022-08-03 22:54] #1082 closed

[2022-08-03 23:23] #1183 closed

[2022-08-04 04:20] Hopelezz opened #1191 "legacy.astroFlavoredMarkdown explained"
## Problem:

I'm new to programming in general.

Enabling a flag isn't something I've done before. So when the migration guide and @bholmesdev suggested I add this flag I went searching for how to do it.

The site only references the fact there's a new flag and the details about it, but not HOW TO implement it.
![image](https://user-images.githubusercontent.com/72772558/182751037-68dcba58-5d8f-461

[2022-08-04 07:23] #1164 closed

[2022-08-04 12:18] #756 closed

[2022-08-05 08:49] delucis commented on #1181
Done in #1188!

[2022-08-05 08:49] #1181 closed

[2022-08-05 21:31] sarah11918 commented on #1016
Hm... this didn't seem to get closed with the merged PR! Thanks everyone for all the contributions to this issue and PR!  🥳

[2022-08-05 21:31] #1016 closed

[2022-08-05 21:44] sarah11918 commented on #1191
Thanks, @Hopelezz! You're right, this entire legacy section is brand new on the page (it might be the first legacy flag ever publicized for users to enable?) so there is no example of `legacy:` in `defineConfig()`... and I think there should be!

What makes this page a little different is that it's automatically generated from a file in the main Astro repository which is a little more fussy to edi

[2022-08-05 21:49] Hopelezz commented on #1191
@sarah11918 Happy to give it a go!

[2022-08-06 14:37] Hopelezz commented on #1191
@sarah11918 PR requested [Modify legacy flag description #4187](https://github.com/withastro/astro/pull/4187)

Trust this should resolve this issue upon merge.

[2022-08-06 14:43] kylebutts commented on #918
[Torchlight](https://torchlight.dev) has a syntax I find quite intuitive where you insert comments (in the language you're writing in so `//` for javascript). Then, you can look for  a comment flag `!astro` among the comments when `shiki` parses the code.

A couple examples of cool things you can do:
- [Focus a set of lines](https://torchlight.dev/docs/annotations/focusing)
- [Collapsible chunks](

[2022-08-06 15:21] Njong392 commented on #1154
Saw this labeled as `good first issue` so I hopped on it haha. Could I handle the note on `Static assets` if that's okay?

[2022-08-06 17:20] hippotastic commented on #918
Hey Kyle, thank you for the input to this!

A lot has happened since my last comment on this issue and we already have line & expression highlighting with multiple marker styles (marked, inserted, deleted) now.

The syntax is currently located only in the meta information after the opening code fence.

I'm planning to move the code snippet functionality with all marking features, file name tabs an

[2022-08-06 18:26] Yan-Thomas commented on #1154
Hi @Njong392 :wave:, sure. It's all yours! Thank you for tackling this :raised_hands:

[2022-08-06 21:54] sarah11918 commented on #1191
Yes, the other PR on withastro/astro should take care of this... so I'll do a little early housekeeping and close this here now! (It's a little fussier when the PR that closes an issue is on a different repository... we'd have to close this manually anyway, so I'll just do it because we have our fix there!)

[2022-08-06 21:54] #1191 closed

[2022-08-06 22:01] sarah11918 commented on #1103
Just checking in, @redwerkz! If you'd still like to create another page for us, you're welcome to make a PR by creating a new page in this folder:  `https://github.com/withastro/docs/tree/main/src/pages/en/guides/deploy` called `codeberg.md`.

We will also need a few new files to fit it into our existing format, and this PR is a great example of what's needed:  https://github.com/withastro/docs/pu

[2022-08-08 00:03] sarah11918 commented on #632
Closing this, as done. PRs welcome if it needs to change!

[2022-08-08 00:03] #632 closed

[2022-08-08 16:46] sarah11918 commented on #918
@hippotastic @delucis Do we want to consider breaking this out into the remaining tasks, rather than have this hanging over our head when SO MUCH has already been completed?  I think we did this sort of thing with some i18n tasks?

[2022-08-08 20:39] kylebutts opened #1234 "[md/mdx] components export for `mdx` in integration guide"
One thing I really like about MDX is that you can pass custom components for default html elements (h1/6, img, a, code, pre, etc.) with export const components = {}. The names comes from the [Table of Components](https://mdxjs.com/table-of-components/) for MDX. Much easier than writing remark/rehype plugins IMO.

There's an example of it here, but could be nice to highlight in the docs: https://st

[2022-08-08 20:51] #1180 closed

[2022-08-09 10:28] Njong392 opened #1239 "Typo in troubleshooting section of docs"
## Link
https://docs.astro.build/en/guides/troubleshooting/#unable-to-render-component

## Issue
Under the **Unable to render component**  the phrase there reads "This is indicates an error in a component you have imported and are using in your Astro template."

## Proposed Changes
I think it should be "This indicates an error in a component you have imported and are using in your Astro template."

[2022-08-09 11:07] #1239 closed

[2022-08-09 13:27] viszya opened #1241 "Add instructions for "how to update css classes on save", onto Tailwindcss integration page"
## The Issue:
 There is currently no **clear** instruction on Astro docs on how to make Tailwindcss classes **update on every file save** instead of reloading or restarting the build.
Thanks to @aFuzzyBear & @weoperate for helping with this

## Solution:
   You can add the following (below) to the Tailwindcss integration [page](https://docs.astro.build/en/guides/integrations-guide/tailwind/)
   Ei

[2022-08-10 23:34] threkk opened #1257 "Additional configuration needed to configure astro in (neo)vim"
Hello! I am trying astro for the first time, so following the guide, I set up my editor to work with astro. Using Neovim 0.7.0, I followed the instructions provided, but I realised that there were a couple of missing steps that are not documented. These steps are not critical, and many (Neo)vim users would likely be familiar with them already, but I think it is important to highlight them for less

[2022-08-11 01:45] kylebutts opened #1258 "`@astrojs/tailwind` using classes versus `@apply`"
Not sure exactly where it would go in the tailwind integration guide, but one thing I see a lot on https://web.dev/measure/ is that a ton of unused css ships when using tailwind classes and importing the global css file in my layout.

When using the `@apply` syntax in component `<style>` tags, it does not get added to the global css page which I find really nice for performance. I'm wondering if f

[2022-08-11 01:57] sarah11918 commented on #1257
Thank you for this comment! Certainly, we do want everyone to be able to get set up with any of the editor tools for Astro. Right now, we don't provide additional instructions for any community projects; we only list them. If extra Astro-specific steps are necessary for a user, then I agree it would be nice to be able to let them know, especially if we suspect that the project itself doesn't provi

[2022-08-11 02:15] sarah11918 commented on #1258
Thanks for this @kylebutts! Let's ask @delucis what he thinks about this. If it's a pattern you have found helpful, then maybe others would too!

I don't immediately see the best place for this, since we don't currently show an example of Tailwind with a style tag anywhere. I would think the [Tailwind integration guide](https://docs.astro.build/en/guides/integrations-guide/tailwind/) is the page t

[2022-08-11 02:20] sarah11918 commented on #1241
Thanks for noting this here! I'm glad you found a solution!

I'm going to investigate this with the technical steering committee, to make sure they know that this step is necessary, and to see whether they might want to try to find a workaround to needing to do this in the first place (vs us recommending this step in docs).

Either way, now that you've made the issue, there's a record of it, and a

[2022-08-11 06:51] codejet opened #1260 "SolidJS component working locally but not on prod"
I'm using Astro 1.0.1 and have created a site which has one component that is using SolidJS.
I installed all necessary dependencies (`@astrojs/solid-js`, `solid-js`, latest versions), added `integrations: [solid()],` to the config, and `<MySolidComponent client:idle />` (also tried `client:load`) inside the Astro component which loads the SolidJS one.
Locally, SolidJS is being loaded and thus the

[2022-08-11 09:24] codejet commented on #1260
Closing because incidentally opened it in the docs repo

[2022-08-11 09:24] #1260 closed

[2022-08-11 15:02] svemat01 opened #1265 "Use SCSS Variables Globally"
Adding SCSS variables globally is not something that is described in the docs. Using the traditional Astro ways does not produce a usable result.

[code]

[code]

I remembered a solution for this from my experience with Sveltekit which is the following:

[code]

This makes your scss variables everywhere. So now the question is whether this is something we would like to document.

If that's the cas

[2022-08-11 16:56] drewtownchi opened #1267 "Add conditional (if/then/else) HTML example to JSX expressions"
Coming from a Vue world we often use `v-if` and `v-else` when deciding what to show/not show in HTML templates.  As I'm not super familiar with JSX expressions I was looking into the docs to see how I could do something similar with Astro.

I believe having some examples like the following in the documents would be helpful for those of us not familiar with JSX.  It feels like it could work well un

[2022-08-11 18:14] jimjimovich opened #1269 "Clarification needed for enabling previews with Cloudflare"
The page src/pages/en/guides/integrations-guide/cloudflare.md mentions that you can enable previews with Wrangler and that "This will allow you run your entire application locally with Wrangler, which supports secrets, environment variables, KV namespaces, Durable Objects and all other supported Cloudflare bindings."  However, there is no documentation on how to access these variables that should

[2022-08-11 20:33] drewtownchi opened #1270 "Clarify that named slot syntax in Astro files is Astro syntax"
It was confusing to me how Astro is different than Vue when using named slots.

Normally I would do something like this in Vue

[code]

But with my Vue component in Astro I do this?:

[code]

It's weird to me because it looks very similar to the Vue syntax but is clearly not. I think the documentation should somehow clarify that even though Vue (and possibly other frameworks) has its own named slo

[2022-08-11 21:38] threkk commented on #1257
I was referring more to the second, an extra thing to work with Astro. I am going to create a minimal set up for Neovim to work with Astro from scratch. This is, proper syntax highlighting, and a working language server. I will follow the documentation as much as possible and see what is missing after. Based on the missing steps, I guess it will be easy to make a decision if we just need an extra

[2022-08-11 22:32] kevinzunigacuellar commented on #1258
it is not precisely unused CSS but tailwind generates a single CSS file for the entire application that usually gets cached after the first load. I believe this is how tailwind works by default without any CSS splitting.

It is usually not a problem due to the small size after purging and reusability of CSS atomic classes.

[2022-08-12 06:26] delucis commented on #918
Can do! We might want to wait until Hippo's magic code sample package arrives. That way we can see what is still outstanding and what will be tackled there.

[2022-08-12 07:43] delucis commented on #1258
My guess would be that over time, using `@apply` would lead to _bigger_ CSS files because it will duplicate the CSS required for each utility.

If I understand correctly, the benefit you're seeing is because Astro knows when to include the CSS in its `<style>` tags, so can break up the CSS output files, whereas the Tailwind file is a single global one. I can imagine that for the correct use case,

[2022-08-12 08:39] swift502 opened #1274 "Add: Explain how to use .yml data files"
I had to ask this on discord because I couldn't find it in the docs. I think it might help others looking for the same thing, since in my opinion you'd expect it to be much simpler than it is.

## Proposal

Somewhere near the [JSON](https://docs.astro.build/en/guides/imports/#json) section, explain that in order to import .yml files, the user needs to:

1. Install @rollup/plugin-yaml:

[code]

2.

[2022-08-12 08:56] swift502 commented on #1267
Funny I was looking for the same thing yesterday and couldn't find it.

I think "for" and "while" constructs could also be helpful. I was looking for them yesterday but still don't know if there's a standardized way to do "for" and "while" in JSX.

[2022-08-12 14:50] delucis commented on #1241
`tailwindcss` is already a dependency of the `@astrojs/tailwind` package, so should be installed for you when you run `npx astro add tailwind` or manually `npm i -D @astrojs/tailwind` and add the integration to your `astro.config` file.

I’m going to close this as I don’t think we have anything more to document, but if you still see extra steps needed to get this working, I’d recommend opening a b

[2022-08-12 14:50] #1241 closed

[2022-08-12 15:09] swift502 opened #1276 "Add: Explain how to render components via variables"
I just spent a lot of time trying to figure all this stuff out. Maybe it's worth adding it to the docs?

## 1. First letter upper case convention

Variable names need to be capitalized correctly. (I understand it's a React/JSX convention) If they're not, component doesn't render. As such, this piece of code just creates a `<stored/>` element instead of the component stored in the variable.

[code]

[2022-08-12 15:14] delucis commented on #1234
Adding to this, you can also do this after importing MDX:

[code]

This is particularly useful in a dynamic route where you can glob all your `.mdx` content and render each to its own page while passing in default replacement components. (This is how I handled custom image components on the new astro.build site.)

[code]

[2022-08-12 19:58] wuelnerdotexe commented on #1257
Hi @sarah11918, @threkk  - I have recently commented on [Discord](https://discord.com/channels/830184174198718474/1007057863199441026) my opinion as a Vim & Neovim user of what I think is the best way to solve this, in case it can help.

About the first thing here, I think the `:TSInstall astro` command to install Astro with Tree-sitter is extremely obvious for Neovim users, as is installing an ex

[2022-08-14 20:52] threkk commented on #1257
It looks like this will not be a problem any more. Vim and Neovim have added a patch in their master branches which solves the main issue I describe. This should fix the tree-sitter and LSP triggering without any additional plugin.

https://github.com/neovim/neovim/commit/33b49d5f55423a1a3174ad0ce42c4454871aa9f8

[2022-08-14 20:52] #1257 closed

[2022-08-15 11:27] sarah11918 commented on #1274
Thanks for this @swift502! Firstly, I'm glad that importing `.yml` files is working for you.  🙌

Secondly, I'm going to confirm with our Technical Steering Committee that this is the process they want documented. While you certainly can add Vite plugins directly, I think in some cases that's thought of as a bit of an escape hatch solution. So I first want to make sure there's not a different way t

[2022-08-15 11:41] sarah11918 commented on #1270
That's for the feedback, @drewtownchi! Yes, it's certainly a challenge for documentation in a project where people may have different files using different syntaxes within the same project. And, many of these file types share similar elements.

We will take a look at our description of slots to make sure it's clear that when you're writing `.astro` files, you should be using `.astro` syntax!

[2022-08-15 11:41] #1270 closed

[2022-08-15 12:01] sarah11918 commented on #1267
Thanks for this feedback @drewtownchi, and I guess great minds think alike, @swift502!

I cover examples of this in the walk-through Tutorial we are getting ready to publish, but you're right, we don't have them in the main docs page, and I think you've absolutely identified where they would go. The shorthand syntax is considered "more Astro" for what it's worth, and that's what we would probably

[2022-08-15 12:04] sarah11918 commented on #1269
Thanks for this feedback, @jimjimovich!

I'm going to tag in @Ekwuno, who recently contributed to this documentation, and ask him to join the discussion to see what more could be included on our end to help with Cloudflare documentation, or to tell us whether this is something handled by Cloudflare's own documentation!

[2022-08-15 12:08] sarah11918 commented on #1265
Hey @svemat01, thanks for this!

This... looks like maybe a lot of configuration needed to do this? I'm going to tag @natemoo-re and the Technical Steering Committee on this one to see if this really is what we'd suggest to people. I don't know whether there's a simpler way to configure that Nate might have in mind, but I think we shoudl check before documenting this! So sit tight and we'll get so

[2022-08-15 12:12] sarah11918 commented on #1234
Thanks @kylebutts, @delucis! This sounds useful, and I'd absolutely want @bholmesdev's input on this.

We are actively (continuously? 😅) working on our MD/MDX documentation right now, including some reorganizing of content, so there is stuff happening all the time, and yes, I think adding halpful patterns is right up our alley at the moment!

[2022-08-15 12:44] svemat01 commented on #1265
Sounds good, I'm excited to hear about any better solutions since this doesn't seem to trigger vite to reload variables on saving

[2022-08-15 13:55] bholmesdev commented on #1234
@sarah11918 I totally agree we should document this, especially @delucis' components-as-props snippet above. We've gotten enough support questions on component rendering that warrants some docs. This could slide into the integration README _for now,_ but I know we've talked about "proper" MDX docs separate from the README too. Worth aligning there.

[2022-08-15 15:30] kylebutts commented on #1234
Want me to add a draft gist @sarah11918?

[2022-08-15 22:11] delucis commented on #1276
Thanks for the issue! We do document a more basic version of this where HTML tags are set as strings — https://docs.astro.build/en/core-concepts/astro-components/#dynamic-html — but I agree that a brief mention is a good idea!

[2022-08-16 11:11] swift502 commented on #1276
@delucis Yeah I found that basic string tutorial, but still got had to google around and ask on Discord how to pass an imported component to a variable.

The case sensitivity rule is really bad because there's no hint or error to suggest what could be wrong.

[2022-08-16 14:54] drewtownchi commented on #1267
I can do a PR for this.  I'll play around with an example and see if the `__ ? ___ : __` example is materially different enough to warrant a separate example.

If the goal is not to teach JS/JSX then maybe it would be useful to link to a JSX primer?  The ones I've seen seem more React specific and don't really cover things like the Shorthand example though.  Any thoughts on this?

[2022-08-17 02:39] theetrain opened #1324 "Algolia dark mode highlighted result has low contrast"
Hello, while browsing the site in dark mode I observed highlighted results in the Algolia search modal have white text on a bright orange background, which has very low contrast as you'll see below:

![image](https://user-images.githubusercontent.com/12798751/185021332-2cdb3020-2e41-4fcd-8fa9-44c9cfa813cf.png)

To meet WCAG AAA standards, an easy win would be choosing a near-black text colour for

[2022-08-17 16:10] knpwrs opened #1378 "<head> Not hoisted and merged, docs aren't clear"
### What version of `astro` are you using?

1.0.6

### Are you using an SSR adapter? If so, which one?

No

### What package manager are you using?

npm

### What operating system are you using?

macOS

### Describe the Bug

I started a new project with the blog template and made the following change to `HeaderLink.astro`:

[code]

Looking at withastro/astro#2128 and related issues it seems like t

[2022-08-17 17:59] Yan-Thomas commented on #1324
Thanks for reporting this @theetrain. It's worth pointing out that [contrast checkers don't work so well with orange](https://www.bounteous.com/insights/2019/03/22/orange-you-accessible-mini-case-study-color-ratio/), so I'll do some research to be sure of what is the best approach here.

This looks like a vry good first issue! Would you like to open a PR fixing this?

[2022-08-17 18:14] theetrain commented on #1324
@Yan-Thomas thanks for the insight! Sure I can open a PR with my proposed colours and we can have a back-and-forth from there. I hope to get around to this within the next couple of days.

[2022-08-17 18:17] delucis commented on #1324
Thanks @theetrain! Let us know if you run into any issues.

[2022-08-17 23:44] cameronmcefee opened #1334 "Docs about integrations conflict with Typescript Types"
In the docs about using integrations, the docs state that falsy values are ignored and can thus be used to conditionally add integrations: https://docs.astro.build/en/guides/integrations-guide/#toggle-an-integration

However, doing so will create a typescript error:

[code]
I'm making an issue here because the docs do not correctly describe reality, but I think the actual fix should be to the type

[2022-08-17 23:57] delucis commented on #1334
Thanks @cameronmcefee! I _think_ this is actually an error in the types as I’m fairly sure that toggling approach is supported.

[2022-08-19 17:17] swift502 opened #1355 "Flesh out the GitHub Pages deployment guide"
Hi! I followed the [github deployment guide](https://docs.astro.build/en/guides/deploy/github/) and for me it just flat out doesn't work.

## 1. Base

The guide states:

My repository is called "Web" so I set base to "/Web" and the deployment completely broke my website. While assets were in the /assets folder, pages were looking for them in /Web/assets.

The solution was to not include any base p

[2022-08-20 16:06] #1267 closed

[2022-08-20 16:13] sarah11918 commented on #1234
@kylebutts That would be great! Do your worst! Thanks for offering. 🧑‍🚀

[2022-08-20 16:47] sarah11918 commented on #1355
Thanks for this, @swift502! I'm going to ping @natemoo-re to make sure he sees these comments, too!

The solution may be adding more documentation around the entire process, but I just want to check with Nate first to make sure there's nothing that he'd change re: the GitHub action itself that would affect the steps that get documented!

[2022-08-20 16:57] swift502 commented on #1276
@sarah11918 Sounds good. Will do. 🙂

[2022-08-20 17:18] sarah11918 commented on #864
Why hellooooo, long-standing Issue in the Docs repo!

Given that so much time has passed, the chart in question no longer exists and the content has been moved to another page entirely... what do we think about what's going on in #1359 in order to close this one?

[2022-08-20 23:40] Jutanium commented on #864
Agreed! See you there and on future issues!

[2022-08-20 23:40] #864 closed

[2022-08-21 10:27] odwrotnie opened #1376 "Branch is not allowed to deploy to github-pages"
### What version of `astro` are you using?

1.0.6

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

npm

### What operating system are you using?

Mac

### Describe the Bug

After step by step from https://docs.astro.build/en/guides/deploy/github/ - the Action says:

### Link to Minimal Reproducible Example

https://github.com/instap-app/website-d

[2022-08-22 16:44] swift502 commented on #1376
Probably related to #1355.

@odwrotnie Can you try switching your Settings > Pages source to "GitHub Actions" and see if that works?

![image](https://user-images.githubusercontent.com/24359130/185974502-fe00ede1-6668-4865-b53b-76dae1819f8c.png)

[2022-08-22 16:48] swift502 commented on #1376
What's baffling to me is that there's hundreds of repositories using the withastro/action@v0 workflow action, and they seem to work just fine. Has nobody ever created issues regarding this before? Did something recently change that makes the GitHub deployment guide obsolete?

[2022-08-22 17:12] cameronmcefee commented on #1334
Thanks @delucis, should I create an issue over there, or is this considered known at this point?

[2022-08-22 19:20] delucis commented on #1334
An issue or even a PR on https://github.com/withastro/astro would be super helpful! Thank you 🙌

[2022-08-22 19:45] kylebutts commented on #1234
I'm not sure where this would go, maybe after Layouts in the mdx integration?

### Custom components

Under the hood, MDX will convert markdown into html components. For example,

[code]

will be converted into

[code]

MDX provides a way to tap into this rendering and use your own custom components. In the above example, you could create a custom Blockquote component (in any language) that has ei

[2022-08-22 20:07] kevinzunigacuellar commented on #1376
Sorry for the inconvenience, we switched actions lately from `actions-gh-pages` to `deploy-pages` to a wrapper with `withastro/action`. Some configuration options were probably left out from previous versions. Thank you for raising issues 😇, this helps other community members to have a better experience.

[2022-08-22 20:33] cameronmcefee commented on #1334
Done: https://github.com/withastro/astro/pull/4427

[2022-08-22 20:33] #1334 closed

[2022-08-24 14:46] Princesseuh commented on #595
Hello! An update on this, the function works as expected, however the second argument of `Astro.render.slots` is an array of argument to pass, as such when trying to pass an array as a single parameter, it needs to be an item of the array:

So in this case, it needs to be the following:
[code]

(Note the square brackets around `Astro.props.messages`!)

[2022-08-24 15:46] sarah11918 opened #1399 "[TypeScript update] "as props" no longer needed"
With recent updates, you no longer need to write `as Props` when using Typescript.

Everything else in this code example should stay the same, and no changes to the text are necessary. Just remove "as Props" from the code example AND be sure to also update the hightlighting rule (first line of the code sample) accordingly!

https://docs.astro.build/en/guides/typescript/#component-props

![Screensh

[2022-08-24 18:28] #1399 closed

[2022-08-25 08:24] odwrotnie commented on #1376
Switching didn't help :(.

[2022-08-25 08:39] swift502 commented on #1376
@odwrotnie Interesting, can you look into Settings > Environments and report what you see? You should see a github-pages environment:

![image](https://user-images.githubusercontent.com/24359130/186617538-d3e22b46-95d8-4cd2-946b-86c28a875135.png)

And inside of it a deployment branch rule that's just the name of your deployment branch. In your case "main".

![image](https://user-images.githubuserc

[2022-08-25 09:51] paolotiu opened #1407 "Add: Explain how to run a function inside an inline script after the dom is loaded"
When using an `is:inline` or `define:vars` on a script it becomes inlined in the served code 1:1. So, when someone wants to target an element further down the html (ex. `document.querySelector("#footer")`), they might be inclined to use `defer` or `async` since that's what is taught in vanilla sites. It won't work though since the `defer` or `async` attributes don't actually apply.

I think we sho

[2022-08-25 11:22] odwrotnie commented on #1376
This is exactly what I see:

![image](https://user-images.githubusercontent.com/473035/186650952-88b3b01c-0a4d-4dad-9714-2c77ce564b6c.png)

Insied was gh-pages.

I have changed to "main" and it worked!

[2022-08-25 11:22] #1376 closed

[2022-08-25 11:28] swift502 commented on #1376
I'm not sure why this breaks occasionally. It's supposed to automatically set itself up when you switch the source to GitHub actions..

Let's hope it's a rare issue.

[2022-08-25 11:34] odwrotnie commented on #1376
There is another issue I suppose:

Take a look at this: https://instap-app.github.io/website-definition/

The assets are linked like `https://instap-app.github.io/assets/index.26638c6a.css` and should be: `https://instap-app.github.io/website-definition/assets/index.26638c6a.css`.

My `astro.config.mjs` looks like this:
[code]

[2022-08-25 11:50] swift502 commented on #1376
Oh, well.. 😄

Those parameters belong _inside_ of the defineConfig object, not outside of it. https://github.com/instap-app/website-definition/blob/master/astro.config.mjs#L9-L10

[2022-08-25 11:57] odwrotnie commented on #1376
Now it works! Thank you! This should be stated more clearly in the docs - I can do it.

[2022-08-25 16:55] Jutanium commented on #595
Waiting on [this issue](https://github.com/withastro/compiler/issues/506), then will document as a use case for `Astro.slots.render` in the reference docs.

There's a bit of an API design rough edge here. Normally, you'd only need to use `Astro.slots.render` for dynamically rendering a slot. But now it's the only way to implement "slot props" in Astro. So even though you're _certain_ you want to r

[2022-08-25 21:22] Jutanium opened #1410 "Document `astro preview`"
Specifically, we should mention that it doesn't work to test SSR.

We also need to explain on the SSR page that, during development, you _don't_ need an adapter.

[2022-08-26 03:03] alex-grover opened #1412 "Vercel deployment docs conflict"
The default Vercel deploy docs state that you don't need any additional configuration to deploy static sites, while the `@astrojs/vercel` docs state that you need a `vercel.json`.

https://docs.astro.build/en/guides/deploy/vercel/#static-site
https://docs.astro.build/en/guides/integrations-guide/vercel/#why-astro-vercel

I'm happy to make a PR, but I'm not sure which docs are correct.

[2022-08-26 15:26] sarah11918 opened #1415 "Update UI Framework Components page for AlpineJS integration"
In the Installing Integrations section of this this page, we still say that no integration is needed for AlpineJS, and because there was no integration, we don't include it with all the others in the config code example.

1. Remove the statement about not needing an integration.
2. Add the integration in both relevant places in the code sample. (Write an import statement, and include it in the int

[2022-08-26 16:26] #1415 closed

[2022-08-26 21:36] bholmesdev commented on #1234
@kylebutts Couldn't have written this section better myself 🤩 My only critique is the "This is particularly useful in a dynamic route..." concluding section feels _pretty_ advanced. I might want to keep that part out, and put the rest just after the "layouts" section as you suggested. Happy to review if you submit a PR for this!

[2022-08-26 22:01] Jutanium opened #1418 "Document HTML Support"
Specifically, mention _why_ you might want to use HTML. @natemoo-re, thoughts?

Documenting: https://github.com/withastro/astro/pull/3867 (which had Docs: TODO)

[2022-08-26 22:12] Jutanium opened #1419 "Upgrading Astro"
Document how to upgrade Astro within your project using your package manager (npm, pnpm, yarn).

[2022-08-27 00:22] #1355 closed

[2022-08-27 12:20] panwauu opened #1424 "Add @astrojs/image integration template to astro.new"
In [astro.new](https://astro.new/) there is no integration template for the image integration. As it is an integration of withastro this would make it easier for improvements on the image integration.

[2022-08-28 14:15] agamm opened #1616 "npm create astro: command not found (WSL)"
### What version of `astro` are you using?

1.1.1

### Are you using an SSR adapter? If so, which one?

No

### What package manager are you using?

npm

### What operating system are you using?

Windows WSL2 Ubuntu

### Describe the Bug

I created a new Astro project by:
`npm create astro@latest`

Then after going into the directory and running `astro add react` I get:

### Link to Minimal Reprod

[2022-08-28 16:05] #1324 closed

[2022-08-28 19:17] luke-cbs opened #1425 "Hydrating SolidJS component throws error on next sibling null"
Currently using SolidJS components in Astro. When trying to run `client:load` on a component the console throws an error:

`Uncaught (in promise) TypeError: Cannot read properties of null (reading 'nextSibling')`

This works fine when working with dev however on a build this issue occurs.

[2022-08-29 01:18] Yan-Thomas commented on #1425
Hello @luke-cbs, for Astro-related issues, please make an issue in the main Astro repo: https://github.com/withastro/astro/issues.
It has a special template for bug reports, that's why I'm asking you to make a new issue instead of transferring this one. This way you can fill out the necessary info and link to a minimal reproduction, which helps a lot!

[2022-08-29 01:18] #1425 closed

[2022-08-29 07:26] WallaceSociety opened #1427 "CORS Error When Adding A Paperform Script"
Probably not the best title, but as I'm not really sure what's happening under the hood I figured I'll start with the output and then can rename it to the specific problem later.

**Desired Outcome:**
Display an embedded paperform on an HTML page

**Current Results:**
CORS error from embed script

**Steps to Reproduce:**
npm create astro@latest paperformIssue
( install empty project )
Add followin

[2022-08-29 11:39] delucis commented on #1427
Thanks for this @WallaceSociety! This is actually the issue tracker for our documentation site. If you're still running into this, could you please repost this in https://github.com/withastro/astro/issues with a reproduction?

[2022-08-29 11:39] #1427 closed

[2022-08-29 13:13] WallaceSociety commented on #1427
Posted: https://github.com/withastro/astro/issues/4532

[2022-08-29 23:40] delucis commented on #1047
Closing as complete now we have #1418 to track the outstanding task.

[2022-08-29 23:40] #1047 closed

[2022-08-30 00:10] #1276 closed

[2022-08-30 09:46] panwauu opened #1435 "Clarify when to use dependencies vs dev-dependencies"
As far as I know, it does not really matter whether you install as dev-dependency or dependency. I think we are supposed to install everything as dev-dependency due to SSG? How does this change with SSR?

I think it should be mentioned somewhere. I did not find anything in the reference, not sure about the best place.

There are regularly some support discussions on discord that are related or sol

[2022-08-30 11:11] sarah11918 commented on #1234
(Reminder to self that this has been PR'd in `withastro/astro`!)

[2022-08-30 11:19] sarah11918 commented on #1424
Thanks for this comment! I'm going to make sure @tony-sull sees this, and he can consider whether he thinks an image template is appropriate, or maybe instead adding the image component to some of our existing templates like the blog or basics.

I do know that we probably wouldn't choose to include this integration quite yet, at least not until it reaches v1, as there is still active development a

[2022-08-30 11:19] #1424 closed

[2022-08-30 11:28] sarah11918 commented on #1407
Thanks for this comment @paolotiu, and for being willing to make a PR! Would you be willing to just type in here what you would PR, so we can take a look at it, and think about where (on which page, in which section) it might actually best go?

[2022-08-30 11:38] sarah11918 commented on #1412
Thanks for this, @alex-grover! This is a documentation issue, but not the one you're thinking of!

In fact, both docs are correct because the Vercel integration is only for SSR, and is not necessary for deploying static sites.

Someone added a note for the adapter usage about the `vercel.json` file in the wrong place on that adapter page, and it's misleading right now because it looks like it's re

[2022-08-30 12:35] sarah11918 commented on #1435
Thanks for making this issue @panwauu! I agree, I've seen this in support threads too. This sounds like a @Jutanium task to me!  ;)  (Assigning it to Dan, and leaving it to him to un-tag himself if he wants to pass it along.)

[2022-08-30 13:28] Jutanium commented on #1435
Thanks for assigning this to me! Great timing, too: we just decided to [change the templates](https://github.com/withastro/astro/pull/4544#issuecomment-1231661514) to use `dependencies` only.

I wrote in that PR:

I do want to make it clear in the docs that both choices behave the same. It's up to the user whether they want to split the two (which can be desired if they want to differentiate "buil

[2022-08-30 13:32] panwauu commented on #1435
Great thanks!
I did not know for sure that it has no real difference, so looking forward to your improvement of the docs 😉

[2022-08-30 20:04] alex-grover commented on #1412
thanks for the clarification! your proposed updates make sense to me 👍🏽

[2022-09-01 00:27] #1412 closed

[2022-09-01 14:46] yesworld opened #1453 "[Question] Will a jetbrains plugin be developed?"
Hi there!

I am using PHPstorm and astro type of file is not supported by the ide. Are there plans to develop a plugin for it?
Thanks.

[2022-09-01 23:54] mayank99 opened #1455 "Documenting `vite.ssr.noExternal`"
Vite externalizes SSR dependencies by default: https://vitejs.dev/guide/ssr.html#ssr-externals

A lot of npm packages are not ESM-ready so it leads to errors when using ESM imports.

This can be fixed by forcing those packages to be transpiled by vite using [`vite.ssr.noExternal`](https://vitejs.dev/config/ssr-options.html#ssr-noexternal) in astro.config

[code]

Since it's not obvious how to arri

[2022-09-02 14:23] #1378 closed

[2022-09-02 15:34] Jutanium commented on #1455
Looks like we name-drop it [on the styling page](https://docs.astro.build/en/guides/styling/#import-a-stylesheet-from-an-npm-package), but deserves its own spot somewhere as there are other use cases

[2022-09-03 11:16] Yan-Thomas commented on #1453
Thanks.

Hello @yesworld, we talk about this on our docs' Editor Setup page: https://docs.astro.build/en/editor-setup/#jetbrains-ides

TL;DR: We would love to support JetBrains IDEs but they don't support language servers, meaning we would have to write an entirely new extension in another language. The future Fleet IDE will support language servers though, and then we will be able to run our curr

[2022-09-03 11:16] #1453 closed

[2022-09-03 19:05] delucis commented on #1234
Closing as withastro/astro#4530 has been merged 🥳

[2022-09-03 19:05] #1234 closed

[2022-09-03 19:34] jtomek commented on #1234
Thank you for the documentation.

I wondered if there is a way how to set the component overrides globally?

I would like to automatically replace <img /> tags with <Image /> in my mdx files.

[2022-09-03 19:38] sarah11918 commented on #1234
Hi @jtomek! The best place to ask this is in our Discord: https://astro.build/chat

If there isn't documentation that answers your question on this page: https://docs.astro.build/en/guides/integrations-guide/mdx/ or in MDX's documentation itself, then asking in our `support-threads` channel is the best place to have this discussion!

[2022-09-03 19:40] jtomek commented on #1234
Hello @sarah11918 , thank you. I will ask there.

[2022-09-03 19:41] delucis commented on #1234
@jtomek I think the closest we have at the moment is what I describe above in [my comment](https://github.com/withastro/docs/issues/1234#issuecomment-1213221904) — importing all your MDX files and then rendering them by passing in the component overrides.

But as @sarah11918 says, Discord would be a great way to ask others and chat about solutions. Or otherwise a discussion in https://github.com/w

[2022-09-03 19:57] kylebutts commented on #1234
I think it would be a natural extension to include custom MDX components in the layout component. I can make an RFC for this if folks agree?

[2022-09-03 20:00] delucis commented on #1234
Definitely worth at least a discussion in the RFCs repo!

[2022-09-04 20:50] altano opened #1468 "Adding integrations via npm?"
I don't think this used to be broken but all the integrations (e.g. [vue](https://docs.astro.build/en/guides/integrations-guide/vue/) / [image](https://docs.astro.build/en/guides/integrations-guide/image/)) say to add them via:

`npm run astro add image`

![image](https://user-images.githubusercontent.com/1009/188332911-05e3472d-262e-4572-be67-8320b1e4fcb2.png)

But that doesn't make sense as ther

[2022-09-04 20:52] altano commented on #1468
And if you want a dependency (`npx`) free version:

`npm exec astro add image`

[2022-09-06 08:44] AidanNichol opened #1470 "Inconsistency between dev and build with trailing slash"
working with astro 1.1.5
[code]
with astro dev dev this doesn't return a trailing '/' whereas build does.

[2022-09-06 10:58] Yan-Thomas commented on #1470
Thanks for reporting this @AidanNichol! This repo is meant for our docs, not for the framework itself. May I ask you to make the issue in the main Astro repo instead? https://github.com/withastro/astro/issues/new/choose

[2022-09-06 10:58] #1470 closed

[2022-09-06 12:01] #1419 closed

[2022-09-06 12:26] #1435 closed

[2022-09-06 20:03] sarah11918 commented on #1468
Thanks for this, @altano! 🙌  I'm tracking down where (and why) these changed because you're right... they were correct before. Not sure what happened there, but I'm going to get that reverted pronto.

[2022-09-06 20:25] sarah11918 commented on #1468
@delucis Can I assign this one to you? It seems to be your PR here https://github.com/withastro/astro/pull/4340 where this change was made. I can see this was an intentional change.

[2022-09-07 02:42] altano commented on #1468
Turns out I am mostly wrong.

1. It looks like a newly created `astro` project does include an `astro` npm script in package.json.
2. And, if that script exists, `npm run astro add image` seems to do the right thing. I'm very confused on this last point: npm scripts didn't always take arguments ([unless you use `--`](https://docs.npmjs.com/cli/v8/commands/npm-run-script#synopsis))? It's still docu

[2022-09-07 10:08] #1468 closed

[2022-09-07 10:13] sarah11918 commented on #1468
Thanks again for bringing this to our attention, @altano! It sparked some discussion, and we ultimately opted to go for what had a lower chance of not working for people. (I think a good choice.)

[2022-09-07 12:38] sarah11918 commented on #1269
@timfee I hope you don't mind a ping here! I know that you most recently added some helpful node version info to our Cloudflate docs, and I was wondering whether you had any comment on accessing environment variables and KV namespaces within Astro?

I'm not familiar with Cloudflare personally, so I'm not sure whether this is getting into documentation that one would expect to find on Cloudflare's

[2022-09-07 14:43] sarah11918 commented on #618
Also adding, it constantly comes up that people click on our language picker instead of the search bar when searching!

[2022-09-07 15:37] sarah11918 commented on #618
@mayank99 If you are interested in contributing to a less-confusing design, this would be the place to say so! (Just to make sure we get all the search stuff discussed here, and form and function work together.)

[2022-09-07 15:54] sarah11918 commented on #918
Feels like maybe a good time to break this up into tasks? @hippotastic @delucis ?

Seems like:
✅ 1. making code samples copy/pastable seems like a more straightforward, and immediate task (especially since that will help us with the tutorial!) WANT! SOON(ish)!

❌ 2. Link to Stackblitz I think becomes less desirable since we expect to have some embeddable, interactive components eventually thanks t

[2022-09-07 15:55] sarah11918 commented on #967
@delucis If we plan to move much content OUT of the READMEs and into Docs itself, then what's the priority on this, do you feel?

[2022-09-07 15:59] sarah11918 commented on #209
I assigned this to you @delucis so it would show up on your tracker, and you can triage it from there! Are we still considering these items? Are they for this sprint! Only your tracker knows.... 😄

[2022-09-07 16:01] sarah11918 opened #1479 "[add] Where do I put my Global Stuff? BaseLayout recommendation?"
From @mayank99's observation in Discord:

And @delucis's response:

[2022-09-07 16:06] sarah11918 commented on #1059
@hippotastic I'm not sure whether you have seen this Issue, but I'm tagging you in to comment here about what this might look like, how much work this might be, and whether there is any good reason not to try to do this!

[2022-09-07 16:06] sarah11918 commented on #1057
Can this be automated from the pinned status tracking issue @hippotastic ?

[2022-09-07 16:09] sarah11918 commented on #1058
Pinging @hippotastic again on this for comments on how much work this is, since I'm not sure he has been in this issue! What are you comments, Hippo?

[2022-09-07 16:10] sarah11918 opened #1480 "Notify translators when English pages are changed?"
How can we notify tranlsators when English pages are changed, in case they have open PRs or are currently working on that page's translation? What will a translator need (or find convenient) in this case that we can provide?

Can this be related to Docs congratsbot somehow? Is DocsCongrats bot ENOUGH, if we document, remind translators to pay attention to it?

Original Message:
"Can we post a mess

[2022-09-07 16:15] hippotastic commented on #918
Hello again! :)

1. As we discussed, I'm already working on the code snippet package right now. :) The copy & paste function will be a part of it, so that's something we don't even need to track here anymore IMO because it lives in a separate repository anyway.

2. I agree that it's unclear if we really need/want to send people off to StackBlitz etc. - keeping people in the docs would be preferabl

[2022-09-07 16:17] sarah11918 opened #1481 "Display the "freshness"/status of a translated page"
Is it possible (desirable?) to display the "Freshness" of a translated page directly on it? (If so, where? Near "edit this page?.")

This could be a good way for translators to be on a page and know that it does/doesn't need an update, as well as being an indication to the reader that the English page might be more updated. (We already "know" if a page is not updated, because of the disclaimer at

[2022-09-07 16:24] hippotastic commented on #883
I still like this idea, but I'm not actively pursuing it and don't have plans to do so in the near future.

In case it helps to make an implementation through another developer more likely: This logic doesn't need to be a part of Link Checker at all. :)

Given recent developments (I'm working with another developer on externalizing Link Checker into a separate repository & GitHub action), I would

[2022-09-07 16:26] hippotastic commented on #1059
I have seen it and I think it's a great idea! I have no time to work on this however, so if anyone else wants to give it a shot, feel free. :)

[2022-09-07 16:27] sarah11918 commented on #918
Taking Hippo's advice and closing these as non-trackable here!

[2022-09-07 16:27] #918 closed

[2022-09-07 16:34] sarah11918 commented on #883
Given that this is not a link checker thing, and will not be a Hippo thing, AND since we know planned docs reorganization, which will involve breaking links, is coming in the next few months... I'm going to close this with "when we plan for moving stuff, let's make sure redirects are part of that plan." If we have a solid redirects plan, then that should also mean our editor links are covered.

[2022-09-07 16:34] #883 closed

[2022-09-07 17:00] hippotastic commented on #918
Hey @kylebutts, thanks for chiming in on this again! I completely understand how this would work *technically*, my issue with this idea was from a *docs content* perspective:

I did a quick walk through our existing docs, trying to find code samples where the "implied" left out code would actually be the reason why a copied & pasted version would not work. From what I've come across, we usually us

[2022-09-07 17:24] Jutanium opened #1482 "Clarify that Astro always treats your code as TypeScript"
Coming out of a conversation with @Princesseuh and @bholmesdev, we want to make two things clear in the docs:
- Even if you try to opt-out of TypeScript by removing the `tsconfig`, Astro and the language tools treats your code as TypeScript
- A "why TypeScript" note: _why_ does TypeScript help you as you use Astro?

Will draft the PR

[2022-09-07 19:31] delucis commented on #1480
I think this might be a duplicate of #1057?

[2022-09-07 19:54] mayank99 commented on #618
Yeah, if you have a general idea of what you would like the new design to look like, I can implement it and submit a PR.

I was thinking of doing three things:
- remove the border from the language select
- make the language select smaller
  - the longest language names is _Português do Brasil_. maybe we can remove "do Brasil" from it? truncate? abbreviate to "BR"?
- make the search field slightly

[2022-09-07 20:45] delucis commented on #618
I wonder if the key issue is actually the field width like @mayank99 suggests in the final bullet point — certain expectations between how wide a search box is vs a drop-down. Here’s a simple tweak on that front (would truncate Portuguese but we can do that with `text-overflow: ellipsis; overflow: hidden` for reasonably nice styling):

<img width="853" alt="astro docs with wider search box and nar

[2022-09-07 20:49] delucis commented on #618
Oh and I guess the other thing to consider is something like shape. Round ends for search boxes are not uncommon:

<img width="580" alt="astro docs search box with rounded ends" src="https://user-images.githubusercontent.com/357379/188975501-a359bc90-d8dd-4d37-beab-1dacc7550fa9.png">

[2022-09-07 20:52] sarah11918 commented on #1480
Ah! Yup, about pinging, though this was specifically aimed at letting translators know ASAP so as not to mess up their current work, vs a more regularly-scheduled shoutout.

I made this from an un-issued task in #359 but can link there to the other one instead.

[2022-09-07 20:55] delucis commented on #1480
Ah right. I’m not sure of the benefits of over-eager pinging — I suspect it could get kind of annoying, especially as folks aren’t necessarily sitting around just desperate for the next English changes to come in. I personally think the weekly digest would be a more friendly way to regularly prompt and batch up work.

[2022-09-07 20:55] sarah11918 commented on #1057
Adding a closed issue's content here, which is similar but different:

How can we notify tranlsators when English pages are changed, in case they have open PRs or are currently working on that page's translation? What will a translator need (or find convenient) in this case that we can provide? Is a "Tuesday Ping" enough or do we want something more instant?

Can this be related to Docs congratsbo

[2022-09-07 20:56] sarah11918 commented on #1480
Yup, closing this one now, added the content to the existing issue as a consideration, but unsure about helpfulness of a more frequent ping!

[2022-09-07 20:56] #1480 closed

[2022-09-07 22:21] delucis commented on #967
Depends if we're still using asides in the shorter READMEs or not. I think someone mentioned some things staying README-focused (like Tailwind & Partytown) but if those are the only ones that's one warning instance I can spot currently.

Not _high_ priority I'd say.

[2022-09-07 22:24] delucis commented on #209
The first of these is maybe not that useful. Auto generating CLI docs seems potentially interesting but not a high priority especially now things are changing less frequently, so I think I'll close this one and we can reconsider if something makes us think we want that.

[2022-09-07 22:24] #209 closed

[2022-09-08 08:57] hippotastic commented on #1057
Regarding the idea of sending a weekly Discord notification containing new additions to the out-of-date pages list: Yes, this can be automated, and I think it's not super hard to implement either! :)

All the information we need for this task should already be present in the JSON state data contained in the issue, and it should be possible to develop an additional script that gets triggered by a w

[2022-09-08 09:03] hippotastic commented on #1057
The "automatically add a comment to open translation PRs when the English source page got changed mid-flight" part you copied over from the other issue is a completely different story, by the way. This would require a lot of additional API calls and I'd consider this out of scope for now.

[2022-09-08 09:12] hippotastic commented on #1058
I'm not familiar with any of this, unfortunately. I never used the `NavDictionary`, `UIDictionary` or `public/captions` folder and have no idea how we could best check translation status/freshness for these. Maybe someone else who developed these features could chime in?

[2022-09-08 09:21] hippotastic commented on #1058
I'm also not sure how we could best integrate those files into the translation status data structure, or into the visual presentation in the issue.

The file name of the one file we currently have in `public/captions` doesn't look user friendly at all (it's literally `169920154-4b42fc52-e2b5-4ca4-b7d2-d9057ab42ddf.vtt`), and this would completely destroy the overview table if we don't find another

[2022-09-08 10:24] Yan-Thomas commented on #618
the longest language name is Português do Brasil. maybe we can remove "do Brasil" from it? truncate? abbreviate to "BR"?

I believe using the language's BCP flag is the best approach here. It's short enough and avoids ambiguity. For example, removing "do Brasil" would make people believe it's European Portuguese instead.

Thanks for the willingness to tackle this @mayank99, you're awesome!

[2022-09-08 13:01] sarah11918 commented on #1407
Hi @paolotiu - just following up here: are you still willing to give an example here of what you would PR, and where you think it would go in the docs?

[2022-09-08 13:03] #1103 closed

[2022-09-08 13:17] sarah11918 commented on #811
Closing this as a docs issue for now as we will not be able to prioritize it yet, adding to the something to consider for later pile

[2022-09-08 13:17] #811 closed

[2022-09-08 13:27] sarah11918 commented on #1057
Haha... thanks Hippo! And, welcome to the "discovered the character limitation" club!  🥳

Yes, the automated comment in real-time was out of scope, but I wanted to simply capture that we *considered* the idea of having this happen automatically, but I think we already informally decided that would create too many pings (in addition to being a different technical challenge!) and that doing this on

[2022-09-08 13:31] sarah11918 commented on #967
And, if we NO LONGER IMPORT the content from the READMEs (still an "if" at this point), but instead just link to them in Docs... then we just standardize those README.md files with GitHub aside notation as necessary (whatever remains) but wouldn't need a plugin for docs?

[2022-09-08 13:36] sarah11918 commented on #1058
Agreed - don't want that video file in the table!  😅

So, to clarify (taking video captions out for a moment), this becomes an issue when we reorder/change the contents of the sidebar nav, right? Which doesn't happen super often, and is usually a big enough deal that it is only done with EXTREME CONSULTATION among us Docs Maintaners, and we can build it into our process?  (Even if our process is,

[2022-09-08 17:17] Yan-Thomas commented on #1058
I think for the dictionaries the best approach is to just track them like a regular page. Most of the time we are changing the `nav.ts` with page updates, so translators are generally aware of the changes done there. But, like when we changed some of the sidebar labels and order, as there is no page being directly affected, we have to manually make them aware of this. The same happens with `ui.ts`

[2022-09-08 17:35] hippotastic commented on #1058
What do you think, @delucis ? Is tracking the dictionaries without special processing just like regular pages BTWWHB and good enough? If so, I can add them to the status tracker without any problems.

[2022-09-08 23:50] delucis commented on #1058
It's definitely BTWWHB! The only thing I'm not sure of is that I've often seen people only translate a few of the items in the nav for example. If we go with this we'll need to be a bit more careful with ensuring people do the whole navigation file at once.

Possible further enhancement would be a "percentage done" where we count the keys in a translation file and compare it to the English equival

[2022-09-09 07:24] hippotastic commented on #1058
Yes, that was my primary concern as well. But I'm happy to give it a shot - let's try to pay attention to this when reviewing PRs. :)

The "percentage done" indicator is an interesting idea for future enhancement, but let's keep it out of scope for now. If we decide to add this later, we need to pay attention if we can combine this with a freshness indicator of the whole page or if it needs to rep

[2022-09-09 07:31] delucis commented on #618
I'm not sure about using the BCP tags as I don't know how familiar everyone is with those. For some of our languages that would also mean a label in a different alphabet from that language's main alphabet. I think visually truncating the label for Portuguese but otherwise leaving the content unchanged is ok: "Português d…"

[2022-09-09 10:05] redwerkz commented on #1103
OK, sorry I'm quite busy atm.

[2022-09-09 13:00] mayank99 commented on #618
Agree with this. Languages <=> Flags is not a 1:1 mapping. Plus, with truncation, the user can still see the full name if they open the select menu.

[2022-09-09 16:10] #1410 closed

[2022-09-09 19:36] susickypavel opened #1517 "`@astro/image` should call out usage of content-visibility attribute"
Hi 👋

Today, I've spent a large amount of time debugging an issue about image not rendering when coming to viewport. After checking my code for flaws in animation, I found out that the issue was usage of `content-visibility` property which should alter the default behaviour of image rendering. It should be mentioned in some way that this property is declared by default by Picture/Image.

[2022-09-10 02:05] paolotiu commented on #1407
Hi @sarah11918! Sorry for the late reply. Here's a draft of what I would write.

is:inline doesn't get processed by the astro compiler, so it will load as is where it is placed. This means some dom contents may not have loaded when the script runs. If you want to target dom nodes, it is recommended to use `document.addEventListener("DOMContentLoaded, fn)` . This waits for the whole dom to load bef

[2022-09-10 15:06] #1154 closed

[2022-09-10 21:10] delucis commented on #1265
As this is essentially a Vite configuration option, I think we can probably avoid documenting this in the Astro docs. In general we tend to encourage explicit imports (e.g adding `@use "variables.scss" as *;` to each `.scss` file or `<style>` block, but it’s nice to know this option is out there for people who need it.

[2022-09-10 21:10] #1265 closed

[2022-09-11 14:24] pinnheads opened #1535 "Broken link on Environment Variables section of Docs"
The link to [Environment Variables example](https://github.com/withastro/astro/tree/main/examples/env-vars) on the page "[Using environment variables](https://docs.astro.build/en/guides/environment-variables/)" seems to be broken.

**Steps to Reproduce**
1. Navigate to [https://docs.astro.build/en/guides/environment-variables/](https://docs.astro.build/en/guides/environment-variables/)
2. Click on

[2022-09-11 14:31] delucis commented on #1535
Wow, amazing timing @pinnheads! We literally just merged #1531 fixing this!

Thanks nevertheless for the report — we removed that example recently but forgot to delete the link 🙌

[2022-09-11 14:31] #1535 closed

[2022-09-11 14:35] delucis commented on #1517
Tagging in @tony-sull for an opinion here so we can discuss what kind of docs this might need.

[2022-09-11 21:20] Thesoreon commented on #1517
I think it could be batched together in some callout. I'd like to see something like that Image and Picture components are optimized by default by the integration, so attributes like `loading`, `decoding` and attribute `content-visibility` have optimized defaults (but they could lead to weird edge-cases). Since lazy loading images that are in initial viewport is wasteful and it have negative impac

[2022-09-12 19:48] Jutanium opened #1539 "Gotcha: style object custom properties are transformed from camel case to kebab case"
See [here](https://discord.com/channels/830184174198718474/872579324446928896/1018807581600382978).

[2022-09-13 18:52] #1418 closed

[2022-09-13 20:49] pqxglobal opened #1555 "Image tag"
After replacing html img tag with Astro Image tag image was not visible. tried multiple times to reload dev server, refresh page and adjust the path without results. Then I just cut the <div> tag en paste it again, and the image shows.
<div>
      <Image src="/images/Ellipse_4.png" width="114px" height="114px" alt="Donnajean	Critzen" format="webp" fit="cover"
      background="#0F172A" />
</div>

[2022-09-13 20:51] delucis commented on #1555
Hi @pqxglobal! Thanks for the report but this is the Astro documentation repo. Please fill in the form here to submit an Astro bug report: <https://github.com/withastro/astro/issues/new?assignees=&labels=&template=---01-bug-report.yml>

[2022-09-13 20:51] #1555 closed

[2022-09-13 21:06] pqxglobal commented on #1555
Thanks delucis,

I will fill out the right form.

Regards Leo

[2022-09-13 21:53] mrienstra opened #1557 "examples: drop "with Shiki", add "with Prism""
_**Note:** this issue proposes code changes to `withastro/astro/examples`, but the only way to make a new issue on `withastro/astro` is to [open a "Bug Report"](https://github.com/withastro/astro/issues/new/choose), so here seems like the next best option, as it arguably falls under the umbrella of "documentation"._

_**Note:** "examples" are also referred to as "templates" or "official example pr

[2022-09-14 09:20] mrienstra opened #1558 "manual install: tsconfig.json; maybe src/env.d.ts"
https://docs.astro.build/en/guides/typescript/#setup says:

(this paragraph was improved very recently, see https://github.com/withastro/docs/pull/1509/files)

Seems like https://docs.astro.build/en/install/manual/ should at least briefly mention `tsconfig.json`, if not outright have a step in which you make it. Imagining it makes sense as a new step 5, before the current step 5 (which would then

[2022-09-14 11:00] sarah11918 commented on #1558
Thanks @mrienstra! We have very recently updated our TypeScript configuration (and advice), and I think you're right, something on the manual install page would be helpful.

My initial thinking is your Option #1 (to say, create this file with this content) could go immediately after our Step 5, where we instruct to do exactly that with the `astro.config.mjs` file. So, it would seem to be entirely

[2022-09-14 11:12] sarah11918 commented on #1557
Hi @mrienstra! This isn't really a docs issue at all, but it is good feedback! (For reference, I think it would have been fine to open this as a bug report and let the team triage it. Or, we do have a #feedback channel in our Discord where people will often bring up issues like this that are more "feedback" in nature!)

I will mention this to @bholmesdev and other core members who may decide to re

[2022-09-14 11:12] #1557 closed

[2022-09-14 11:23] sarah11918 commented on #618
Just chiming in to say that I like both the change in field with, and the pill/rounded idea for the search bar!

[2022-09-14 16:41] bholmesdev commented on #1557
Thanks @sarah11918! Just discussed with core, and it sounds like a `with-prism` would be pretty helpful as a link from our docs. I'm in favor of creating a `with-prism`!

[2022-09-14 19:34] mrienstra opened #1566 "Minor: Type checking: --noEmit likely redundant"
https://docs.astro.build/en/guides/typescript/#type-checking suggests `tsc --noEmit`, but `noEmit` is included in [packages/astro/tsconfigs/base.json](https://github.com/withastro/astro/blob/77ce6be/packages/astro/tsconfigs/base.json#L13-L14), which most Astro project will use (included automatically in all projects generated  with `create-astro`). A few thoughts:

1. Part of me feels like it shou

[2022-09-14 21:04] Jutanium commented on #1407
I'm not sure that documenting how to use `DOMContentLoaded` (and its alternatives) fit within Astro docs (but might be a great addition to a future restructuring where we have room for guides or recipes). Trying to access elements too early is really an HTML/JS concern, and an involved one to explain thoroughly!

As for `defer` and `async` - these do not work on inline script tags in normal HTML,

[2022-09-15 04:18] paolotiu commented on #1407
Agree! I think clarifying `is:inline` would be a better since its in the scope of Astro. Thanks for the work dan!

[2022-09-15 04:18] #1407 closed

[2022-09-15 09:23] christ-offer opened #1569 "Deno Deploy - Following docs gives a "document not defined" error."
First off, I'm not quite sure if this is specific to my use case or it happens to everyone.

I recently tried following the deno-deploy docs with a small astro blog. The deno logs threw a "document is not defined" error, in my case on line 8860 in entry.mjs.
When I checked the code in the dist folder that the error referred to it was this:

[code]

After removing this code, the deploy went fine.

[2022-09-15 14:24] sarah11918 commented on #1539
(Copied text so it's easier to keep an eye on from a distance)

toonddd — 09/12/2022
Astro automatically transforms component style object custom properties from camel case to kebab case.

What is the original reason/benefit for doing so?

From my current perspective it looks unnecessary and even confusing, added complexity.

nate (he/him) — 09/12/2022
Ah this is a good point! Nobody has ever brou

[2022-09-16 19:29] AadityaJain-Dev opened #1577 "The emoji on third point "mix & nest frameworks together" is broken"
![Broken emoji](https://iili.io/iIlaFj.png)

I have tried loading the page in a few different browsers & devices but it was not loading in any of them

URL: [broken emoji page link](https://docs.astro.build/en/guides/integrations-guide/react/)

I am using Win 10  (Version 10.0.19044 Build 19044)
The emoji is not loading in my chrome & edge
Google Chrome Version 105.0.5195.102 (Official Build) (64-

[2022-09-17 03:09] SaulR07 opened #4003 "Astro does not refresh with Docker"
### What version of `astro` are you using?

1.2.6

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

npm

### What operating system are you using?

Windows

### Describe the Bug

I create my astro image in docker

[code]

I build my image with the following command

` docker build . -t astro-image
`

I run my container with this command

` docker r

[2022-09-17 16:02] connor-baer opened #1589 "Cannot access MDX exports in layout file"
### What version of `astro` are you using?

1.2.6

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

npm

### What operating system are you using?

Mac

### Describe the Bug

Variables that are exported from an MDX file aren't accessible in the layout component.

[code]

[code]

The docs on [MDX variables](https://docs.astro.build/en/guides/integra

[2022-09-19 12:05] delucis opened #1586 "Make screen reader section labels translatable"
We use custom configuration `rehype-autolink-headings` to wrap our headings and add the clickable link icon. This includes a screenreader label which we inject but this is currently hardcoded in English:

https://github.com/withastro/docs/blob/41ea6653d78cfa90d96cd41019dbf1440a07f2af/astro.config.ts#L37

We should make this translatable like our other language strings.

[2022-09-19 15:58] #1577 closed

[2022-09-19 20:58] delucis opened #1587 "Document dynamic tag limitation"
We document a useful dynamic tags pattern here: https://docs.astro.build/en/core-concepts/astro-components/#dynamic-tags

TIL that this does not work for `client:*` components and we should document this caveat.

Details here: https://discord.com/channels/830184174198718474/1021446382982266910/1021468769102598206

[2022-09-19 21:32] Jutanium opened #1588 "Gotcha: passing functions as props"
- You can pass functions as props to Astro components, and they can use them in frontmatter / to determine what to render.
-  But you can't pass functions as events to elements. There's a common "gotcha" moment we see when a user tries:
[code]
- You can pass functions from Astro components to framework components, but _only_ if they don't have a client directive. This is both a gotcha and just inf

[2022-09-19 21:57] BryceRussell opened #1590 "Update/New Option for Fetching Remote Markdown"
Currently the section on [Fetching Remote Markdown](https://docs.astro.build/en/guides/markdown-content/#fetching-remote-markdown) states:

But there is a community made package that allows you to do this [@astropub/md](https://github.com/astro-community/md) which makes it easier to have parity between rendering markdown from files and strings from remote sources

I want to suggest that the docs m

[2022-09-19 22:18] delucis commented on #1590
Does this work in SSR deployments? Looks similar to Astro's `<Markdown>` component (down to using the same Astro internals). That is now in a separate package and not recommended because of its lack of SSR support.

[2022-09-20 02:38] BryceRussell commented on #1590
I thought it did work with SSR but I have only used the dev server and have never tested a deploy so I deployed a small test to Netlify and I got this error

`Error - Cannot find package 'remark-gfm' imported from /var/task/.netlify/functions-internal/entry.js`

So like you said it looks like it doesn't work with SSR which is sad because it is an otherwise awesome package, I will have to keep this

[2022-09-20 06:17] angelcervera opened #1591 "Param can be a numer or not?"
From the [documentation](https://docs.astro.build/en/reference/api-reference/#params):
[code]
So the comment is clear: **``{ params: { id:  3  } }  // Can be a number too!``**

but if executing this code, I get the following error, so looks like it cannot be a number!:
[code]

What is wrong? The documentation or Astro engine? I'm using **astro 1.2.3**

[2022-09-20 10:21] delucis commented on #1590
Right — both those external packages are cool but maybe we should leave them to document their caveats as we can’t cover all of that in the main Astro docs. In the meantime the documented solution should work although it is a shame it can’t support the full power of the remark ecosystem.

I’ll close this for now, but thanks for bringing it up!

[2022-09-20 10:21] #1590 closed

[2022-09-20 14:00] delucis commented on #1591
Thanks for the issue @angelcervera! Just checked with the core team and it sounds like the docs are outdated and we shouldn’t show that line where a param can be a number.

Would you like to open a PR fixing this or should I?

[2022-09-21 09:55] angelcervera commented on #1591
@delucis I would fix it, but not sure if is a bug in the documentation or in the implementation. Could you confirm that the documentation is outdated?

[2022-09-21 09:59] angelcervera commented on #1591
@delucis Create PR #1594

[2022-09-21 13:38] #1591 closed

[2022-09-21 14:13] #1558 closed

[2022-09-21 16:55] arturogh opened #1597 "Image component - add more detail to quality prop"
Hi, I think it would be useful to know more about the quality prop for the Image component. I know it's a number, but unsure what are good (recommended) "quality" numbers. Also, what is the default value?

Page: https://docs.astro.build/en/guides/integrations-guide/image/#image-

[2022-09-21 18:35] mrienstra opened #1598 "Add `PackageManagerTabs` to integration guides"
It would be rad to get `PackageManagerTabs` into the integration guides.

Example:
https://docs.astro.build/en/guides/integrations-guide/#1-tab.npm
Source:
https://github.com/withastro/docs/blob/e0d8412/src/pages/en/guides/integrations-guide.md?plain=1#L33-L49

The challenge is that the integration guides come from `withastro/astro`, e.g.:
https://github.com/withastro/astro/blob/ea37de8/packages/i

[2022-09-22 18:08] jasikpark opened #1607 "Document configuring `tsconfig.json` for every integration"
It'd be great if the docs like https://docs.astro.build/en/guides/integrations-guide/react/ also had guides for how to set up the types & keep them up-to-date w/ astro's react so that `npx astro check` and `npx tsc -p ./tsconfig.json` both work great!

For example, we use `@astrojs/react`  and `@astrojs/image` at my job and our tsconfig looks like:

[code]

I needed to switch to `react-jsx` to get

[2022-09-22 18:26] mrienstra commented on #1598
Another use case for modifying `.md` that moves from `withastro/astro` to `withastro/docs`:
https://github.com/withastro/astro/pull/4738#discussion_r977079477

Starting with a blockquote "note" (see https://github.com/community/community/discussions/16925):

[code]

... Which would render on GitHub as:

... And could then be transformed into:

[code]

... For the Docs site.

[2022-09-22 18:41] sarah11918 commented on #1598
Yup, you caught my comment there, and not sure whether you noticed the follow up comment that our plan is in fact to move this content into Docs itself, and out of those READMEs in the following weeks. So this will be easy to do once we've pivoted to that, but is a pain in the butt to think about right now!  😆  (Especially given that we are making a plan so we won't need any workarounds at all.)

[2022-09-22 18:59] sarah11918 commented on #1597
Hi @arturogh, thanks for this, and I agree!

I'm going to reach out to @tony-sull on this one for some clarification, and I think that would be a really helpful addition to our docs. Thank you!

[2022-09-22 19:07] sarah11918 commented on #1587
I think this was closed by #1596? Closing here, but reopen if I got this wrong!

[2022-09-22 19:07] #1587 closed

[2022-09-22 19:13] sarah11918 commented on #1566
Now that we've done so much TS doc'ing lately... I'm going to ask @Princesseuh if she'd like to weigh in on this!

It sounds like the docs are not *wrong* currently, just maybe suggesting something redundant for some (most?) people. I am happy to follow Erika's lead on this one as to what is most helpful to have.

[2022-09-22 19:15] sarah11918 commented on #1517
11 days is a long time in Astro Image Integration land!  😅

I will make sure that I touch base on this with @tony-sull as developments are happening rapidly, and we'll keep this on everyone's radar!

[2022-09-22 19:16] mrienstra commented on #1598
I saw that, I just interpreted "We eventually _do_ want most of this" as "someday maybe hopefully", didn't realize it was a "following weeks" thing! 😅

Will all docs be moving? Or I guess more to the point, integration docs as well? I'm imagining more or less all of the `README.md` files having a few paragraphs of content at most, with a link leading to the Docs site?

Very very minor downside bei

[2022-09-22 19:20] sarah11918 commented on #1598
It is absolutely on the radar for this quarter, yes. It's in the sprint planning! Trust me, no one more than me wants to extract content out of those README's.  😅

So, I think we are willing to live with the equivalent of what you added to the integration docs (one code snippet showing 3 installation commands) rather than worry about rendering across entirely different platforms.

Closing this iss

[2022-09-22 20:41] #1566 closed

[2022-09-23 09:09] delucis commented on #1587
Yes! Thank you 💜

[2022-09-23 12:28] delucis opened #1615 "Escape `--flags` in Discord CongratsBot"
We generate a Discord post congratulating commit authors using [a workflow](https://github.com/withastro/docs/blob/main/.github/workflows/discord-congrats.yml) and [custom script](https://github.com/withastro/docs/blob/main/scripts/congrats-bot.mjs).

A couple of times now, commits containing something like a shell flag, e.g. `--template` or `--experimental-integrations`, has broken the formatting

[2022-09-23 13:12] #1258 closed

[2022-09-23 14:52] Jutanium commented on #1455
Docs team discussed; the remaining use case to document is when using a non-ESM package. We can note this in Troubleshooting and link from our static assets page

[2022-09-23 17:19] Princesseuh commented on #1616
Hello, moving this to the docs repo so our docs team can triage it (and fix it depending on how they see fit)! cc @sarah11918

[2022-09-25 21:30] Jutanium opened #1618 "Document `all`, `del`, and other possible API route functions"
Right now, we only show  _get_ and _post_ in our [API routes docs](https://docs.astro.build/en/guides/server-side-rendering/#api-routes), but there are other possible functions.

This should most likely be part of the [endpoints guide](https://github.com/withastro/docs/issues/760) we're planning.

[2022-09-27 13:48] Jutanium opened #1631 "Dynamic routes section assumes SSG mode"
In our [Dynamic Routes](https://docs.astro.build/en/core-concepts/routing/#dynamic-routes) documentation, we assume that `getStaticPaths` is required, and don't mention SSR mode, where it is ignored.

We do print a warning when `getStaticPaths` is used in SSR mode, but there's still a potential gotcha here of a user copy-and-pasting an example when they're in SSR mode and wondering why it isn't wo

[2022-09-28 07:16] ilyaspiridonov opened #1635 "Consider using Gitlocalize to set up docs translations"
Gitlocalize.com -- it's free and should work well for continuous translation of .md files

[2022-09-29 13:55] sarah11918 opened #1642 "CSS specificity example"
Make sure the order of CSS styles applied is clearly documented, as per the description here:  https://github.com/withastro/astro/issues/3357#issuecomment-1262247873

I propose adding this right before CSS Integrations as an `<h2>` ~~maybe `## CSS Specificity` or `## Style Specificity`~~ (See attached screenshot for placement) since it builds off of both the Astro `<style>` tag and importing exter

[2022-09-29 14:03] Jutanium opened #1643 "Document `base` more clearly"
Our current docs for [base](https://docs.astro.build/en/reference/configuration-reference/#base) says that we will start your server at the specified path (so `localhost:3000/base` rather than `localhost:3000`). But what else does it do? It can seem like it's supposed to affect your import paths (see [this support thread message](https://discord.com/channels/830184174198718474/1023967842112118895/

[2022-09-29 14:22] mogeko opened #1644 "Translate Documentation for Integrations"
Hi, everyone.

I found that all documentation about Integrations is not included in [this repository](https://github.com/withastro/docs/tree/main/src/pages/en/integrations) (either official or unofficial), but they are included in [astro's docs site](https://docs.astro.build/en/guides/integrations-guide/mdx).

Now, I would like to ask, what should I do if I want to submit translations for [@astro/

[2022-09-29 14:28] #1644 closed

[2022-09-29 14:28] mogeko commented on #1644
Because some Integrations are quite important, such as [@astrojs/mdx](https://docs.astro.build/en/guides/integrations-guide/mdx/),[@astrojs/tailwindcss](https://docs.astro.build/en/guides/integrations-guide/tailwind/), [@astrojs/image](https://docs.astro.build/en/guides/integrations-guide/image/), and so on.

[2022-09-29 14:50] sarah11918 commented on #1616
Hi @agamm @MoustaphaDev !

The instructions do say to `use your favourite package manager to run this command` and slightly below where your screenshot ends is an example of the specific command to use for each different package manager.

I'm just checking that the documentation below is not clear enough? We do say `astro dev` in the text so that we name "the Astro dev command" as a general concep

[2022-09-29 15:05] matthewp commented on #1642
Specificity is the weight of selectors, iirc, and order is something else if I'm reading this note correctly: https://developer.mozilla.org/en-US/docs/Web/CSS/Specificity

From this: https://developer.mozilla.org/en-US/docs/Web/CSS/Cascade#cascading_order I think ordering is being called **Order of appearance**.

So probably the heading shouldn't be CSS Specificity but something else that both cov

[2022-09-29 15:11] sarah11918 commented on #1642
Great link. Sounds like "Order of appearance" is one of the 4 factors taken into consideration to determine the Cascading Order, with Specificity being another.

So, I think that "Cascading Order" should include both, and will be a heading that is meaningful to people searching. I'm going to update the original comment suggesting that heading!

[2022-09-29 18:15] jasikpark commented on #1642
It could be good to link to example stackblitz projects for these too maybe?

[2022-09-29 18:17] jasikpark commented on #1642
It'd be good to document how tailwind and other css libs interact, right? or does that fall into "global styles that you import into your astro files"

[2022-09-29 18:21] matthewp commented on #1642
Tailwind uses `injectScript` integration API which puts an import statement at the top of your page files. So it's the same as you importing a CSS file first, before other imports. But since Tailwind is widely used it wouldn't be a bad thing to explain that too.

[2022-09-29 20:53] #760 closed

[2022-09-29 20:53] #1618 closed

[2022-09-29 22:59] sarah11918 commented on #1642
Quick note to check on and include in documentation: if importing a layout and another component, the order of the import statments might affect the cascading order as mentioned here:  https://discord.com/channels/830184174198718474/1012063538786873464/1025174614940336128

[2022-09-30 00:15] jasikpark commented on #1642
that's what i'm experiencing with 1.4.0 at least - i need to make sure that my layout that contains my global styles is the first import for my page so that those styles are added to the head first

[2022-09-30 07:43] Lofty-Brambles commented on #1615
This seems like a really easy fix, I'd like to work on it!
[Just a question, would this be considered as a hacktoberfest PR? Then I'd wait a day, otherwise it should be done in a bit.]

[2022-09-30 08:50] agamm commented on #1616
A simple fix would be `<package maanger> astro dev` or `npm/yarn/pnpm astro dev`?

[2022-09-30 11:20] WintrCodes commented on #1539
Would love to make this my first Astro contribution!
Are we wanting to add this as a 'Gotcha'/good-to-know part of the docs?

If so, I can put something together for it. Please assign to me! Thanks!

[2022-09-30 11:23] WintrCodes commented on #1479
This is actually something I want to understand personally, so once I've got that confirmed, I'd be happy to put this into the docs for others who may also be a bit confused/unsure about it.

Feel free to assign to me, and I'll have a chat with folks in the Discord for a 'best practice' approach!

[2022-09-30 11:57] sarah11918 commented on #1479
Woo, @WintrCodes! Thanks for stepping up!  🙌

Please do feel free to go start scouting and doing some research, chat ppl up in Discord!

[2022-09-30 12:00] sarah11918 commented on #1539
On a roll today with the contributions, @WintrCodes!  🚀

Sure, let's start by thinking of this as one of those "gotchas" for the Troubleshooting page! Depending on what you come up with, there may end up being a different fit, but I think thinking of it as troubleshooting advice makes a lot of sense to start.

[2022-09-30 16:25] sarah11918 commented on #1615
@Lofty-Brambles Wait a day!  😉  And thank you!  🥳

[2022-09-30 17:46] jasikpark commented on #1607
ah, okay - i guess it depends on which path you choose if you use different client types like in the case of @astrojs/image

[2022-09-30 17:56] Princesseuh commented on #1607
Even then, the main recommendation there is to update `env.d.ts` 😄 https://docs.astro.build/en/guides/integrations-guide/image/#update-envdts

`types` is a weird and misunderstood thing for many TypeScript users, I wish it was more clear that it makes things explicit

[2022-09-30 21:11] Lofty-Brambles commented on #1615
The script should be working properly - did a sneaky substitution there 🤣

[2022-09-30 23:05] #1642 closed

[2022-10-01 06:25] #1615 closed

[2022-10-01 19:10] Lofty-Brambles commented on #967
Was there any consensus on this issue? Standardizing would be quick PR to do :)

[2022-10-01 19:39] delucis commented on #967
As it stands currently, we would still need a custom remark plugin that maps GitHub's syntax to our custom aside syntax. Would love a PR for that if you think it's straightforward!

[2022-10-01 22:11] jackmerrill opened #1667 "Docker Deployment docs"
I've noticed the docs prioritize Astro deployment with serverless (or static) hosts. I personally use Docker for deploying things on non-serverless hosts, so I feel others should be able to do the same without having to do any research.

I can easily make a tutorial and make a PR.

LMK if anyone has any questions!

[2022-10-02 01:19] zihan-ch commented on #1643
That is right. Should we open a new PR now?

[2022-10-02 02:24] zihan-ch opened #1672 "Site style improvement"
Actually when I first saw the docs of Astro, I felt that it is a little ugly.🤣

Compared to most of the other doc websites, Astro Docs has a lot of differences:

1. Its homepage is separated from its docs(Or its docs are separated from its homepage). This caused that visitors cannot use their own languages at Astro's [homepage](https://astro.build). As well, it's kind of difficult to find the sour

[2022-10-02 20:33] sarah11918 commented on #1672
We have several short- and long-term goals for our docs! We are choosing to focus our current resources on the areas of most importance to us right now that we believe will help the most people as they learn and work with Astro. Specifically, we are most concerned with translations to reach as many people as possible and improving the organization of our content so that our important information i

[2022-10-02 20:33] #1672 closed

[2022-10-02 23:07] #1616 closed

[2022-10-03 03:25] EricSimons opened #1695 "Dev server slower boot time as of today"
Hi all- I've been playing with this docs repo recently and noticed that today it was far slower to boot up. I _think_ the issue began after the [og-image PR](https://github.com/withastro/docs/commit/6b78cffd72d2989af88ac160c2ac62e9a287656d) was merged but not 100% sure. The terminal is also showing this error about `The language "txt" doesn't exist, falling back to plaintext.`:

![Screen Shot 2022

[2022-10-03 07:23] zihan-ch opened #1696 "The Install Script is missed"
The install script in the docs is missed. It disappeared in all languages.
![Screenshot 2022-10-03 at 3 18 43 PM](https://user-images.githubusercontent.com/110709026/193521461-67e9e701-e1dc-42d6-bc68-6849e271d3a5.png)

Look at the Automatic CLI. The script disappeared. [See it here](https://docs.astro.build/de/install/auto/).

I am going to fix it.

[2022-10-03 07:41] darkRaspberry commented on #1696
The install script is there, Can you explain your issue.

[2022-10-03 08:42] zihan-ch commented on #1696
Sorry, my fault.

It is a little bit confusing😆. I thought that there must be a script (like shell or bash) under it, but now I found that it is actually for different ways to install it.

[2022-10-03 08:42] #1696 closed

[2022-10-03 10:11] zihan-ch commented on #1643
I am doing this at #1671.

[2022-10-03 17:52] #1482 closed

[2022-10-03 18:50] Jutanium commented on #1695
Thanks for reporting - we're all experiencing the same thing, and looking into it!

[2022-10-03 21:10] #1695 closed

[2022-10-04 06:08] mandar1jn opened #1714 "Github pages deploy arguments"
The Astro action for the github deploy guide has arguments that aren’t mentioned anywhere. Should I list and explain them?

[2022-10-04 07:56] delucis opened #1715 "Document that `markdown.shikiConfig.theme` can be a relative path"
It came up in a support thread recently that Shiki themes can be loaded by providing a relative path: https://discord.com/channels/830184174198718474/1026227648055222363/1026235701777412157

Would be great to add a small example [to the Markdown guide](https://docs.astro.build/en/guides/markdown-content/#shiki-configuration) as it’s not obvious what such a path should look like, but this is often

[2022-10-04 13:14] delucis commented on #1714
Sounds good — thanks @mandar1jn!

[2022-10-05 07:44] #1714 closed

[2022-10-05 09:34] sarah11918 opened #1722 "Update Markdown example showing rehype-minify plugin"
Our example for Markdown plugins (https://docs.astro.build/en/guides/markdown-content/#markdown-plugins) shows a rehype-minify plugin being used. But, this is a collection of plugins, not a plugin itself.

The plugin used in the example code should be replaced. Maybe the preset [`rehype-preset-minify`](https://github.com/rehypejs/rehype-minify/tree/main/packages/rehype-preset-minify) should be use

[2022-10-05 18:14] Jutanium commented on #1643
[This](https://github.com/withastro/astro/pull/4992) documents the current behavior, but we now know that this current behavior is unintended. Waiting on [this issue](https://github.com/withastro/astro/issues/4988) to be fixed, and then we'll need to document the corrected behavior

[2022-10-06 03:25] nujovich commented on #1715
Can I be assigned to this? I'd love to help

[2022-10-06 04:58] Artur-Galstyan commented on #1722
This is my astro config file using the rehype-preset-minify plugin, which leaves me with a "invalid input" error:

[code]

[2022-10-06 14:27] Jutanium opened #1732 "Cookies: Needs guide + examples"
Now that the [Cookies API](https://docs.astro.build/en/reference/api-reference/#astrocookies) is documented on our references page, we need to provide some instructional content and examples.

This probably makes the most sense on the SSR page, as cookies are specific to SSR mode.

[2022-10-06 14:29] Jutanium opened #1733 "Move `getStaticPaths` instructional content out of the reference page"
The `getStaticPaths` content on our reference page is not reference content - it's better suited for a guides page. We link to it on our Routing guide, but that Routing guide should be the home for this content.

We've also gotten feedback that `getStaticPaths` is particularly difficult to understand, so it's worth revisiting how we explain it when we integrate it into that guides page.

[2022-10-06 15:02] Jutanium commented on #1733
The tutorial presents `getStaticPaths` in a more friendly beginner way; our docs could build off of that for our explanatory content.

The examples in the dynamic route section need another pass; we've seen support threads of people being confused by them.

[2022-10-06 18:46] Jutanium opened #1736 "Elaborate on ecommerce in Why Astro"
We've had several comments as to what we mean by

([Discord message](https://discord.com/channels/830184174198718474/853350631389265940/1027626981677875350), [support thread](https://discord.com/channels/830184174198718474/853350631389265940/1027652015662313563))

We could take the ecommerce mention out of that sentence and add a new sentence that describes in more detail Astro's suitability for e

[2022-10-06 19:58] kevinzunigacuellar commented on #1715
You got it!

[2022-10-08 08:38] naveennamani opened #1750 "Supporting "Open in gitpod" for quick document changes"
As I've observed most of the recent pull requests consists of small document changes (like typos and translations) which requires the user to fork the repo, install all dependencies, test the changes and then push them.

This may not be a problem if the user is willing to contribute more than just typos, but in case of typos, this whole process is somewhat an overkill. So, I'm suggesting adding a

[2022-10-08 12:14] sarah11918 commented on #1750
Thanks for bringing this up, @naveennamani . I saw your PR first so I've just commented there.

The reason the file was originally ignored was to prevent people commiting back their own custom Gitpod settings, which used to happen. For very small typo changes, we normally suggest people use the "edit this page" and edit directly on GitHub.com to avoid the kind of overkill you suggest.

So, I'm not

[2022-10-08 17:16] naveennamani commented on #1750
Yes, even I thought of the same after creating the PR 😅. But just wanted to know your team opinion and glad to know that you also use gitpod.yml as part of your work. This only gives me confidence that we can atleast have a discussion on this issue.

As it was rather a small change, I made PR also. Now the biggest decision is to whether accept it or reject it :)

[2022-10-10 09:39] panwauu opened #1755 "Bug: @juanm04/astrojs-vercel showing up as official integration"
When filtering the [Integrations page](https://astro.build/integrations) and sorting by [`official`](https://astro.build/integrations/official/) one can see a `@juanm04/astrojs-vercel` integration showing up. This integration is not officially maintained and even links to the official vercel integration. Probably something that was forgot to change when making the integration official.

![image](h

[2022-10-10 21:49] mrienstra opened #1768 "Guide to official examples (templates)"
Reading https://github.com/withastro/docs/pull/1394 reminds me that I've been meaning to bring up the idea of a guide / overview of the official [examples (templates)](https://github.com/withastro/astro/tree/main/examples).

The intent is to make it a little more clear what each example demonstrates, to help guide people toward which ones to use as a starter, or which one to play with to understan

[2022-10-12 07:01] himanshu007-creator opened #1781 "Docs: Improvements for core-concepts/layouts"
In [core-concepts/layout page](https://docs.astro.build/en/core-concepts/layouts/#markdown-layouts), the markdown example can be improved to maontain continuity with above stated specifications, here (https://github.com/withastro/docs/blob/main/src/pages/en/core-concepts/layouts.md)

<img width="801" alt="Screenshot 2022-10-12 at 12 30 21 PM" src="https://user-images.githubusercontent.com/65963997

[2022-10-12 20:44] nzakas opened #1784 "Request: Add documentation on how to load data files"
I'm coming from both Jekyll and Eleventy, both of which have fairly straightforward ways to load data files (JSON or YAML).

Working with Astro, I can't figure out how this should be done. The questions I've encountered are:

1. Should I be using `fetch()` for this? [This page](https://docs.astro.build/en/core-concepts/astro-components/#the-component-script) seems to indicate that `fetch()` is the

[2022-10-13 05:33] Artur-Galstyan opened #1785 "Integration Page missing Link to Prism Docs"
On this website:
https://astro.build/integrations/official/

the integration box for Prism just links back to the main page instead of linking to this (for example):

https://docs.astro.build/en/reference/api-reference/#prism-

[2022-10-13 12:12] ShaswatPrabhat commented on #1785
Can I pick this up please @Artur-Galstyan ?

[2022-10-13 12:20] Artur-Galstyan commented on #1785
Of course 😊

[2022-10-13 12:36] ShaswatPrabhat commented on #1785
This would mostly mean a change in the `url` in `package.json` for the astro/prism package:

https://github.com/withastro/astro/blob/main/packages/astro-prism/package.json

Shall I rather open a PR against this package in the [astro](https://github.com/withastro/astro) repo ?

[2022-10-13 13:14] getflourish opened #1790 "Safari on macOS: Poor rendering performance"
**Problem**
Browsing and scrolling through the docs is very slow and laggy. High CPU usage. Especially when code blocks come into view.

- Intel MacBook Pro, 8 GB RAM
- macOS 12.4
- Safari

**Screen recording**
You can see poor scrolling performance, invisible content, flickering content.

- excessive CPU usage
- excessive memory usage, up to 300 MB graphics memory when scrolling

https://user-ima

[2022-10-13 13:24] getflourish commented on #1790
I think the issue in general are the amount of layers created. One reasons is the use of `filter`. The other issue is the opacity on `.heading-wrapper > .anchor-link`.

- 70 layers
- 344 MB memory
-  1529x16513 px compositing

<img width="1082" alt="image" src="https://user-images.githubusercontent.com/183989/195608606-e481ef37-f72a-41ac-9940-04409a8713f8.png">

[2022-10-13 13:29] sarah11918 commented on #1790
Thanks for this! Pinging @hippotastic so that he sees it, too!

[2022-10-13 13:30] ShaswatPrabhat commented on #1785
Thank you for the detailed explanation @sarah11918 !

[2022-10-13 13:34] sarah11918 commented on #1781
Hi @himanshu007-creator!

I'd be happy to have you make a PR to address those two specific issues! Thank you for offering to work on this. I believe your improvements will be helpful. When you make the PR please do mention that it "closes" this issue 1781, and I'll apply the hacktoberfest label to it.  🎃

[2022-10-13 13:40] sarah11918 commented on #1755
Thanks for bringing this up, and I agree this should be looked at! This isn't an issue for Docs, though, so I'm going to transfer it to the main `astro` repo.

[2022-10-13 13:43] sarah11918 commented on #1784
Thanks for this, @nzakas! I agree, this would be a helpful addition. In fact, you've already made some of us start to think of things to add ... 😄

Can I ask as a data point, where in our existing documentation would you think to look for this? It would be helpful to know where you might naturally look, or which keywords you might search in order to find this. We have some initial thoughts, but he

[2022-10-13 13:47] sarah11918 commented on #1750
Haha, always the decision!  😉

Yes, many of Astro's team do use Gitpod, although perhaps me the most, and also @aFuzzyBear. I would be interested to hear what he thinks! Fuzzy, do you think removing the gitpod file from gitignore makes sense? Or are there any Gitpod settings we want to impose on everyone, all the time (and, I suppose keeping the file in gitignore so that no one ever commits it bac

[2022-10-13 18:08] #1781 closed

[2022-10-13 20:52] ampmonteiro opened #1793 "[ Vanilla JS ] Examples how should be use"
The same way you have a section about UI framework, i think should exist a section with vanilla js because  the section astro components > client-side scripts is incomplete or too vague ( https://docs.astro.build/en/core-concepts/astro-components/#client-side-scripts).

In the section about vanilla js should exist clear examples as well as should exist a template for that in the cli and  in astro.

[2022-10-14 05:19] getflourish commented on #1790
Layers with and without the CSS filter. 84 layers vs. 14 layers. Together with the fixed elements on the page (body::before gradient and fixed sidebars) Safari starts sweating. Removing the filter alone doesn’t make performance perfect but acceptable :)

<img width="1082" alt="Bildschirmfoto 2022-10-14 um 07 16 42" src="https://user-images.githubusercontent.com/183989/195767853-a78e048a-5aac-479c-

[2022-10-14 12:08] sarah11918 commented on #1793
Hi @ampmonteiro, thanks for this comment!  I've been writing these Vanilla JS examples for our new tutorial this week, in fact! Once that is in our docs, we can think about where it might make sense to put some examples of things you can build with script tags only, without needing a framework.

I like your idea for a starter template that has some common website features pre-built with vanilla JS

[2022-10-14 21:22] ampmonteiro commented on #1793
hi @sarah11918 ,
i create this issue in sequence of this issue that i create in your astro repo ( https://github.com/withastro/astro/issues/5083),
and because even dont know where you should put you script tags, only in pages or you can put in components? is that best practice? when is bundling into separate file, when is not? And how i config to always bundle into separate file?

I think this are

[2022-10-16 18:59] Yan-Thomas commented on #1586
Thanks for raising this issue @delucis!

Considering rehype/remark plugins have no way of knowing the currently selected language (at least that I can think of), I can think of some ways of tackling this:
- Wait for the future docs migration to MDX and use a custom component that wraps headings and adds the screen reader label translated.
- Make a simple client-side script that changes the clickab

[2022-10-17 04:09] zenflow commented on #1667
I'm definitely interested in this, and a bit surprised that we don't already have it, since it's a generic non-vendor-specific way to deploy apps.

[2022-10-17 04:16] zenflow commented on #1667
I guess the way to deploy with Docker is basically just
1. use the [@astro/node adapter](https://docs.astro.build/en/guides/integrations-guide/node/) in "standalone" mode
2. Dockerize as you would a normal Node.js app

[2022-10-17 15:31] Tobeworks commented on #1667
So long this can be used for deploying to AWS or GCP, too:

Dockerfile
[code]
nginx.conf
[code]

Build:
[code]
Docker run (Port 8080):
[code]

[2022-10-17 16:05] qyurila opened #1802 "A video on @astrojs/tailwind page plays the voice only on left audio channel"
The installation guide video on [@astrojs/tailwind](https://docs.astro.build/en/guides/integrations-guide/tailwind/#installation) page has undesirable audio tracks. The voice is played only on left channel of stereo audio tracks. It makes one very uncomfortable when playing the video with their earphones or headphones.

It's possibly because of faulty record program or mic. Anyways, it can be fixe

[2022-10-17 21:59] delucis commented on #1586
I wonder if there actually is a way to do this at the remark plug-in level? I know Hippo added the `(EN)` suffix to links to fallback pages. Does that plug-in show how to get the current language of a page perhaps?

[2022-10-17 22:00] delucis commented on #1586
Yes!

https://github.com/withastro/docs/blob/e8072d37c207521c8f7e12fcc9e0f7f69c40156c/plugins/remark-fallback-lang.ts#L13

[2022-10-18 20:05] nzakas commented on #1784
@sarah11918 the very first thing I did was search for "data files", and that brought me to the page about `fetch()` that I mentioned above.

An idea: If you renamed "Data Fetching" to "Data Loading", you could cover loading local data files in addition to loading data from external sources like APIs. In my mind, these are just two flavors of the same thing so I would expect info on both to be co-l

[2022-10-18 21:20] delucis commented on #1784
As a quick answer, Astro has out-of-the-box support for importing `.json`, so you can generally do:

[code]

I believe `import` support for YAML files is also possible but requires a plug-in. Would be great to have a guide showing how to do that as it’s a fairly common request.

[2022-10-19 01:01] Yan-Thomas commented on #1586
Oh, sweet! Glad you surprised me. Though, at first glance, it looks like we'd need to have access to the syntax tree to get the current page, which we can't get through the config file. In the worst-case scenario, I would need to rewrite the plugin, which doesn't look like a complicated task after digging into its source code.

Alternatively, we might only need to make a new plugin that changes th

[2022-10-19 10:42] #1750 closed

[2022-10-19 17:25] nzakas commented on #1784
Oh nice! Didn’t realize that was possible. That’s certainly a lot easier than the other options.

[2022-10-20 13:42] #1588 closed

[2022-10-20 14:12] #1631 closed

[2022-10-22 14:03] stefkudla commented on #1802
Went ahead and re-processed the audio for this one: https://imgix.cosmicjs.com/84c3f5b0-5211-11ed-89d4-853fd6bb9a28-AstroTailwindCSSmonoaudio.mp4

[2022-10-22 14:31] qyurila commented on #1802
@stefkudla Thank you for the fix, it sounds good now!

[2022-10-22 15:03] sarah11918 commented on #1802
Thanks @qyurila for bringing this up! And thanks @stefkudla for the audio re-processing!

I've assigned this to @Jutanium to review, and we'll see about getting this added to the Docs site.  🥳

[2022-10-23 14:56] Jutanium commented on #1802
Thank you @stefkudla! I reuploaded the video to GitHub and opened a PR to replace it.

[2022-10-23 17:10] Jutanium opened #1892 "Images: `format` prop is required for remote images"
Following up on [this support thread](https://discord.com/channels/830184174198718474/1032660889318461482), the `format` attribute is _required_ for remote images. Let's note this when we [introduce remote images](https://discord.com/channels/830184174198718474/1032660889318461482).

[2022-10-24 11:36] sarah11918 commented on #1597
Related, re the `<Picture />` component, we should confirm with @tony-sull that `quality` is not an attribute you can use on it, as it seems to be the only one that is only available for `<Image />` (without a corresponding equivalent, e.g. format/formats, width/widths, height/sizes. (Or, whether we just don't mention it in the docs and it should be added?)

Also maybe of interest: this workaround

[2022-10-24 14:44] olee opened #1898 "[nice-to-have] Add Fresh to framework comparison"
The [Fresh](https://fresh.deno.dev/) framework which is running on deno seems to serve a similar purpose as Astro and it would probably be nice to also include this https://docs.astro.build/en/comparing-astro-vs-other-tools/

[2022-10-24 17:02] delucis commented on #1517
Sounds like this is a non-docs issue then, so hope it’s OK if I close this here for now with the intention that it gets resolved upstream.

[2022-10-24 17:02] #1517 closed

[2022-10-25 11:01] delucis commented on #1898
Thanks for the suggestion @olee!

We’re not actively maintaining that page anymore as we found it hard to keep up with updates to all the different frameworks, so I don’t think we’re likely to find time to add new content.

I think this could be great material for a blog post comparing island architecture/performance between Fresh and Astro though.

[2022-10-25 11:01] #1898 closed

[2022-10-25 18:39] SeanMcP opened #1918 "Incorrect/confusing documentation for processing of is:inline"
Hey all! The documentation for template directives says the following:

https://github.com/withastro/docs/blame/main/src/pages/en/reference/directives-reference.md#L182

Based on my reading, that means that  a `<style lang="scss" is:inline>` will not be converted to CSS on build. However, later we read this:

https://github.com/withastro/docs/blame/main/src/pages/en/reference/directives-reference.

[2022-10-26 14:53] Jutanium opened #1927 "`imports` page renaming, include `Astro.glob`"
We've discussed the naming of the [Static Assets](https://github.com/withastro/docs/issues/1918) page, and it makes more sense to call it _imports_ to more closely reflect the feature it teaches.

We also only include `Astro.glob` within reference guides, which is something we wanted to change. This is probably the best page for it, as it helps make the connection that importing is the mechanism t

[2022-10-26 20:12] #1918 closed

[2022-10-27 15:36] #1802 closed

[2022-10-28 10:57] #1715 closed

[2022-10-29 09:52] ScriptRaccoon opened #1949 "Typos in tutorial page "Generate tag pages""
On the tutorial page [Generate tag pages](https://docs.astro.build/en/tutorial/5-astro-api/2/) there are several typos in the file names and file paths.

1. "src/pages/tags/[tag]" has to be replaced by "src/pages/tags/[tag].astro".
2. "src/pages/posts/tags/[tag].astro" has to be replaced by "src/pages/tags/[tag].astro" (many times)
3. "/src/pages/posts/tags/[tag]" has to be replaced by "src/pages/

[2022-10-29 12:17] delucis commented on #1949
Thanks so much for reporting these! Would you be up for creating a PR fixing these?

[2022-10-29 22:22] ScriptRaccoon commented on #1949
Unfortunately I am not able to do so in the next days. But (if nobody comes first) I can do it in about one week.

[2022-10-31 10:24] rishi-raj-jain commented on #1569
@christ-offer can you link a reproduction?

[2022-10-31 10:32] rishi-raj-jain commented on #1481
@sarah11918 How about something like Last Updated?

[2022-10-31 10:41] delucis commented on #1481
“Last updated” is definitely part of it, but this is more like: how different is the translation’s last updated & the English version last updated — excluding minor English typo fixes. For example, a translation is still up-to-date/“fresh” if it was updated 2 months ago if the only commits to the English version in the last 2 months were typo fixes that don’t need reflecting in the translated page

[2022-10-31 10:46] rishi-raj-jain commented on #1481
@delucis Yup, let's get started!

How do we spot " were typo fixes that don’t need reflecting in the translated page."?

[2022-10-31 10:51] rishi-raj-jain commented on #1481
Instead of adding onto the sidebar, if we're able to assert that it's outdated, I think it'd make more sense to add it to the top of the heading in some form of a badge perhaps.

[2022-10-31 10:54] sarah11918 commented on #1481
I wonder if a short-term first solution could be as simple as starting with mirroring the icon that's on our pinned Translation Status issue. So it's either a check for completely up-to-date with the English page or a symbol for "something on this page needs updating to the English version." (Probably don't need the X for not translated yet, since we have something in place for that?)

The cool th

[2022-10-31 11:08] #1949 closed

[2022-10-31 11:10] sarah11918 commented on #1892
Closing this, as we just updated the images guide and the integration README. It's now listed as required for `<Image />` and explains which default is used for `<Picture />` (so, it's not required there).

[2022-10-31 11:10] #1892 closed

[2022-10-31 11:15] delucis commented on #1481
Definitely agree with the idea of something at the top of the page rather than in the navigation — gives us some room to provide context. For example, we currently show a note in our `[...fallback].astro` route for pages that aren’t translated at all, which also supports translation of the explanation itself:

<img width="840" alt="image" src="https://user-images.githubusercontent.com/357379/19899

[2022-10-31 13:39] sarah11918 opened #1959 "Add "document/window is not defined" re NPM library to Troubleshooting guide"
- Link from Imports page (NPM section) where we've just added mention of this
- include this workaround: call it in a script tag (see https://discord.com/channels/830184174198718474/1036437411690979389/1036437411690979389 )

[2022-11-01 22:03] kyr0 opened #1969 "There is no example simple code on how to write an Astro integration in the docs"
Hi all,

as discussed on Discord with @sarah11918, I'd like to open this issue to bring the following topic to our awareness:

In this section: https://docs.astro.build/en/guides/integrations-guide/#building-your-own-integration it is explained that a developer can implement an integration on their own, but the section only refers to the API reference which just explains the datatypes on what Astr

[2022-11-02 10:11] surjithctly opened #1972 "Search bar is harder to click because of the language dropdown"
If you take 100 times, you want to click on the search bar 99 times, people would only change language once or twice.

The current design makes it hard to click the search button, most of the time I end up clicking the dropdown instead. See the current design and proposed solution. Also the search button height & width needs to be big to match with the layout.

**Current Design**

<img width="610"

[2022-11-02 11:08] sarah11918 commented on #1972
Hi there!

We've actually discussed this a lot 😅  and we have decided against a smaller language picker. You can see the open issue #618 (towards the bottom, this comes up and we discuss some strategies and what will/won't work for us) and the PR that we recently merged to distinguish the two is here: https://github.com/withastro/docs/pull/1583

So, I'm going to close this issue and ask you to con

[2022-11-02 11:08] #1972 closed

[2022-11-02 11:18] surjithctly commented on #618
Hey everyone,

I’m one of the people who always clicks the language instead of search.

I proposed a solution for that in #1972 but I understand it will be a bad choice for removing the text from the language picker.

Now we are left with two options:

1. Move the search bar to left and language picker to the right. Make the select box with auto based on the text size. So english width will be sma

[2022-11-02 11:46] kyr0 commented on #1972
I'd like to add here that storing the language setting in localStorage would be desirable too. I don't know how often I had to switch from german to english - it's a few lines of code only; I can provide a pure TS solution that also covers "private mode" edge cases (when using localStorage might throw errors in some browsers).

[2022-11-02 12:10] Jutanium commented on #1969
We do have an [integration example](https://github.com/withastro/astro/tree/main/examples/integration) in the monorepo, but this is hard to discover. We could link to it as a quick, though I agree that more instructional content around integrations would be helpful!

[2022-11-03 13:21] #1959 closed

[2022-11-03 14:07] delucis commented on #359
Closing in favour of the separate issues!

[2022-11-03 14:07] #359 closed

[2022-11-03 14:13] delucis commented on #1969
Adding here that we have an older issue that asked about how to set up and test an integration package: https://github.com/withastro/docs/issues/414

Here’s the original issue text from @roblevintennis:

This could be a stretch goal of any future integration guide!

[2022-11-03 14:14] delucis commented on #414
Going to close this in favour of #1969!

[2022-11-03 14:14] #414 closed

[2022-11-03 14:37] delucis commented on #695
Just discussed this in our docs triage. We’d still love a contribution here!

[2022-11-03 14:41] delucis commented on #772
We think this works in MDX like it does in `.astro` now, so maybe no need to document explicitly? Going to close, but feel free to reopen or even PR if we think there are still specific edge cases that need documenting.

[2022-11-03 14:41] #772 closed

[2022-11-03 14:47] delucis commented on #1057
We still think this is a cool idea! 🤖

[2022-11-03 14:57] delucis commented on #1058
This would definitely be helpful! Maybe we could at least add a mention of these other files to the overview issue as a stopgap solution?

[2022-11-03 15:05] delucis commented on #1269
There have been a few updates to [our Cloudflare deploy guide](https://docs.astro.build/en/guides/deploy/cloudflare/) over the past months. Curious if it is still unclear or if we can close this issue?

[2022-11-03 15:27] delucis commented on #1455
💡 Idea

How about we link from [our “NPM Packages” section](https://docs.astro.build/en/guides/imports/#npm-packages) in the imports guide to [the config reference section about Vite](https://docs.astro.build/en/reference/configuration-reference/#vite)? We could then beef up the config reference to add some of the helpful context from @mayank99 and add a `noExternal` example.

[2022-11-03 15:45] swift502 commented on #1274
@delucis Oh wow, you're right. `import` does work.

Demo: https://stackblitz.com/edit/github-g5iwb3?file=src/pages/index.astro

The third step should then probably use the import statement.

[2022-11-03 15:48] swift502 commented on #1274
How general should the example be then? Should we mention how/where users should look to find the specific plugin they need for their spcific format?

Or should we just showcase how yml is done and leave it at that?

[2022-11-03 15:52] delucis commented on #1607
Couple notes from our triage call:

1. We should maybe update [the Typescript page](https://docs.astro.build/en/guides/typescript/#setup) to more strongly recommend using `env.d.ts` instead of the `types` array in `tsconfig.json`.

2. In the [manual install guide](https://docs.astro.build/en/install/manual/#6-create-tsconfigjson) we should also switch to showing `env.d.ts` and not the `types` arra

[2022-11-03 15:53] delucis commented on #1635
Thanks for the suggestion. We’ll look into it at some point 👍

[2022-11-03 15:53] #1635 closed

[2022-11-03 15:56] delucis commented on #1667
Thanks for the issue! Does seem like this could be helpful content maybe. If anyone’s interested in picking this up as a contribution, that would be great!

[2022-11-03 16:01] delucis commented on #1784
Update here: we’ve recently updated [our imports page](https://docs.astro.build/en/guides/imports/) to hopefully make this use case easier and are also hoping to add a YAML example there soon as part of https://github.com/withastro/docs/issues/1274. Going to close this as hopefully resolved for now!

[2022-11-03 16:01] #1784 closed

[2022-11-03 16:14] delucis commented on #1274
Something small would be helpful yes! I guess Vite plugins are the other option to look out for?

[2022-11-03 16:20] swift502 commented on #1274
@delucis I'll make a draft PR then. 👍
Let's discuss the wording in the PR.

[2022-11-03 16:45] delucis commented on #1274
Awesome — thanks so much @swift502!

[2022-11-03 20:29] kyoukhana opened #1979 "Add Tencent Cloud deploy guide"
Astro is Amazing.

Most of Astro supports deployment to GCP, AWS, Netlify and Vercel.  But all of these servers have limited support to Asian countries especially China.  one of the cloud providers I have researched is the following below

https://www.tencentcloud.com/

It would be good to start a discussion on this on how can we get some kind of deployment process for this.

[2022-11-03 20:40] delucis commented on #1979
Thanks @kyoukhana! We'd definitely be happy to see a new page added to our deploy guides documenting this platform. Would you be interested in making a PR?

[2022-11-04 12:06] hayhaydz opened #2013 "param: undefined for index page is not documented"
### What version of `astro` are you using?

1.6.3

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

yarn

### What operating system are you using?

Mac

### Describe the Bug

I've brutally copied the title of a closed issue [#1187](https://github.com/withastro/astro/issues/1187) because it seems as though it fits that issues description. The probl

[2022-11-04 14:58] #1274 closed

[2022-11-04 22:49] smithbm2316 commented on #1479
I would be quite interested in taking on this! I am looking to find a needed contribution for either Astro or the Astro docs this weekend and would love to explore this. Let me see if I can do some digging today/tomorrow in the Astro discord for a few other perspectives that might differ to how I've approached this in my own Astro tinkering, and I can try to get a first-draft/proof-of-concept for

[2022-11-05 11:37] kyr0 commented on #1969
Yeah cool, just tell me what would be the next steps here. I'd like to contribute but I don't know the process.

[2022-11-05 13:41] amirvahidian opened #2001 "exported variables in Astro files can be accessed through Astro.glob() (this is not mentioned in the documentation)"
Hello,

I am not sure whether this is a feature or just something that works for the time being but I found out that variables in Astro files that are imported through the Astro.glob() function can be accessed if the variables are exported.

If I want to use Astro.glob() to import an Astro file along with some of its variables, all I need to do is to export the variables in the Astro file:

[code]

[2022-11-05 14:05] kyoukhana commented on #1979
I am actually trying to work with Tencent Cloud CD/CI pipeline to deploy a Astro project.  First starting with Basic NodeJS then will move ahead with a Astro project

[2022-11-06 19:53] etmartinkazoo commented on #1667
Creating a deployment guide for Docker might be difficult for a number of reasons. Primarily, there are a lot of considerations regarding Nginx and whether to Dockerize it, Encryption certificates, etc...

I think having a variety of production deployment options like Netlify and others works well. Keeping up with custom Docker deployments might be a lot to continue to keep up on. I'd be happy to

[2022-11-07 07:36] naveennamani opened #2011 "Emphasis on introducing component props in tutorial"
In the tutorial when introducing social media component at https://docs.astro.build/en/tutorial/3-components/2/#create-a-social-media-component `Astro.props` was used for the first time. And there was no mention about what are props, how you can pass them to components and how you can access them in the components. The example straight away introduce this concept and encourages user to copy paste

[2022-11-07 15:25] sarah11918 commented on #2013
Hi all! Picking this up in Docs!

I know we *show* using `undefined` to create an index here, and again provide a more full example where it's meant to illustrate an index page (without explicitly saying index page).

The exact text we have around the examples is:

It would be great if @hayhaydz @MoustaphaDev or anyone else could weigh in on whether we need to make this line a bit more explicit, e

[2022-11-07 15:40] delucis commented on #2013
I do like that second version @sarah11918!

I might suggest a formatting fix too: move that text to it's own dedicated paragraph to make it a little more obvious. Then we can even mix it up if we like:

[2022-11-07 16:30] hayhaydz commented on #2013
Hey,

I'm very new to this open source world so am a little out of my depth but my suggestion would be to add something like this to the code block above. Maybe also including the second line that you suggested as well.

[code]

This approach on the code block needs a little work because it's a little inconsistent. i.e it'd be more consistent if they all showed an index.html file in the path, or m

[2022-11-07 20:18] MoustaphaDev commented on #2013
I think this deserves an example of its own. Something like this:

[code]
This will generate `/sequences/one/two/three` and `/sequences/four`.

You can also set the rest parameter to `undefined` to allow it to match the top level page(i.e index page in the same level)

[code]
Now this will generate `/sequences/one/two/three`, `/sequences/four`, and `/sequences`

[2022-11-07 21:13] jimjimovich commented on #1269
It seems that the text causing the original confusion was simply removed. Apparently, the Cloudflare adapter does not allow the functionality that was originally advertised.

[2022-11-08 06:13] zenflow opened #2016 "*dynamic* fetch() in framework components?"
This section of the documentation has me wondering: https://docs.astro.build/en/guides/data-fetching/#fetch-in-framework-components

The fetch() is done outside the component definition, so it doesn't receive the component's props.

Is there any way to fetch() based on the component's props?

Something like this?

[code]

[2022-11-08 19:44] MoustaphaDev opened #2019 "Component import via `Astro.glob` isn't documented"
When using `Astro.glob` to import a collection of astro components, to access a component instance, we need to reach one item's `default` property as `Astro.glob` returns an array of [dynamically imported modules](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/import#importing_defaults)).
However, users most often expect to be able to access the component directly like

[2022-11-08 20:13] MoustaphaDev commented on #2016
You can't do that unfortunately as react/preact components can't be asynchronous.
A workaround I'm thinking about would be to wrap the react component inside an Astro component, do the data fetching at that level and pass the result down to your react component as props.

[2022-11-09 11:57] delucis commented on #1269
Thanks for checking @jimjimovich! I guess this is not really a documentation issue then, so I’ll close this for now. I don’t personally have any Cloudflare experience so don’t know exactly what’s needed here, but if there’s still an issue with something not working, an issue in the https://github.com/withastro/astro repo might help get that some visibility.

[2022-11-09 11:57] #1269 closed

[2022-11-09 22:21] #595 closed

[2022-11-09 23:46] #1607 closed

[2022-11-10 13:57] #967 closed

[2022-11-10 16:02] #1722 closed

[2022-11-11 10:17] Astisme opened #2035 "Invalid URL from MD docs"
At the [Markdown page](https://docs.astro.build/en/guides/markdown-content/#frontmatter-layout) of the documentation there's a snippet of code to try out the .md files with Astro.

I've set up the files like they are in the documentation
- src/pages/mark.md
- src/layouts/MarkLayout.astro

and I've copy-pasted the snippets given in both. I'm leaving the code for each below.

mark.md:
[code]

MarkLa

[2022-11-11 14:30] delucis commented on #2035
Hi @Astisme! I think the `Invalid URL` error might be because `Astro.site` is undefined. Does setting `site` in your `astro.config.mjs` file fix it?

Because in this case we can’t guarantee `Astro.site` is defined, it might make sense to remove the canonical tag from this layout example. (And you’re right, I we decided to keep it, it should be a `link` not `meta`!)

Would you be interested in subm

[2022-11-11 14:43] Astisme commented on #2035
Where and how should I set `site`?
I'm sure it's not here xD
[code]

I'm available to submit a PR.

[2022-11-11 14:48] delucis commented on #2035
Yes, that’s the right place! Just needs to be a full URL:

[code]

Awesome — thank you!

[2022-11-11 14:49] Astisme commented on #2035
Ok. Now it's working as expected!

[2022-11-11 14:53] Astisme commented on #2035
Where is the file to be changed? I'm getting lost ahah

[2022-11-11 15:22] delucis commented on #2035
I see you found it! 🙌

The simplest is to go to the page you want to edit and follow the “Edit this page” link in the right sidebar, which will open up GitHub’s editor right in your browser.

[2022-11-11 16:12] #2019 closed

[2022-11-11 16:46] delucis commented on #2011
I think this should have been closed by https://github.com/withastro/docs/pull/2023 which added a brief intro about props to 3.2 exactly like you suggest here. I’ll close as done, but if you think there’s anything still missing, let us know!

[2022-11-11 16:46] #2011 closed

[2022-11-11 17:37] sarah11918 opened #2042 "Docs "search stats" investigation"
Hey Team Docs!

We have our first "data dump" of the search terms people have been using on the Docs site. Since we know these are all popular searches, we want to make sure that people are being pointed to the best places in docs to answer their questions.

So, **we're looking for interested people to a) try searching some of these terms and b) report back here in a reply re: whether you think ou

[2022-11-11 21:43] dreyfus92 commented on #2042
A few comments on `script` keyword:

1.- How many different pages were represented by these 5 results? **5**.
![image](https://user-images.githubusercontent.com/85648028/201434197-aad9cd0d-23a5-49ec-99d0-363f6037cfaf.png)

2.- Was the top result the "best" suggestion (in your mind - the most helpful/general page on the topic)? If not, was the first search term result at least a "good" suggestion?

[2022-11-12 11:49] UltimateDoge5 opened #2043 "No documentation about fetching Astro endpoints on the server"
On the page [data fetching](https://docs.astro.build/en/guides/data-fetching/) there is no mention how to fetch data from endpoints made using Astro. This caused me some problems with fetching while in production, as fetching a `/api/example` doesn't work.

I finaly stumbled upon the [Astro.url ](https://docs.astro.build/en/reference/api-reference/#astrourl) Api reference. We can use the origin to

[2022-11-12 16:25] veesahni commented on #2013
Somewhat related: pagination also works using this undefined value.

Currently, docs only mention pagination in the form of [page].astro, but a sentence mentioning that using rest params in form of [...page].astro results in different behavior would be helpful.  more details here: https://github.com/withastro/rfcs/discussions/385

[2022-11-13 10:38] jeksn opened #2046 "The markdown layout example throws an error"
The paragraph tag is missing its closing tag in the markdown layout example code block.
[Link to the issue](https://docs.astro.build/en/core-concepts/layouts/)

It's this one:
`<p>{frontmatter.description}<p>`
That should be changed to this:
`<p>{frontmatter.description}</p>`

[2022-11-14 19:38] delucis commented on #2046
Thanks for spotting that @jeksn! Would you be interested in opening a PR with your proposed fix? Let me know if you have any questions if so 🙌

[2022-11-14 19:41] #2035 closed

[2022-11-14 21:14] sarah11918 commented on #2046
Closed by #2052

[2022-11-14 21:14] #2046 closed

[2022-11-15 16:42] sarah11918 commented on #2042
Ooh, especially glad someone chose to do `script` since I just got this week's stats report, and that term jumped up to make it to #1 this week! (And, we *know* we want to analyze onClick, so great first choice!)  🚀

[2022-11-17 13:32] sarah11918 commented on #2042
OK, so these are GREAT, and I'm loving the screenshots of the results! @dreyfus92 @the-dijkstra

I mean, I'm not loving the *results*.. onClick and script are terrible!  But this is so incredibly helpful! It's great for docs planning, for sure. I'm hoping more people step up, but as you have time to try more of these, please do!  ❤️ 🚀

[2022-11-17 14:52] dreyfus92 commented on #2042
### Keyword: `vue`

**1.-How many different pages were represented by these 5 results?** 5.

![image](https://user-images.githubusercontent.com/85648028/202477343-1c66a956-bcaf-4abe-ab62-61713d264e75.png)

**2.-Was the top result the "best" suggestion (in your mind - the most helpful/general page on the topic)? If not, was the first search term result at least a "good" suggestion?** Yes it was.

*

[2022-11-17 15:46] delucis commented on #2042
These are so helpful! Thank you all. I hadn’t noticed that weird thing showing in both the `react` and `vue` searches that seem to also show pages where `react`/`vue` are in the navigation in the page footer. Definitely going to look at fixing that.

[2022-11-17 23:10] brittneypostma opened #2066 "Update Web App Frameworks"
There was a [tweet](https://twitter.com/VicVijayakumar/status/1592722875882303491?s=20&t=D9ty6HiEnbzopvgN-2yJQQ) the other day showing an image of the *Content-focused* section of the docs. In the *TIP* below it, it says "Check out Next.js for a great application-focused web framework alternative". I think in the spirit of Astro being community focused already, it would be much better here to give

[2022-11-18 20:21] kevinzunigacuellar commented on #2042
<img width="574" alt="image" src="https://user-images.githubusercontent.com/46791833/202793961-23be2d43-7130-46d4-845e-843e31888d5a.png">

**Keyword** : `tailwind`

1. **How many different pages were represented by these 5 results?**

   There are 3 different pages.

2. **Was the top result the "best" suggestion (in your mind - the most helpful/general page on the topic)? If not, was the first sea

[2022-11-18 22:43] sarah11918 commented on #2042
I find it super-interesting that our CSS & Styling page was not a hit for Tailwind!  Not bad... just interesting!

[2022-11-20 09:03] wassfila opened #2084 "Front matter variable does not work as documented"
### What version of `astro` are you using?

1.6.10

"astro": "1.6.10",
tested also with "@astrojs/mdx": "^0.11.6",

### Are you using an SSR adapter? If so, which one?

None

### What package manager are you using?

yarn

### What operating system are you using?

Windows

### Describe the Bug

using front matter variables is not working as documented in this section

https://docs.astro.build/en/gu

[2022-11-20 19:37] dsomel21 opened #2077 "`/routing/#rest-parameters` - Description says `[...param]` but code example uses `[...path]`"
## Description

<img width="833" alt="Screenshot of the 'Rest paramters' page" src="https://user-images.githubusercontent.com/17516559/202922296-25d37622-fad8-410e-9055-be0be304f62d.png">

https://docs.astro.build/en/core-concepts/routing/#rest-parameters

[2022-11-20 19:41] dsomel21 commented on #2016
I had a similar question regarding Dyanmic vs Reactive.

I haven't received an answer, but this is what I proposed:

<img width="1006" alt="SomeQuestions" src="https://user-images.githubusercontent.com/17516559/202922422-998716b2-bf81-491e-ae5b-c65219176e9a.png">

[2022-11-21 11:14] delucis commented on #2077
The naming is not actually important as long as it matches the name returned in `getStaticPaths`. For example, `[...cats].astro` should return `[{ params: { cats: 'path/to/cat' } }]` but `[...dogs].astro` should return `[{ params: { dogs 'path/to/dog' } }]`.

That said, I agree that these should match for clarity. Want to open a PR updating `[...param]` to `[...path]`?

[2022-11-21 13:07] #2084 closed

[2022-11-21 14:55] dsomel21 commented on #2077
Sounds good!

Actually, another reason why I got confused was because... when it said "rest parameter" I immediately began thinking about RESTful APIs endpoints.

Do you think it make sense to add a link to the MDN doc on [rest parameters](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/rest_parameters)?

[2022-11-21 15:46] delucis commented on #2077
Sure! Seems like a good idea to me 👍

[2022-11-21 19:45] delucis commented on #618
There’s only one thing outstanding in this issue:

From my research, there’s not much we can do here as we’re constrained by the result data we get back from Algolia. I’m personally feeling pretty good with the position we’re in now, so I’m going to close this as done and we can open new issues for any search questions we run into in the future.

[2022-11-21 19:45] #618 closed

[2022-11-23 12:09] chenxsan opened #2099 "No hierarchy in table of contents"
I noticed that there's no hierarchy in the list of table of contents.

<img width="502" alt="" src="https://user-images.githubusercontent.com/1091472/203541940-479ff6e8-5e88-43ab-b434-0e84c64fae25.png">

While I expect it to be something like:

[code]
Let me know if you're interested in a pull request to update it now that I've finish the code for my own Astro site's table of contents.

[2022-11-23 12:53] fernandofranca opened #2100 "No documentation about Web Components"
Though it's straightforward to set up and use web components with Astro, it can be confusing for newcomers to figure out the preferred way to enable and use them.

Thanks to @delucis help on Discord I managed to create a [sample repo](https://github.com/fernandofranca/astro-web-components) with web components, however I think it's an important subject to be added to the docs.

[2022-11-23 14:15] delucis commented on #2100
Thanks! I’m actually working on this this afternoon!

[2022-11-23 14:34] delucis commented on #2099
That sounds helpful, thanks @chenxsan! We’ll need to make sure the code highlighting the current item still works.

[2022-11-24 17:58] #2100 closed

[2022-11-27 05:43] wtchnm opened #2110 "SIGSEGV while recording performance with 4x CPU slowdown"
[Screencast from 2022-11-27 02-27-12.webm](https://user-images.githubusercontent.com/37726261/204120757-65b7b17d-3054-4810-9962-1d59a7ae0ef8.webm)

This issue is probably caused by Preact firing the useEffect that creates the TOC IntersectionObserver in every render: https://github.com/withastro/docs/blob/e96c0ca152cf93f49ed46e2be16c6867a61781cb/src/components/RightSidebar/TableOfContents.tsx#L85

[2022-11-28 13:02] sarah11918 commented on #2077
Hi @dsomel21! I'm not sure whether this is still on your radar, but since you've discovered something helpful to add to docs (no matter who does it), I'm going to go ahead and add some labels to encourage someone (maybe you!) to pick this up.  😄

[2022-11-28 13:04] sarah11918 commented on #2016
I'm going to close this issue since the original question has been answered. If there are further questions re: what Astro can/can't do, it would be great to take them to the Discord. If this leads to some changes or clarifications that need to be documented, then anyone is welcome to open another issue!

[2022-11-28 13:04] #2016 closed

[2022-11-28 13:10] sarah11918 commented on #2013
It sounds like @hayhaydz, @MoustaphaDev and @veesahni all have some good ideas for content on this page!

If someone is willing to pick this up in a PR and capture these ideas there to get us started, we can move this disucssion there... it doesn't have to be perfect! Once a PR is made, we can edit/refine it.

I'm going to add the `help-wanted` label so that anyone in the community knows they can

[2022-11-28 13:15] sarah11918 commented on #1969
Just following up on this issue that I think just missed our big "Issue Triage!"

@kyr0 if you are still interested in adding to this section of the page then let us know what you need from us to do that! If you're not sure how to get started with the Docs repo itself, one of the quickest ways is to click on "Edit this page" from that page in docs (since you're proposing changes to one single page

[2022-11-28 15:37] #2077 closed

[2022-11-28 15:50] #2110 closed

[2022-11-29 12:15] chenxsan opened #2116 "Lint errors everywhere"
I can see a lot of lint errors in VSCode,

<img width="1018" alt="" src="https://user-images.githubusercontent.com/1091472/204526200-e04871b5-a6be-43db-84e7-7e623d3032b4.png">

Wondering if there's any plan to fix them.

[2022-11-29 12:46] delucis commented on #2116
Thanks for flagging this — #2117 should fix most of these.

[2022-11-29 12:46] #2099 closed

[2022-11-29 16:32] #2116 closed

[2022-11-29 19:08] #2066 closed

[2022-11-30 13:37] sarah11918 opened #2123 "Descriptive text link checker"
Just like we have link checkers for the url's of links in PRs submitted, after watching a stream on Docs Accessibility, I'd like to see if we can add another check for link *text* to at least catch the low-hanging fruit of the most common non-descriptive link text phrases.

I'd like to extend our link checks to at least fail if any link has the text "here" or "read more." Maybe others have some go

[2022-11-30 18:47] kevinzunigacuellar opened #2127 "Storyblok tutorial: not having a 404 page for SSR causes infinite loop"
In the Storyblok [blog turorial for SSR](https://docs.astro.build/en/guides/cms/storyblok/#server-side-rendering). If the page request fails the user will be redirected to a 404. However, the guide doesn't suggest creating one and not having one causes an infinite loop.
<img width="386" alt="Screenshot 2022-11-30 at 13 41 36" src="https://user-images.githubusercontent.com/46791833/204882722-50098f