[2021-06-16 13:08] mrbrianhinton opened #1 "What is Astro?"
There's a simple secret to building a faster website — just ship less.
Unfortunately, modern web development has been trending in the opposite direction—towards more. More JavaScript, more features, more moving parts, and ultimately more complexity needed to keep it all running smoothly.
Today I'm excited to publicly share Astro: a new kind of static site builder that delivers lightning-fast perfo

[2021-06-16 13:09] mrbrianhinton opened #2 "Installation"
Starting a new project in Astro is easy:
[code]

Further reference: https://github.com/snowpackjs/astro#-guides

[2021-06-16 13:42] mrbrianhinton opened #3 "Project Structure"
Even though nearly-everything is configurable, we recommend starting out by creating an src/ folder in your project with the following structure:

├── src/
│   ├── components/
│   └── pages/
│       └── index.astro
├── public/
└── package.json
src/components/*: where your reusable components go. You can place these anywhere, but we recommend a single folder to keep them organized.
src/pages/*: thi

[2021-06-17 20:17] Hanawa02 opened #6 "Pages for Group `Start Here`"
Task  -> Assignee
- [x] Installation -> @aFuzzyBear
- [x] Quickstart -> @jgil-r
- [x] Examples -> @FredKSchott

[2021-06-17 20:19] Hanawa02 opened #7 "Pages for Group `Basic Concepts`"
Task  -> Assignee
- [x] Project Structure ->
- [x] Astro Pages ->
- [x] Astro Components ->
- [x] Component Hydration -> @itskitto
- [x] Layouts -> @ewatch
- [x] Styling -> @itskitto
- [x] Content (Markdown) -> @jgil-r
- [x] Data Fetching ->
- [x] Pagination ->
- [x] Collections ->
- [x] Build & Deploy ->
- [x] URL Sanitization -> Tackled in "Security FAQs" of Markdown document

[2021-06-17 20:20] Hanawa02 opened #8 "Pages for Group `Reference`"
Task  -> Assignee
- [x] Reference ->
- [x] API Reference ->
- [x] Configuration Reference ->

[2021-06-17 20:20] Hanawa02 opened #9 "Pages for Group `Integrations`"
Task  -> Assignee
- [ ] Integrations ->
- [ ] Deploy Astro ->
- [ ] Data Sources / CMS ->
- [ ] State Management ->
- [ ] Styles & CSS Libraries ->
- [ ] Developer Tools ->

[2021-06-18 03:00] jasikpark opened #13 "Acessibility Issues to fix..."
- All documents should have a title, ex: http://astro-docs.laura-melo.com/installation/ does not
- <html> element must have a lang attribute....

There's a couple more, but I think I'll just list them in context in a PR.

You can see for yourself what needs help by using https://www.deque.com/axe/browser-extensions/ in the devtools to check for basic accessibility problems

[2021-06-18 07:12] Hanawa02 commented on #13
This extension is really nice.
I Will try to work on this tonight (though the title won't be SEO focused at the beginning)

[2021-06-18 23:12] natemoo-re commented on #13
This is also a great opportunity to improve the defaults in Astro! If we could build Lighthouse/Axe into Astro's build step that would be amazing.

[2021-06-19 18:15] #3 closed

[2021-06-19 18:15] #2 closed

[2021-06-19 18:15] #1 closed

[2021-06-19 19:06] mrbrianhinton commented on #13
The title and h2 SHOULD also match. Feel free to assign or tag me in any accessibility issues.

[2021-06-19 20:45] Hanawa02 commented on #13
@mrbrianhinton  The h2 and not the h1?

[2021-06-19 21:03] jasikpark commented on #13
https://www.w3.org/WAI/tutorials/page-structure/headings/ from this it looks like that's true to a certain extent - the page title should be an h2 while the site title should be an h1, so the `<title>` element might be `${page title} ⋆ ${site title}`, as many sites have..

[2021-06-19 21:47] jasikpark commented on #13
I would say adding an accessibility label rather than grouping all of the issues here will work best in the long run, though I made this issue just for the general statement that the docs site had a11y issues in need of fixing.

[2021-06-22 10:27] ewatch commented on #7
Layouts -> ewatch

[2021-06-22 12:31] itskitto commented on #7
I'll take the styling portion! I want to read more about it so it'll force me to sit down and digest the information on it 😁

[2021-06-22 19:25] jgil-r commented on #7
Could I get assigned to Content (Markdown)?

[2021-06-22 19:27] itskitto commented on #7
Gotcha! Are you in the Discord btw? If so what's your username?

[2021-06-22 19:31] jgil-r commented on #7
Yes I am, chuy#5231

[2021-06-22 19:39] jasikpark opened #18 "CSS for AvatarList.astro breaks on empty pages but only on dev server"
To replicate:

- clone the repo at https://github.com/snowpackjs/astro-docs/commit/70a4d0cf164867f82c6e1d652bc8128ae7a400a6
- build the repo & serve it with `npx serve dist`, navigate to http://127.0.0.1:5000/basic-concepts/layouts
- compare to `yarn start` and http://127.0.0.1:3000/basic-concepts/layouts (or https://astro-docs-preview.vercel.app/basic-concepts/layouts)

http://127.0.0.1:3000/basi

[2021-06-22 19:41] jasikpark commented on #18
Unless I'm somehow adding a bug in #17?

<img width="789" alt="image" src="https://user-images.githubusercontent.com/10626596/122988904-dabf6280-d367-11eb-830b-0ba5a2099205.png">

[2021-06-22 19:45] jasikpark commented on #18
Nope, it looks like it might be a bug in the dev server, since running `yarn build` locally builds the component with the correct CSS..

[2021-06-22 23:21] aFuzzyBear commented on #13
would it be easier if there was a document template that we could follow, Im new to accessibility, but I do think if this is standardised from the start it would make maintaining the docs better in the long term

[2021-06-22 23:25] jasikpark commented on #13
I mean the content of the website should be mostly what's producing accessibility concerns, rather than the content of the documentation, so once we've got the website up to snuff we shouldn't have to constantly add accessibility changes.

​

​It wouldn't be a bad idea to add a lint for accessibility in the build output though.

On Jun 22 2021, at 6:21 pm, Peter Singh  ***@***.***>  wrote:

[2021-06-22 23:28] aFuzzyBear commented on #13
I didnt think of that....anything I could do to help?

[2021-06-23 07:12] Hanawa02 opened #22 "Explanation for frontmatter"
It seems that a lot of users that never worked with frontmatter or related technologies are trying to manipulate the DOM inside frontmatter, so we should have it detailed that DOM manipulation is not possible within frontmatter because it runs on the server, at build time, and not on the client/browser.

[2021-06-23 10:55] aFuzzyBear commented on #22
Hell yes, I am actually going to go and learn more about frontmatter and textmate just to get a bit versed in this _Astro tech_

[2021-06-23 12:12] itskitto commented on #22
Good point y'all, I'll take a look as well and see what I can source

[2021-06-23 20:15] jasikpark opened #24 "Could we setup something like @renovatebot to stay up-to-date w/ astro?"
https://docs.renovatebot.com/install-github-app/

It's probably helpful for us to stay in step w/ the latest astro so that we're running into the same questions and breaking changes anyone else might have:

If we setup @renovatebot or @dependabot to make automated update PR's, then we can have vercel build those PR's as a test to see at least whether there's any problems with it!

[2021-06-23 20:18] itskitto commented on #24
Yes! We definitely need this, I've never setup either of these before. Is this something that the core team will need to setup or can we accomplish this ourselves?

[2021-06-23 20:19] jasikpark commented on #24
Someone with admin access to the repo will have to allow the Github App, but I'll make a PR to add a renovatebot config!

[2021-06-23 20:53] jasikpark commented on #24
cc @FredKSchott

[2021-06-23 21:55] jasikpark opened #27 "Show off Astro sites!"
~~It would be pretty cool if we could some how make a Netflix style slider that shows off all of the example sites!~~

~~- slider, not a carousel: https://lsnrae.medium.com/if-you-must-use-a-carousel-make-it-accessible-977afd0173f4~~

~~![image](~~https://user-images.githubusercontent.com/10626596/123173035-9a351700-d443-11eb-96a7-a5a52e13d4de.png~~)~~

cc the non-existent @snowpackjs/maintainers/

[2021-06-23 22:27] jasikpark opened #28 "Images are not restricted to 100% body width"
We need an

[code]

somewhere so that on mobile it doesn't blow out the screen with overflow

[2021-06-23 22:28] jasikpark opened #29 "No Menubar on mobile"
Currently there is a button to open the sidebar on mobile, but it is not linked to showing the sidebar, and the sidebar is not visible if I manually disable the `display: none;` via devtools.

[2021-06-23 23:37] FredKSchott commented on #24
Works for me! I've had trouble with these in larger projects so I'm not necessarily +1 on adding to the main astro repo, but this use-case of "must stay up to date with astro!" makes a lot of sense.

[2021-06-23 23:42] FredKSchott commented on #24
Added https://github.com/snowpackjs/astro-docs/blob/main/.github/dependabot.yml to the repo

[2021-06-23 23:47] jasikpark commented on #24
:0 wait I thought we were going with `yarn` not `npm` or does dependabot not care

[2021-06-23 23:55] FredKSchott commented on #24
I think it can do both! confirming now in https://github.com/snowpackjs/astro-docs/pull/30

[2021-06-23 23:55] #24 closed

[2021-06-24 09:45] aFuzzyBear commented on #27
Gonna need a lot of Astro sites to fill this awesome idea up,

[2021-06-24 10:13] aFuzzyBear commented on #22
I honestly do think, ince we write up on the frontmatter, we might just hit the seo roof and get most of the traffic, cause there is actually not much of coherent, structured, content out there, this pushes the convo out further, when Fred was talking in the RFC 22/06, about the possibility of having an open standard for markdown component files for astro, and potentially something wider, I totall

[2021-06-24 11:52] ewatch commented on #22
@aFuzzyBear Did research myself as well and agree to your last comment and will propose some content for the documentation. We can also see if we can contribute together maybe.

[2021-06-24 13:38] aFuzzyBear commented on #22
@ewatch that would be amazing bud, Ill pull some stuff together and find a spare gdoc to stick it in, and we can see what we can do with it from there, =)

[2021-06-24 14:02] itskitto commented on #22
Ooo, I love this. let's super optimize that page and see what happens!

[2021-06-24 19:29] itskitto commented on #7
I'll take `Component Hydration`

[2021-06-24 19:50] jgil-r commented on #6
I can start working on Quickstart

[2021-06-24 20:47] FredKSchott commented on #22
Makes sense to me to take some time to explain what you can and can't do in the component frontmatter. I think even just having a really clear .astro example with docs would help users. Something like

[code]

[2021-06-24 21:52] Hanawa02 opened #33 "Merge Installation page with Quick Start page?"
There is a lot of overlapping content from both pages, I believe we could merge them both in a way that we can have the "quick start" followed by the rest of the "installation" content.

I believe this should be done after these two PR's are completed so that no content is missed or we have double work.
- https://github.com/snowpackjs/astro-docs/pull/32
- https://github.com/snowpackjs/astro-docs/p

[2021-06-24 21:53] Hanawa02 commented on #33
@FredKSchott @itskitto @aFuzzyBear @jgil-r

[2021-06-24 22:07] jgil-r commented on #33
The only difference is that the installation page briefly mentions node.js as a dependency. I can just add that to the top of quick-start page and completely get rid of installation page. Currently we have very similar information in `/`, `/installation`, and `/quick-start` pages. I mentioned in #32 that we can avoid repetitive information by making the sidebar headings just be headings or links t

[2021-06-24 22:11] Hanawa02 commented on #33
@jgil-r I agree with the sidebar, but for the installation page, I believe it would be better to check PR #16, since @aFuzzyBear changed a lot of the page content.

[2021-06-24 22:15] Hanawa02 commented on #7
@itskitto @FredKSchott I added a new page to this section `URL Sanitization`, not sure if the title is ideal or if it should be part of another group, please let me know your thoughts.

This came out of this PR: https://github.com/snowpackjs/astro-docs/pull/19#discussion_r657479290

[2021-06-24 22:21] itskitto commented on #33
Yeah, I'm not sure if we need a distinction between Installation and Quick Start, they seem to be one in the same. I think we can merge them in a way that's concise and to the point and then break out @aFuzzyBear's extended information into a "Deep Dives" section and link it in the Quick Start/Installation merge

[2021-06-24 22:48] aFuzzyBear commented on #33
Hey guys thats me made the changes to the install and in the index page, If we can merge them, idk what the best way for that would be, whatever you guys think is best, Once they are merged there is a few link adding that I need to do just to link them to other doc pages for reference,
thanks for your support team =)

[2021-06-24 23:27] jasikpark opened #34 "Update docs w/ new props style"
https://github.com/snowpackjs/astro/pull/515

Astro no longer uses magic Svelte props! Whooo!

[2021-06-25 12:42] Hanawa02 opened #35 "Add Third party links to Renderers Page"
Links should be added to this issue for now, and Later on (when doing the renderers page) we add the third party renderers section.

[2021-06-26 01:33] cassidoo opened #37 "Add `node-fetch` note for querying APIs"
When you query an API outside of a `.astro` component, you need to use `node-fetch`, which should be documented for folks creating utility functions.

[2021-06-26 05:32] FredKSchott commented on #34
Did this as a part of a quick style update in 595d07fbfe00bdc1aa00d322157089d8971ca78d

[2021-06-26 05:32] #34 closed

[2021-06-26 05:35] FredKSchott commented on #6
I got rid of "what is Astro" for now, that can be one of the last pages that we add back in once the main docs/reference is done

I'll tackle "Examples" and we can get our first section issue closed!

[2021-06-26 05:51] #6 closed

[2021-06-26 05:58] FredKSchott commented on #9
Hey yall, to help us cut down on work to get to a v1, I commented this section out from the sidebar for now. We can add it back in once #8 & #7 are complete!

[2021-06-26 06:24] FredKSchott commented on #8
done!

[2021-06-26 06:24] #8 closed

[2021-06-26 06:24] FredKSchott commented on #8
(copied over from astro repo)

[2021-06-26 06:47] FredKSchott commented on #7
After moving everything over from the Astro repo, we're in pretty good shape! Here's what I think is left to do:
- Layouts
- Pages
- build & deploy

Getting close!!!

[2021-06-27 16:05] jgil-r commented on #28
This issue can be closed. Fixed by #38

[2021-06-27 16:33] #28 closed

[2021-06-27 16:50] FredKSchott commented on #7
Done! All pages are now available! 🥳

Curious to hear what people would like to do next! Two steps that jump to mind are:
- Edits: Give someone's page a read if you didn't write it yourself, and create a PR to help edit their work. Good chance to review that everything is correct as well, in case something has changed.
- Copy these docs into the main astro repo: Now that the docs are complete, we

[2021-06-28 00:19] natemoo-re commented on #37
We should definitely document this, at least until [`astro#410`](https://github.com/snowpackjs/astro/issues/410) is resolved.

[2021-07-06 07:43] kolodziejczak-sz commented on #37
in the meantime I came up with this temporary solution:

[code]

[2021-07-07 10:10] yeukfei02 opened #48 "add this project url (astro documenation) to astro repo readme.md"
Hi all,

I find this is a nice framework compare to react and svelte, can someone or do I submit a pull request to add astro docs link to `astro` repo readme.md?

or someone will do this?

Thanks.

[2021-07-07 12:10] yeukfei02 commented on #48
I submitted my pull request in here:

https://github.com/snowpackjs/astro/pull/616

[2021-07-07 22:48] jasikpark opened #50 "Can we setup a similar CI for prettier in this project?"
File is here: https://github.com/snowpackjs/astro/blob/97d5a2ba187a7e6b61d849226daf4cbd03485782/.github/workflows/format.yml

I'll make a PR for adding a `yarn format` command atm...

[2021-07-12 13:55] FredKSchott commented on #50
+1, thanks for tackling @jasikpark !

[2021-07-12 14:23] mihkeleidast commented on #13
https://html-validate.org/ is a very nice HTML validator / linter that can catch most of the issues described above.

[2021-07-12 17:18] jasikpark commented on #13
+1 for html-validate as a CI to run over the HTML output, also adding axe-cli I think is a good idea: https://github.com/dequelabs/axe-core-npm/tree/develop/packages/cli

[2021-07-12 18:18] #50 closed

[2021-07-12 19:07] jgil-r opened #60 "Wrong sidebar hover state colors"
The hover state colors in sidebar menu for dark theme seems to be using the same color that is being used for light theme.

![astro-docs-menu-hover](https://user-images.githubusercontent.com/59382692/125342289-533b9280-e31a-11eb-8fac-e3bedd1ac105.png)

[2021-07-12 19:12] jgil-r commented on #9
It looks like #7 and #8 are complete. Can we go ahead and add Integration pages? or are we waiting on some content for them?

[2021-07-12 20:13] jasikpark commented on #60
That was introduced here: https://github.com/snowpackjs/astro-docs/commit/372d20db7f3b5c09ba8b6f06b625fc7b8e195bd5#r53379131

[2021-07-12 20:53] FredKSchott commented on #60
This was me! I've been moving pretty quick as I try to get the site ready for everyone to review this week.

I think I introduced this in a rush, because there wasn't a themed color for this low-opacity accent. There probably should be one!

[2021-07-12 20:53] FredKSchott commented on #60
@natemoo-re I'm really feeling the limits of CSS variables this week, specifically in wanting to customize the opacity/strength of a variable'd color. Any ideas / tips besides just creating a variable for every color you might want?

[2021-07-12 20:54] FredKSchott commented on #48
Thanks for filing! lets follow up in that PR!

[2021-07-12 20:54] #48 closed

[2021-07-12 20:55] FredKSchott commented on #48
fyi we're getting this docs site ready to release this week, so it shouldn't be long now before its publicly linked. In the meantime, the `docs/` dir should have all of the same content.

[2021-07-12 20:56] jgil-r commented on #60
I see. Let me know if I can help finish up anything. I know you mentioned you were trying to get a lot of this done by end of week.

[2021-07-12 21:07] jgil-r commented on #60
Regarding CSS variables. Would transitioning from hex to hsla be a better option? I think it might make it easier to have a base set of colors, and be able to dynamically change the opacity value.

[2021-07-12 21:26] jasikpark commented on #60
I've got a fix in #61, a good rework of the theme / css variables might be as @jgil-r is suggesting: https://blog.maximeheckel.com/posts/the-power-of-composition-with-css-variables/

I think following the css variable composition in this blog post would work best for us!

[2021-07-13 04:59] jasikpark commented on #37
I added a blurb to the end of `/guides/data-fetching.md` that hopefully fulfills that. Let me know if y'all think the little hack for adding global fetch @kolodziejczak-sz came up with should be added - I think it should just be available in this issue 🤔

[2021-07-13 06:40] #60 closed

[2021-07-13 06:49] rebelchris opened #68 "Quick-start page link to deploy section (PR #69)"
Small win can be made with internally linking the deploy text on the Quick-start page to the deploy page.
I will open a PR related to this issue.

[2021-07-13 06:57] rebelchris commented on #68
Opened #69 for this

[2021-07-13 07:31] Hanawa02 commented on #27
@natemoo-re was the Designer for the core Team

[2021-07-13 07:32] Hanawa02 commented on #27
I will also add here some links from the discord channel that we could show off:

- https://trusting-roentgen-7624ba.netlify.app/ (from Chris Bongers)

[2021-07-13 07:35] Hanawa02 commented on #68
Closed with #69

[2021-07-13 07:35] #68 closed

[2021-07-13 07:37] starchildluke commented on #27
Happy to volunteer mine: https://lukealexdavis.co.uk/

[2021-07-13 10:23] rebelchris commented on #27
This would rather sit on the website not?
VS in the docs? However a reference would be a good point.

Another example is eleventy rendering the showcases directly (runtime)
https://www.11ty.dev/#built-with-eleventy

[2021-07-13 10:51] Hanawa02 commented on #27
Our docs will be part of the Website, if I'm not mistaken.

[2021-07-13 19:20] jasikpark opened #72 "Rework `theme.css` to use HSLA composition for easier color definition"
I want to make defining extra colors in the theme easier, as @FredKSchott has run into, by rewriting the theme w/ HSLA composition as explained in [The Power of Composition with CSS Variables](https://blog.maximeheckel.com/posts/the-power-of-composition-with-css-variables/).

We might also add comments explaining how the composition all works...

## Excerpt from [The Power of Composition with CSS

[2021-07-13 19:50] jasikpark opened #74 "Layout issue on the header"
<img width="129" alt="image" src="https://user-images.githubusercontent.com/10626596/125515939-562aa8b8-b437-46c0-add1-7986a1f4f4e9.png">

I feel like there should be more padding to the right of the theme switcher, no?

[2021-07-13 20:20] jgil-r commented on #72
That looks good. Unless you or someone else was already planning on working on this, I'll be more than happy to work on this.

[2021-07-13 21:13] jasikpark commented on #72
That'd be great! Feel free to ping me when you've got a PR to review, I'm really interested in making this happen!

[2021-07-13 21:14] jgil-r commented on #72
Sounds good, thank you!

[2021-07-13 22:50] jgil-r commented on #72
I just realized #73 was happening. I'll get started once it gets merged.

[2021-07-14 19:05] #37 closed

[2021-07-14 19:12] jasikpark opened #79 "Make `node-fetch` example actually work by using pokeapi"
Update the example in /pages/guides/data-fetching.md to use the pokeapi like @FredKSchott suggested in #66

[2021-07-14 19:47] jasikpark opened #80 "Add side-by-side component for showing off code"
It'd be great to make a component that styles a code example and the rendered component side-by-side!

Could honestly just look like hooking up Prism and a little css grid box that renders the source on the right side 🤔 though i'm not sure how you say "create a component out of this source code that was passed to me as a prop", though maybe we do like the astro tests and pull from a code examples

[2021-07-14 20:49] #29 closed

[2021-07-14 21:02] FredKSchott commented on #74
Agreed! Fixed in 6dffadc

[2021-07-14 21:02] #74 closed

[2021-07-14 21:03] FredKSchott commented on #33
Docs improved in https://github.com/snowpackjs/astro-docs/commit/d2027d928ee04d2af38bab39878c38f0681f422c to make this separation more clear

[2021-07-14 21:03] #33 closed

[2021-07-14 21:12] jasikpark opened #81 "Color issue in light mode code blocks"
<img width="354" alt="image" src="https://user-images.githubusercontent.com/10626596/125693540-2f065f31-0e7a-4e09-8870-0d27e9b9942f.png">

For some reason there's a dark color used now - I expect this is the default color for `<code>` blocks regardless of whether it's embedded in a `<pre>`

[2021-07-14 21:13] #7 closed

[2021-07-14 21:20] FredKSchott commented on #9
yup, we should be unblocked to add this now. However, if all we have here is a list of different 3rd party libraries/services to integrate with, maybe it's better to add these as example projects instead? I know that Next.js does this and people really seem to like it: https://github.com/vercel/next.js/tree/canary/examples

There have been a couple of templates already started for Headless Wordpre

[2021-07-14 21:51] jasikpark opened #83 "SiteSidebar focus styles are clipped by overflow."
![image](https://user-images.githubusercontent.com/10626596/125697555-ea441312-0bbb-4aa0-80a5-ef2924489c09.png)
![image](https://user-images.githubusercontent.com/10626596/125697559-82d62230-2432-47b6-b9c4-8875d3dafe92.png)

reported by @okikio#3174 on discord https://discord.com/channels/830184174198718474/853350631389265940/864984473699221514

Maybe it would make sense to use something like [tai

[2021-07-14 22:01] #81 closed

[2021-07-14 22:17] joshuaferr1s opened #84 "ASCII Replacing { Character"
I noticed across the site `{` is being replaced by `&#123;`. But not in every instance.

E.g. 1: Collections page: `const &#123; collection } = Astro.props;`

[2021-07-14 22:19] okikio commented on #83
I'm planning to use Tailwind for that. I did the same thing on josephojo.com and on bundle.js.org

[2021-07-14 22:24] jasikpark commented on #84
This seems to be something fun with how Astro decides to escape those opening brackets...

[2021-07-14 23:06] jasikpark commented on #83
I would say just copy over the rules, don't actually pull in a tailwind config, yeah?

[2021-07-15 00:31] okikio commented on #83
Yeah, ok

[2021-07-15 02:20] jasikpark opened #88 "Add example for “script tag in astro component”"
In https://astro-docs-preview.vercel.app/core-concepts/component-hydration we say you can just add a script tag to an astro component, but no example for where that script can be located.

[2021-07-15 06:27] jasikpark opened #89 "Bug: overflow on components page"
https://astro-docs-preview.vercel.app/core-concepts/astro-components

x-overflow from a table - it should have `overflow-x: auto` so that it is ✨ responsive ✨

![image](https://user-images.githubusercontent.com/10626596/125739389-0ac6b28d-c8e6-4e7f-8fd0-3e791163297c.png)

[2021-07-15 06:29] jasikpark commented on #79
Also need to update that in https://astro-docs-preview.vercel.app/core-concepts/astro-pages

[2021-07-15 20:38] jasikpark opened #93 "Add community links, etc. to DocSidebar akin to vscode docs"
<img width="175" alt="image" src="https://user-images.githubusercontent.com/10626596/125854102-d34a92b0-76c2-4ab6-809b-f459bc1ef751.png">

https://code.visualstudio.com/Docs @aFuzzyBear suggested adding some links to the sidebar that felt like it suggested "Join our community"

Maybe we could add an invite to the Discord under the "edit on github" link? Etc....

[2021-07-15 20:40] jasikpark opened #94 "Add DocSidebar info to footer when on mobile"
Currently the "Editor On Github" and table of contents are thrown away and hidden on mobile, maybe we can add them to the layout somehow on mobile?

- Maybe add the TOC to the top before the page content
- Maybe add Edit on Github to the footer, in addition to social links

[2021-07-15 21:04] FredKSchott commented on #89
FYI: the docs have been successfully merged back into the main Astro repo: https://github.com/snowpackjs/astro/tree/main/docs

This issue will be migrated over soon, but if anyone can take a look at this issue before then, please remember to create a PR against the main astro repo instead.

[2021-07-15 21:04] FredKSchott commented on #88
FYI: the docs have been successfully merged back into the main Astro repo: https://github.com/snowpackjs/astro/tree/main/docs

This issue will be migrated over soon, but if anyone can take a look at this issue before then, please remember to create a PR against the main astro repo instead.

[2021-07-15 21:04] FredKSchott commented on #84
FYI: the docs have been successfully merged back into the main Astro repo: https://github.com/snowpackjs/astro/tree/main/docs

This issue will be migrated over soon, but if anyone can take a look at this issue before then, please remember to create a PR against the main astro repo instead.

[2021-07-15 21:04] FredKSchott commented on #83
FYI: the docs have been successfully merged back into the main Astro repo: https://github.com/snowpackjs/astro/tree/main/docs

This issue will be migrated over soon, but if anyone can take a look at this issue before then, please remember to create a PR against the main astro repo instead.

[2021-07-15 21:04] FredKSchott commented on #80
FYI: the docs have been successfully merged back into the main Astro repo: https://github.com/snowpackjs/astro/tree/main/docs

This issue will be migrated over soon, but if anyone can take a look at this issue before then, please remember to create a PR against the main astro repo instead.

[2021-07-15 21:04] FredKSchott commented on #79
FYI: the docs have been successfully merged back into the main Astro repo: https://github.com/snowpackjs/astro/tree/main/docs

This issue will be migrated over soon, but if anyone can take a look at this issue before then, please remember to create a PR against the main astro repo instead.

[2021-07-15 21:04] FredKSchott commented on #72
FYI: the docs have been successfully merged back into the main Astro repo: https://github.com/snowpackjs/astro/tree/main/docs

This issue will be migrated over soon, but if anyone can take a look at this issue before then, please remember to create a PR against the main astro repo instead.

[2021-07-15 21:04] FredKSchott commented on #35
FYI: the docs have been successfully merged back into the main Astro repo: https://github.com/snowpackjs/astro/tree/main/docs

This issue will be migrated over soon, but if anyone can take a look at this issue before then, please remember to create a PR against the main astro repo instead.

[2021-07-15 21:04] FredKSchott commented on #27
FYI: the docs have been successfully merged back into the main Astro repo: https://github.com/snowpackjs/astro/tree/main/docs

This issue will be migrated over soon, but if anyone can take a look at this issue before then, please remember to create a PR against the main astro repo instead.

[2021-07-15 21:04] FredKSchott commented on #22
FYI: the docs have been successfully merged back into the main Astro repo: https://github.com/snowpackjs/astro/tree/main/docs

This issue will be migrated over soon, but if anyone can take a look at this issue before then, please remember to create a PR against the main astro repo instead.

[2021-07-15 21:05] FredKSchott commented on #18
FYI: the docs have been successfully merged back into the main Astro repo: https://github.com/snowpackjs/astro/tree/main/docs

This issue will be migrated over soon, but if anyone can take a look at this issue before then, please remember to create a PR against the main astro repo instead.

[2021-07-15 21:05] FredKSchott commented on #13
FYI: the docs have been successfully merged back into the main Astro repo: https://github.com/snowpackjs/astro/tree/main/docs

This issue will be migrated over soon, but if anyone can take a look at this issue before then, please remember to create a PR against the main astro repo instead.

[2021-07-15 21:05] FredKSchott commented on #9
FYI: the docs have been successfully merged back into the main Astro repo: https://github.com/snowpackjs/astro/tree/main/docs

This issue will be migrated over soon, but if anyone can take a look at this issue before then, please remember to create a PR against the main astro repo instead.

[2021-07-15 21:06] jgil-r commented on #72
Sounds good, I'm working on this right now.

[2021-07-15 21:09] okikio commented on #83
Did you fix the bugs in `astro-docs`?

[2021-07-16 16:59] #93 closed

[2021-07-19 21:25] FredKSchott commented on #72
great!

[2021-07-19 21:32] #84 closed

[2021-07-19 21:32] #83 closed

[2021-07-19 21:32] #80 closed

[2021-07-19 21:33] #79 closed

[2021-07-19 21:33] #35 closed

[2021-07-19 21:34] #27 closed

[2021-07-19 21:35] #22 closed

[2021-07-19 21:41] #94 closed

[2021-07-19 21:41] #18 closed

[2021-07-19 21:41] #9 closed

[2021-07-24 16:31] jasikpark opened #113 "📘 DOC: Add usage of `--site` to /guides/deploy for preview sites"
For example on Netlify we should add
[code]
for Deploy Previews and Branch Deploys in the explanation

[2021-07-26 18:54] stramel opened #112 "📘 DOC: Example/Template color contrast ratios"
I noticed by default in the examples/templates, the color contrast ratios come up in the accessibility portion of the Lighthouse Audit.

Primarily seems to be these 2 colors:

`--theme-accent`(`--color-orange`):  `#ff5d01` - against white provides ratio of 3.08

and

`--theme-text-lighter`(`--color-gray-400`): `#9ca3af` - against white provides ratio of 2.53

For smaller font sizes, the minimum ra

[2021-07-29 21:45] jasikpark opened #111 "📘 DOC: Add default remark plugin config to docs as an easy copy-pastable snippet."
Can we add documentation that makes it easier to add extra plugins to remark? At the moment, we *list* the plugins used, but we don't document how to replicate the current config.

[2021-07-30 22:18] jasikpark opened #110 "📘 DOC: Add instructions about “git rebase” for contributing"
I only recently learned about how useful "git rebase" is, especially from the core team on this project!

It sounds like several other people who have made PRs haven't used it before, it might be nice to add a blurb to https://github.com/snowpackjs/astro/blob/main/contributing.md or https://docs.astro.build/references/contributing

[2021-08-16 14:47] tony-sull opened #109 "📘 DOC: Add docs and tests for passing options to custom renderers"
This came up for me while working on withastro/astro#935, apparently Astro actually does have support for passing options to a renderer.  We should add docs to cover this and also make sure there is test coverage for it as well

https://github.com/snowpackjs/astro/pull/935#issuecomment-899567509

[2021-09-25 21:13] arecvlohe opened #108 "📘 DOC: Improve docs around deployment script to gh-pages"
Hello all! I think Astro is pretty great at what it does and I even contribute a small amount each month to help support your work.

I came across the docs for deploying to github pages and found the deploy script would overwrite my `main` branch with the output of the `dist` folder. I'd like to be able to maintain my `main` branch as it is but to instead deploy to a separate branch named `gh-page

[2021-11-17 22:49] jasikpark opened #107 "📘 DOC: Move ThemeToggleButton to fixed position on mobile"
Currently, we put the MoreMenu.astro at the bottom of the page on mobile views, which means that they only rarely get seen..

Two options would be:

1. Moving the theme toggle to a fixed floating position, replicating <https://fasterthanli.me>'s setup
2. Moving the theme toggle to the navigation menu

[2021-11-17 22:55] jasikpark opened #106 "📘 DOC: Add support for clearing your theme selection in the docs"
Currently, if you select light theme or dark theme in the theme toggle, it is then fixed, and there is no way to return to `prefers-color-scheme` without going into Inspect Element and clearing the local storage key.

I'd like to propose using <https://cssdb.org/>'s Theme Switcher that adds an indeterminate state to the theme toggle.

light mode:
![image](https://user-images.githubusercontent.com/

[2021-11-19 17:41] natemoo-re opened #105 "📘 DOC: Document Components in Markdown"
`astro@0.21.0` introduces Components in Markdown! We need to add a section about how this works in our docs.

[2021-12-03 07:10] X7md opened #104 "📘 DOC: Arabic Layout theme have an issue"
# Preview:

https://user-images.githubusercontent.com/54203033/144560112-1bcc051f-1f34-4d30-9193-9a5c41cc1267.mp4

There is an issue with arabic theme, some MarkDown go after footer and Display as LTR not sure why.

[2021-12-24 02:29] jasikpark opened #103 "📘 DOC: Lint for broken links in all languages"
Currently we have a `yarn lint:linkcheck:local` command that can check for broken links, but we don't have any way to switch what language you're using without JS, so it only checks the English pages.

I want to write a script using the programmatic version of [blc](https://github.com/stevenvachon/broken-link-checker) to check all translations of the docs for broken links!

[2022-01-05 11:48] coelmay opened #102 "📘 DOC: Disable bundling hashes"
Under Styling & CSS [Bundling](https://docs.astro.build/en/guides/styling/#bundling) it mentions

This is (I presume) fine with most services. With Netlify as per [[Support Guide] Making the most of Netlify’s CDN cache](https://answers.netlify.com/t/support-guide-making-the-most-of-netlifys-cdn-cache/127) hashes break caching.

In order to eliminate the hashes I did find it is possible to disable

[2022-01-05 13:25] matthewp opened #114 "Update docs to guide people towards how to do styles"
Based on https://github.com/withastro/rfcs/blob/main/active-rfcs/0000-style-unification.md we should revamp the docs where styles are discussed and steer people towards the supported methods.

[2022-02-01 03:36] eallenOP commented on #108
I followed the instructions both under the GitHub Pages heading and the GitHub Actions heading, and it's working fine but it removes my custom domain every time. Do I need to add `echo 'my.domain' > CNAME` to the build step or something?

Yes, I have the correct `buildOptions.site` in `astro.config.mjs`. These instructions seem to assume that anyone who learns Astro will also know how to set up CI

[2022-02-03 18:36] nsjames opened #115 "License file"
Hello, is this repo intended to have an MIT license?

[2022-02-15 01:42] mac10046 opened #132 "Would like to understand what astro do under the cover"
Hi, I am was looking around the current documentation to understand in brief what astro really does when you build your site's using astro.

Would also like to know whether astro is a SPA (Single page application) or a pure SSG or both somehow.

As per Internet reading it looks like a SSG but as per my first project its acting as a SPA .. local routes and stuff like that. So pretty confused whethe

[2022-02-15 17:51] tony-sull opened #135 "DOC: Add docs for building non-HTML pages"
Add docs for building non-HTML pages [PR #2586](https://github.com/withastro/astro/pull/2586)

The feature is currently hidden behind the `--experimental-static-build` flag, but has some very powerful use cases for building generic files (ex: JSON or XML), and a couple useful caveats like the `Astro` global isn't available

[2022-02-17 13:10] sarah11918 opened #141 "Sidebar Language not matching for pt-BR"
pt-BR is the only non-two-character language code we've used in translations (leading to /pt-br/), and it's not being recognized in utils.ts to create a non-English sidebar.

I've tried adding it to SIDEBAR in config.ts in a couple of different ways, tried playing with the regex in config.ts, but I can't get it working correctly myself. Neither pt-BR (nor pt-br) are being successfully matched in `

[2022-02-18 13:45] cfv1984 opened #147 "link lang?"
Hi! Tried several increasingly cheekier ways of linking to my SCSS files, to no avail. Several times, in fact, because I keep forgetting this not being possible from my experiments.

Is this something that is possible? The docs consistently `<link />` to CSS. Could a notice be added noting that this is not an option?

Examples:

[code]
In all 3 cases, the actual file is resolved, and in the 2nd ca

[2022-02-18 14:35] sarah11918 commented on #105
This PR includes that documentation. (Basic example) https://github.com/withastro/docs/pull/148

[2022-02-26 06:49] leoj3n opened #164 "Cannot search for "define:vars""
When searching for `define:vars` using the algolia search (top right) it doesn't find this page:

https://docs.astro.build/en/guides/styling/#variables-in-scripts--styles

Or any relevant page to "define:vars". Not sure if this can be fixed?

Also note, the documentation here might be improved to explain the double `{{` syntax...
Something like `{myval}` expands to `{myval: myval}`, and that is wi

[2022-02-27 03:21] millette opened #165 "Document --hostname for preview option"
Note that it's currently not available for dev.

[2022-03-01 13:06] sarah11918 opened #175 "Need a custom 404 page"
Especially now that we removed the "Quick Start" page and replaced all instructions with the Installation page, we should really have a custom 404 page.

This could be a fun thing for someone to build and a great project for a new contributor!

[2022-03-01 13:12] Princesseuh opened #176 "Add a link to the repo in the "More" section"
In the more menu in the sidebar:

![image](https://user-images.githubusercontent.com/3019731/156175054-d1178b13-4522-4f08-9aed-e4807659110d.png)

I'd love to see a link the repo here added, in order to be able to quickly access it from the website itself, much like you can access the repo of Astro itself quickly on the main website by clicking the GitHub icon

[2022-03-01 13:17] sarah11918 commented on #175
For now, it's very likely /en/quick-start that is a broken link, so this page should probably include an easy path to the Installation Guide

[2022-03-01 13:34] sarah11918 opened #177 "Need a LICENSE"
Assuming it's going to be the same as https://github.com/withastro/astro/blob/main/LICENSE  (MIT). Will get confirmation on this.

[2022-03-01 17:07] sarah11918 commented on #175
Heads up, maybe not such a good first issue quite yet!  We're also tracking a bug in Astro for 404 pages: https://github.com/withastro/astro/issues/2661

[2022-03-01 17:32] PatrickDrummond commented on #176
I'd like to take this on if possible

[2022-03-01 17:40] andersbc opened #179 "Missing documentation on slots and named slots"
**UPDATE**: seems it for some reason was recently removed from the docs 1 day ago, at this commit: https://github.com/withastro/docs/commit/aece7ded51d191b37ada32f00c702a7f101dee23

----

https://docs.astro.build/en/core-concepts/layouts/#article says

.. but slots are not mentioned in the linked component page.

Also when I search the docs for `slot` (via the built in search ui) it doesn't come o

[2022-03-01 22:37] delucis commented on #175
Just a note to say that there is currently [a basic 404 page](https://github.com/withastro/docs/blob/cabf1a1a128640a680f0b9dc167efd92d27aec33/src/pages/404.astro). Due to [a regression in static builds](https://discord.com/channels/830184174198718474/830184175176122389/948307773819584622) it’s built to `404/index.html` and not currently picked up by Netlify. The German translation also includes [a

[2022-03-01 23:06] sarah11918 commented on #179
Thanks! I'll track this down!

[2022-03-01 23:10] zadeviggers commented on #164
I'm pretty sure that's an Algolia limitation. Maybe a sign to move away from Algolia to a custom-built search system?

[2022-03-02 13:14] sarah11918 commented on #179
Up on the site now, thanks again!

https://docs.astro.build/en/guides/slots/

[2022-03-02 13:14] #179 closed

[2022-03-02 13:17] sarah11918 commented on #175
Thanks, @delucis , so less of a "needs a 404 page" and more of a "needs the bug to be fixed."  :)

I'm going to close this, but will add a new issue to add a Netlify redirect. We might not be able to test this until 404s are working again, but that absolutely sounds like a good feature to have!

[2022-03-02 13:21] sarah11918 opened #182 "Add Netlify redirects to handle localised 404 pages"
One more thing we could add to handle localised 404 pages would be a redirect in `netlify.toml`:

[code]

That would mean any language that included a 404 page could serve its own version. (Might look like this redirects _everything_ to 404, but [Netlify is clever](https://docs.netlify.com/routing/redirects/redirect-options/#custom-404-page-handling).)

_Originally posted by @delucis in https://gi

[2022-03-02 13:22] #175 closed

[2022-03-02 13:56] sarah11918 commented on #132
Hi @mac10046 !

We are currently rewriting our documentation to help answer those very questions!  Astro is an SSG, and a MPA (multi-page application) that uses file-based routing at its core. We have some community contributions to include SPA functions, but in general, Astro uses a "one file creates one page route" (or, with some functions, "one file creates multiple related page routes")

I'm i

[2022-03-02 14:30] sarah11918 commented on #115
@nsjames I *believe* the license will be MIT, since that's the license for the main Astro project, but I am checking on this!

[2022-03-02 21:08] sarah11918 commented on #115
@nsjames Yes, MIT! I'll add the license to the docs today.  Thanks for pointing it out!

[2022-03-02 21:08] #115 closed

[2022-03-02 21:10] sarah11918 commented on #105
It's in there!

[2022-03-02 21:10] #105 closed

[2022-03-02 21:20] sarah11918 commented on #177
Done!

[2022-03-02 21:20] #177 closed

[2022-03-04 16:42] sarah11918 commented on #176
Thanks, @chriswburke ! I see the PR, so I'll close this issue because you stepped up, and I've requested that @Princesseuh review it.

I can see this is your first contribution to the docs repository! Welcome!

[2022-03-04 16:42] #176 closed

[2022-03-05 18:45] alexwhitmore opened #190 "Add a reference to the migration docs in the Astro.resolve() section"
When going through the withastro/docs issues I came across https://github.com/withastro/docs/issues/147 where I learned that `Astro.resolve()` is being deprecated. In the API reference section where the information about `Astro.resolve()` lives, there should be a temporary note with reference to the migration guide.

Possibly something like:
### `Astro.resolve()`

`Astro.resolve()` helps with crea

[2022-03-06 15:22] chriswburke commented on #176
Thanks @sarah11918! 🎉

[2022-03-07 16:35] sarah11918 commented on #190
Thanks for this, and yes, you're right and we're working on it!

It is on our radar as we are refreshing a LOT of the docs, and in some cases, I wait for larger PRs to merge before making smaller changes elsewhere because it makes everything go more smoothly. So not everything is fixed exactly when I notice it, but this is a good reminder of something that's really important to get done sooner rat

[2022-03-07 16:49] sarah11918 commented on #106
I'm just going to ping on this and say that I got "stuck" in dark mode myself (though, I knew this issue existed so I came here to figure out how to get back to light theme).

So, whatever solution we choose, it would be nice if we didn't lose the option to toggle the theme once it's chosen.  :)

[2022-03-07 17:26] alexwhitmore commented on #190
Hi Sarah, thank you for the insight! I would love to contribute to the docs. :)

[2022-03-07 17:30] sarah11918 commented on #190
Excellent! We LOVE all the contributors we can get! Once the PR I'm waiting on is merged (today?) I'll come back and ping you directly to say it's safe to grab main and make your PR!  @alexwhitmore

[2022-03-08 14:05] sarah11918 commented on #190
OK, @alexwhitmore , I made my merge and docs are once again a free-for all for PRs!  :)

I noticed a new PR come in overnight that seems related, so please do have a look at https://github.com/withastro/docs/pull/193 to see whether it address/overlaps or not. Two things to note:

1. I can't yet accept that PR because it was from an old branch of main (I've commented at the bottom there, asking if

[2022-03-08 22:10] alexwhitmore commented on #190
Closing as this issue was made into a PR and merged :)

[2022-03-08 22:10] #190 closed

[2022-03-09 05:58] jose8a opened #195 "Add inclusion of the astro.config.mjs file to Manual Setup"
Several errors relating to the renderers appear after following the Manual Setup instructions in the docs: https://docs.astro.build/en/guides/manual-setup/

These errors go away by adding the astro.config.mjs file to the root of the project and simply adding the `renderers: [],` line into the configuration.  This step is currently missing from the manual setup instructions.

[2022-03-09 10:02] Mister-Hope opened #197 "Replace vuepress@v1 with vuepress@v2"
This is Mister-hope from VuePress team. Similar with the topic discussed in https://github.com/withastro/astro/issues/1159, I am not sure why you are comparing with our VuePress1. It has nearly no activity in any features and only rare bug fixes in last 2 years. (e.g.: 9 month between 1.8.2 and 1.8.3)

![image](https://user-images.githubusercontent.com/33315834/157416939-f0538b9a-9411-49c5-b484-54

[2022-03-09 10:05] Mister-Hope commented on #197
BTW, the 2 results are generated from https://web.dev/measure/ and our official docs link ( deployed on gh pages is at  https://v2.vuepress.vuejs.org/

[2022-03-11 00:25] delucis opened #209 "Reference generation script improvements"
Suggestions from @FredKSchott for ways to improve the `scripts/docgen.mjs` script that auto-generates the API reference from types in the Astro repo:

- [ ] Instead of `STUB`, take an optional file path to your local `@types/astro.ts` file on disk to test against that. This would save a lot of copy-paste time.

- [x] Adding support for a `@version` JSDoc tag that will automatically add an "Added i

[2022-03-15 11:17] delucis opened #224 "a11y contrast issues after theme update"
@FredKSchott Looks like deb66f5 re-introduced a few a11y contrast issues that had been fixed in #198. We can’t use the orange accent for links against a light background.

Even in dark mode links containing inline code now fail an audit because the code bg is just _slightly_ lighter:

<img width="340" alt="image" src="https://user-images.githubusercontent.com/357379/158362143-cf9a620d-c98c-43c5-86

[2022-03-15 14:00] Akxe opened #225 "Use typescript in hoisted script"
I am not sure, what am I doing wrong, but my typescript does not get executed. If typescript is present during the build I get an error `Expected ";" but found ":"`, but if the file is valid JS, and after the first build I change the code, I gen no error, but neither the code does change on client

[2022-03-15 16:01] sarah11918 commented on #182
PR submitted for this! Thank you!

[2022-03-15 16:01] #182 closed

[2022-03-15 16:04] sarah11918 commented on #225
Hi @Akxe ! The best place to ask about this is in our Discord community https://astro.build.chat

This location is only for issues with our documentation repository, so you won't find the right people here to help you. But, if you join us in Discord, you'll find people more than happy to help you out with this! We have a dedicated team of people who will receive a notification if you post your que

[2022-03-15 16:04] #225 closed

[2022-03-15 16:17] sarah11918 commented on #224
Just musing out loud, but I had it in my head that sometimes the numbers didn't always coincide with what was otherwise agreed-upon as "easiest to read" by readers, and I thought orange (and in particular, orange-white) was a particular culprit here.

I think some standards are scheduled to change (but I don't recall a timeline) to reflect some of the issues with current ratios, and of course, if

[2022-03-15 22:47] delucis commented on #224
Interesting! I hadn’t heard that. I managed to dig up some anecdotal stuff about white text on orange backgrounds being more accessible in user tests than the colour contrast suggests ([link](https://www.bounteous.com/insights/2019/03/22/orange-you-accessible-mini-case-study-color-ratio/)). Would love to read more if you know where you saw that.

I guess the dark theme contrast is marginal, so I’d

[2022-03-16 02:00] Princesseuh opened #233 "Document different config file formats"
Unlike what the current documentation want you to think, Astro supports a bunch of formats for its configuration file. You can use .js, .mjs, .cjs and [notably .ts](https://github.com/Princesseuh/princesseuh.dev/blob/redesign/astro.config.ts). You can also either use `defineConfig` or the old format. Most users will use the default one (.mjs with `defineConfig`), that's fine and expected, of cours

[2022-03-19 14:03] 7flash opened #242 ""astro dev" in production"
Is that (just) a bad practice or strongly prohibited way to deploy app?

I have strong use case for doing that, specifically rendering fresh files to client without rebuild; but it feels like that would defeat the whole idea of Astro about static rendering?

[2022-03-19 14:26] 7flash opened #243 "build ignores package scripts"
Here is repository to reproduce error:

https://github.com/7flash/sleek-web-second/blob/master/src/components/SleekApp.jsx

Expected, when I run "npm run build" and serve index.html, it should render the same what renders using "npm run dev"

npm run dev:

![image](https://user-images.githubusercontent.com/4569866/159125007-34aeb216-ef2f-44e2-bcbd-abf1576157b0.png)

npm run build:

![image](https:

[2022-03-19 14:47] gabrielmoncea opened #244 "Docs: Astro vs Remix"

[2022-03-22 14:20] sarah11918 commented on #242
Hi @7flash !

Someone will be able to answer your question in our Discord channel! That's where we provide support for using Astro. This repository is exclusively for issues with fixing/improving our documentation site, so you won't have the right people looking at your question here.

Please visit https://astro.build/chat to join our Discord and ask a question there! Thank you!

[2022-03-22 14:20] #242 closed

[2022-03-23 19:07] matthewp commented on #114
Thanks was done.

[2022-03-23 19:07] #114 closed

[2022-03-24 11:35] sarah11918 commented on #243
Hi @7flash , thanks for reporting this!

These issues are specifically for our documentation site, not for Astro as a product, though, so I'm afraid you won't get the right people looking at your issue here.

Can you please make an issue at the https://github.com/withastro/astro repository? That's where our engineers will be expecting issues like this. Thank you!  :)

[2022-03-24 11:38] sarah11918 commented on #233
Thanks, @Princesseuh , I've included mention of this in my latest draft for a page about "Configuring Astro" and setting up/using the `astro.config.js` file!  So, I'll close this issue here, and exactly what to say and details to include can occur when a PR is made for that page.

[2022-03-24 11:41] sarah11918 commented on #197
Hi @Mister-Hope - I know we will be looking at that section of the documentation again soon for updates/refreshes, so I will make sure this is brought to @FredKSchott 's attention!

[2022-03-24 11:45] sarah11918 commented on #165
Hi, it looks like the BUG is closed, so I'm going to close this as a documentation issue.

I hope it's working now!

[2022-03-24 11:45] #165 closed

[2022-03-24 11:47] sarah11918 commented on #195
Thanks for reporting, and I believe we've got this covered in docs now! (Of course, it's now going to be `integrations: []`, but we've got that in documentation ready to go for the next release!)

[2022-03-24 11:59] sarah11918 commented on #164
Thanks @leoj3n @zadeviggers In fact, I'm not seeing ANY search results for ANY in-code text.

I came across this:  https://docsearch.algolia.com/docs/docsearch-program/#can-you-index-code-samples  so it might be a configurable (and, I'm guessing, not by default) feature of Algolia, and they do not recommend doing it.

I think this means that we should make sure that words we expect people to searc

[2022-03-24 11:59] #164 closed

[2022-03-24 12:09] sarah11918 commented on #147
I believe we have now documented the deprecation of the Astro.resolve() behaviour, and are currently in the process of updating other docs regarding our styling and css imports, including how they're now going to work with some recent changes, so I'm going to close this issue. If you have issues with how things are documented going forward, with our newer methods, please do feel free to open a new

[2022-03-24 12:09] #147 closed

[2022-03-24 22:08] KyleFontenot opened #257 "Doc: Parent layout notes for Layouts section"
Should be noted that any astro component (layout or not) automatically populates an `<html>`, `<head>`, and `<body>` if none are explicitly defined. If **any** of the `<html>`, `<head>`, and `<body>` tags are defined in a component, that component takes precedence of inserting the three tags and must contain all of the three elements **that are edited**.

Example: if you want to add a `class` to `

[2022-03-24 22:10] KyleFontenot commented on #257
The first point is the most important that gives errors commonly found such as https://github.com/withastro/astro/issues/2827

[2022-03-25 22:20] FredKSchott commented on #197
Sounds good! this entire page needs an audit, I'll make sure to update to vuepress 2 when we do

[2022-03-28 15:53] Princesseuh opened #272 "Add documentation for `class:list`"
Astro has an utility called `class:list` to allow to conditionally add classes to something, it was added in 0.21 but has never been documented

It'd be cool to have documentation for it because the VS Code extension does provide a completion for it, which will inevitably leads users to use it (and wonder how to use it)

For info on usage, see [this fixture](https://github.com/withastro/astro/blob

[2022-03-29 21:17] Chrissdroid opened #280 "Translation not possible on some elements"
Translation is not possible on theses elements :

- `Top navigation` title
- `Site navigation` title
- `Table of content` title
- Search input in the top bar
  - `Press '/' to search`
- The entire search modal component
- The `<sponsor/>` component
  - the text "Sponsored by"
  - the aria-label on the sponsor
- The sidebar content placeholder when no translation found
  - "No Translations Found"

[2022-03-29 21:19] sarah11918 commented on #280
Wonderful! Even if there's more to find, this is a great start!

I can't promise when we'll get to it, but now we have a record of what to look for... 😄

[2022-03-31 01:31] sarah11918 commented on #272
@zadeviggers Is this something you'd be interested in looking into, with the directives you've been documenting?

[2022-03-31 01:33] sarah11918 opened #288 "Enable GitHub action for docs Congrats bot in Discord, like main repo"
Something based on this (from https://github.com/withastro/astro/blob/main/.github/workflows/main.yml)

[code]

[2022-03-31 19:48] zadeviggers commented on #272
Yep, I'll add it in #282

[2022-04-04 10:35] delucis commented on #280
@sarah11918 Feel free to assign this to me and I can go through addressing these where possible.

Thanks for this thorough list @Chrissdroid!

[2022-04-04 13:24] Chrissdroid opened #299 "Styling for `<abbr></abbr>` tags"
improve the `<abbr></abbr>` tag styling for something more appealing to the eyes

[2022-04-04 13:29] sarah11918 commented on #280
@delucis I'm not sure you need my assignment, and I'm certainly not going to stop you.. this would be great! It's difficult to plan i18n work right now that won't just need to be done all over again, but this is content-independent, and absoulutely worth doing!  😄

[2022-04-05 03:15] jose8a opened #308 "Additions to the Integrations API documentation"
Potential improvements to the Integrations API documentation:

A lifecycle diagram on the order in which the hooks are run and also under which scenarios they will be utilized? I initially found it confusing trying to figure out what each hook could be used for, and under which scenarios (e.g. during dev, during build, during SSR, or maybe others?). It wasn't until after looking through the Astro

[2022-04-05 19:24] mattleff opened #312 "Astro vs. X page misleading"
On the [Astro vs. X page](https://docs.astro.build/en/comparing-astro-vs-other-tools/) there appear to be some misleading performance comparisons with other frameworks. Is there a reason why the Documentation Website case studies compare the first load JS of the competing frameworks with the "_after_ first load" JS of Astro? Aside from being unfair it makes Astro appear much smaller than it would

[2022-04-06 15:49] #141 closed

[2022-04-07 06:13] JustinVoitel opened #324 "Lit + Typescript example"
I can't seem to get a working example using lit typescript component. A example project or some documentation would be really appreciated!

[2022-04-09 07:50] FredKSchott opened #335 "Astro.self docs are missing"
Nothing here: https://docs.astro.build/en/reference/api-reference/#astroself

[2022-04-11 00:02] kissu opened #338 "Shiki theme not taken into account"
This question was initially asked [on Discord](https://discord.com/channels/830184174198718474/845451724738265138/961679446367174717).

I'll give the details here too:
- using this configuration in `astro.config.mjs` have no impact regarding the theme
[code]
- my goal is to be able to use any of the [official themes](https://github.com/shikijs/shiki/blob/main/docs/themes.md#all-themes) at first
-

[2022-04-11 22:41] kissu commented on #338
Oopsie, wrong repo my bad!

[2022-04-11 22:41] #338 closed

[2022-04-12 00:29] #272 closed

[2022-04-12 14:55] VaarunSinha opened #346 "No Clear Docs Regarding Using PostCSS or Plugins"
I couldn't find enough information in the docs about PostCSS support. A short line in the Styling & CSS page says PostCSS is supported as an integration
(https://docs.astro.build/en/guides/styling/#:~:text=additionally%2C%20postcss%20is%20supported%20as%20an%20integration.).

But there's no mention of PostCSS in the Integrations Doc (https://docs.astro.build/en/guides/integrations-guide/) and ther

[2022-04-19 13:04] sarah11918 commented on #324
Hi @JustinVoitel ! I'm making notes from the issues here, but I was wondering whether you had tried using this starter template example https://github.com/withastro/astro/tree/main/examples/framework-lit or opening the Lit example on https://astro.new ?

It would help us to know whether tyou tried but here's an issue with that example not working, or whether you just hadn't found that example yet.

[2022-04-20 07:01] JustinVoitel commented on #324
Hi @sarah11918,
I was trying to get it to work locally and in a Stackblitz container, both unsuccessful!
Here you can try it our for yourself: https://stackblitz.com/edit/github-mo9936?file=src/components/Counter.ts
Some things I noticed:
- you can`t import 3rd party components (e.g the vaadin component in the example)
- some decorators throw an error (the customElement one in the example )

[2022-04-20 08:44] delucis commented on #280
@Chrissdroid We just merged #307. Is there anything important left from this issue we should tackle?

[2022-04-20 15:44] sarah11918 commented on #324
@JustinVoitel OK, so this is an issue with the example itself! Great to know!

If you happen to be on Discord, the best place to get info or help quickly on this is https://astro.build/chat

This repository is for our documentation, and it sounds like what you're experiencing is a problem with our starter template itself. So, you'd get the best eyes on the problem by filing an issue in the astro r

[2022-04-20 15:44] #324 closed

[2022-04-20 15:53] sarah11918 commented on #112
Hi @stramel 👋 I'm sorry that there was no recent feedback on this issue, but we did recently redesign the doc site themes and colours, and I know we have some outstanding issues/PRs as we finalize things there.

So, I'm going to close this issue here, with thanks for pointing out the contrast ratio. I know we absolutely did look at this when creating a new theme, and I think we might still be fine

[2022-04-20 15:53] #112 closed

[2022-04-20 15:56] sarah11918 commented on #106
@jasikpark Is this still an issue for you? I know even just a couple of months ago I got "stuck" in dark mode, but it seems fine for me now.

[2022-04-20 16:01] sarah11918 commented on #113
Ya got reeeeeaaallly distracted, @aFuzzyBear ! :sweat_smile:

Should this still be an open issue?

[2022-04-20 16:04] sarah11918 commented on #111
I'm going to close this since we do now have examples of adding remark plugins!

[2022-04-20 16:04] #111 closed

[2022-04-20 16:05] aFuzzyBear commented on #113
😂😂 no anymore, we got the one click deploys on the repository now along with all the ide integrations, I think this is safe to close,

[2022-04-20 16:05] #113 closed

[2022-04-20 16:08] #110 closed

[2022-04-20 16:09] sarah11918 commented on #109
@tony-sull is this a relevant issue anymore? :)

[2022-04-20 16:45] sarah11918 commented on #102
@JuanM04 You seem like a person to ask about this! Would you consider this an issue that can be closed? Or, is there something about this you'd suggest working into the new docs with our new configuration? Maybe here? https://docs.astro.build/en/guides/styling/#advanced

[2022-04-20 16:51] sarah11918 commented on #107
Ping @aFuzzyBear @tony-sull & @delucis on this, to decide whether this is something to explore/keep on the stack!

[2022-04-20 16:56] hippotastic commented on #103
Sure @sarah11918, why not! I'll have a look 🙂

[2022-04-20 17:14] jasikpark commented on #106
From testing, yes its still saves my setting to localstorage, with no way for me to unset it from the control

[2022-04-20 18:00] delucis commented on #107
I don’t think it’s a high priority, but it is something we could address at some point.

We do now show the “More” menu as part of the top table of contents on mobile, but _don’t_ include the theme toggle. (I’m actually not 100% on giving the more menu such priority on mobile, but that’s a side quest we’ll ignore for now.)

Real estate is at a bit of a premium on mobile. Overview of how a few othe

[2022-04-20 18:41] sarah11918 commented on #102
Excellent, thanks for your feedback, @JuanM04 . I will close this issue as something not to include in the official docs.

@coelmay Perhaps this is something you'd be interested in writing about yourself, maybe a blog post!

[2022-04-20 18:41] #102 closed

[2022-04-20 18:44] Princesseuh opened #358 "Document Content component returned by `Astro.glob`"
Currently the only documentation for `Content` we have is [this inside the API reference](https://docs.astro.build/en/reference/api-reference/#markdown-files) which doesn't tell us much unfortunately about how to use the component

This being undocumented is especially annoying for users as it's the only way to properly render Markdown with working components, which was particularly relevant befor

[2022-04-20 19:12] delucis opened #359 "New i18n process"
Opening an issue to keep track of the things we need to get the new i18n process ready. This is partly for myself as I can tackle a bunch of this, but also so others can point out other improvements and requirements or generally give feedback — or even jump in and help out! The more the merrier.

## To-do

- [ ] #1057
- [ ] #1058
- [ ] #1059
- [ ] #1481
- [x] Can we manually “clear” a language fro

[2022-04-20 19:25] sarah11918 commented on #359
Under "Write a guide" - would it be helpful if we created/kept a list of **terms not to be translated** (ie. use the English word or phrase in all cases)
- some to come from Astro core (whatever they want kept in English, for whatever reason)
- many to come from our translators, who have experience knowing what they'd reasonably expect to be in English in tech docs, or what might end up being conf

[2022-04-20 19:37] delucis commented on #359
@sarah11918 Sounds like a good idea to me. I would imagine this would be a fairly short list concentrated on Astro-specific terms. That would help ensure that for support cases there’s a shared vocabulary. For other terms, I’d leave it to the translators’ discretion as languages can differ significantly in how normal it is to integrate foreign terms.

[2022-04-20 19:44] hippotastic commented on #359
Great summary, @delucis! Thank you for writing this down. It's very good to have all related todos here in a central location.

Regarding the CI job, the idea is to have that job run automatically after any push to the `main` branch using GitHub Actions. This would ensure that the language-specific lists of pending translations are always up to date.

If we're able to agree on a common format for

[2022-04-20 22:35] hippotastic commented on #103
I've implemented it myself. See my PR above. The output looks like this:

[code]

When a link leads to a 404 page, the target href is prefixed by a ❌.
When the target page exists, but the link contains an URL hash that does not exist on that page, the prefix is 🔗.

[2022-04-20 22:47] coelmay commented on #102
I've moved on from this. Happy to let this disappear into the great abyss that is the Internet.

[2022-04-21 06:47] Chrissdroid commented on #280
I think everything is done with what i mentioned, nice work ! We can close this in prior of #359 and put new issues on there if some components need rework in regard of the docs refactor 😄 (as i said on the pull, I'm not worried about the “sponsored by” text so for now let it be like that and ajust whenever new issues happens)

[2022-04-21 06:47] #280 closed

[2022-04-21 10:26] RafidMuhymin opened #362 "Outdated Documentation | RSS"
The documentation on `RSS` is outdated now, the code example is still using the deprecated `Astro.fetchContent` API https://docs.astro.build/en/guides/rss/

[2022-04-21 18:02] X7md commented on #104
Nuh, It's solved.
I will close it.

[2022-04-21 18:02] #104 closed

[2022-04-21 23:05] #362 closed

[2022-04-22 08:38] hippotastic commented on #103
@sarah11918 This issue can be closed now, my PR got merged. 🎉

[2022-04-22 12:34] #346 closed

[2022-04-22 15:50] sarah11918 commented on #135
Hi @tony-sull - This is what we have right now: https://docs.astro.build/en/core-concepts/astro-pages/#non-html-pages

How relevant/up-to-date/complete is this? Should this issue be kept open?

[2022-04-22 17:12] sarah11918 commented on #335
Adding for reference: https://discord.com/channels/830184174198718474/830184175176122389/949369789900525578

[2022-04-22 17:34] sarah11918 commented on #224
I'm going to close this now, @delucis since you are clearly ON THE CASE, ON THE REG, and I'm sure this will be taking into consideration going forward.  :)

[2022-04-22 17:34] #224 closed

[2022-04-22 17:36] sarah11918 commented on #109
So, @tony-sull ... Aug 2021, eh?  I'm going to slowly close this and back away... and if it comes up again, it comes up! 😅

[2022-04-22 17:36] #109 closed

[2022-04-22 17:40] #243 closed

[2022-04-22 18:07] sarah11918 commented on #103
YAY! 🥳

[2022-04-22 18:07] #103 closed

[2022-04-23 18:49] Rolanddoda opened #369 "Better explanation for "Fragments & Multiple Elements""
I am reading the docs and I stumbled here:

![image](https://user-images.githubusercontent.com/18482346/164936777-fcb7b520-8728-424c-b1e9-cdb99ff707b7.png)

The first section(Dynamic HTML) is easy to understand.

The second section though, it's a bit confusing. Compared to the first one, it has multiple elements.
So at first, I thought that when "looping", if I have to display HTML with a single r

[2022-04-23 18:59] sarah11918 commented on #369
Hey, thanks for this @Rolanddoda !

Yes, I *am* surprised that what you wrote works... 😅  I will get people confirming that behaviour!

The distinction intended is that when writing something that looks like JSX/JS, the return value should be a single element, like it should be in JSX. (It doesn't *have* to be a fragment specifically. A div, or a <ul> or any single element should work.)

So what y

[2022-04-23 19:04] Rolanddoda commented on #369
Wow, @sarah11918 such a quick response and it's Saturday! Thank you.

[2022-04-24 17:51] a-trost opened #374 "Typo: "directly" to "directory""
One line in the [Static Assets page](https://docs.astro.build/en/guides/imports/#supported-file-types) says

(emphasis mine)

I assume this is supposed to say "copy the _directory_ into your final build."

Opening a pull request with this change.

[2022-04-25 13:38] sarah11918 commented on #374
Thanks for this! I'm closing the issue because I'm handling the pr now.  :)

[2022-04-25 13:38] #374 closed

[2022-04-25 13:39] sarah11918 commented on #374
Thanks for this! It has been fixed by another pr so I'm closing this one. (The intended original wording was "copy them directly" by the way!)

[2022-04-27 12:10] sarah11918 commented on #359
Alight @delucis & @hippotastic , with the main site merged, you're up on automation!  (I promise I will try not to make this difficult for you.) 😅

Can you START with a system for:
- /en/ pages to be marked as READY TO TRANSLATE (I don't know whether a yes/no or a green/yellow/red is more helpful. So only green are DONE for translating, as much as anything is ever done. But if you're "working ahea

[2022-04-27 12:14] sarah11918 commented on #359
(Follow up, I know you might tell me that, "This is actually the same system!" and it might *end up* that way... but this first has a smaller scope and simpler problem to solve. So sure, if you want to treat this as an experimental playground for the MAIN system that we'll need, going forward, that's fine. BUT, I would rather think of it as 2 different systems if it means that we get a nice, simpl

[2022-04-27 20:09] sarah11918 opened #387 "TabBox.astro component uses the Markdown component"
Just reminding us that when the Markdown component is no longer built-in, we'll need to address this.

[2022-04-27 22:01] victor0x16 commented on #369
hey, I can confirm that behaviour, see:

[code]
and this also works but it should?
[code]
Although it generates a slightly different js output on [Astro Play](https://astro.build/play). I don't know why :(

[2022-04-28 23:10] #387 closed

[2022-04-28 23:35] Yan-Thomas opened #399 "Theme Switcher a11y and i18n concerns"
The [theme switcher component](https://github.com/withastro/docs/blob/main/src/components/RightSidebar/ThemeToggleButton.tsx) uses `aria-label` with template strings to clarify to screen readers the current theme you're using. The problem with this is that it makes harder for translators to just translate it as part of [`ui.ts`](https://github.com/withastro/docs/blob/main/src/i18n/en/ui.ts).

If w

[2022-04-28 23:53] Yan-Thomas opened #400 ""On this page" doesn't indicate which part you're currently reading"
Something that I feel is missing on the current "On this page" component is the dynamic focus on headings based on where you're on the page, like what React.js Tutorial does in the image below:
![EXDlhQP](https://user-images.githubusercontent.com/61414485/165864998-55be262d-a3e3-4c15-855f-f88d217c4794.gif)

This can be achieved using [Intersection Observer API](https://developer.mozilla.org/en-US/

[2022-04-29 00:06] delucis commented on #399
Great catch! That pesky English text gets everywhere.

I'd suggest adding two new entries to the UI dictionary:

[code]

Then we can use the same approach as for other Preact components: add a `labels` prop and pass the correct translations to it from the Astro component that includes it.

[2022-04-29 00:09] delucis commented on #399
Here's the table of contents component for example: https://github.com/withastro/docs/blob/main/src/components/RightSidebar/TableOfContents.tsx

And now we pass the translated strings: https://github.com/withastro/docs/blob/4c33018ac3f57db3a1537a40e314b80e6b595553/src/components/RightSidebar/RightSidebar.astro#L19

[2022-04-29 00:33] delucis opened #401 "Add a breakout/admonition/aside component"
Currently we abuse the `<blockquote>` element to highlight bits of information, sometimes creatively combined with the `Badge` component. However these aren't usually actually quotes, so we shouldn't strictly speaking use `<blockquote>` to do this.

Many design systems include a component for this that usually supports different variations to highlight warnings, notes etc. Docusaurus calls them [“

[2022-04-29 01:36] davedbase opened #402 "Starter Kit installer doesn't enable correct framework"
**Note**: I clicked the GitHub button on the Astro docs install page and blindly posted this bug here in docs. It should probably be moved to the correct place. Sorry.

## Description

It seems like the installer isn't actually adding the correct JS framework for the generic starter.

## Versions

astro@1.0.0-beta.19
Node v17.3.0
pnpm 6.32.9

## Steps to Reproduce

1. `pnpm create astro@latest`
2.

[2022-04-29 01:44] davedbase commented on #402
Maybe it's because you're using npm and I'm using pnpm?

[2022-04-29 01:45] davedbase commented on #402
Once I pass that step and setup Solid integration manually I get a further error (which I could post separately but seems related):

[code]

[2022-04-29 01:48] sarah11918 commented on #402
pnpm still seems to work for me? Do you see anything here?

![Screenshot 2022-04-28 22 47 43](https://user-images.githubusercontent.com/5098874/165873504-908416b1-e80d-4c33-be32-34d47cff8653.png)
![Screenshot 2022-04-28 22 47 29](https://user-images.githubusercontent.com/5098874/165873506-53c55801-5c7d-4553-9356-c8bc65b3585d.png)

[2022-04-29 01:55] davedbase commented on #402
Nope, you know what this is a none issue. This is what happens when we don't *read* instructions. lol.

So I was installing with NO frameworks to begin with and didn't even realise it.

Can I suggest a step be added after selecting the framework? If a user doesn't specify from the list perhaps catch them before they continue? ie. `We noticed you didn't add a framework, would you like to continue?

[2022-04-29 01:57] sarah11918 commented on #402
I'll make a note! It's already on my list to update the instructions re: the create-astro walk through because this wizard has changed a little since the current docs were written. So, I'll be SURE to make it clear what to do in docs... and I'll ping engineering about the wizard itself.

[2022-04-29 13:02] Yan-Thomas commented on #401
I agree with having a dedicated component for this. Screen readers read `<blockquote>` as "quotation block", which doesn't sound clear since these text blocks are generally a complementary warning/tip.

Your solution is a **great** starting point! It gives a better description since it reads as "complementary (warning/tip/note)". I also like what Docusaurus does with remark-admonitions to implemen

[2022-04-30 10:57] roblevintennis opened #414 "Integrations API — Dev Setup for Testing Locally Example"
Capturing the idea that we should show instructions for setting up a local dev env and testing a non-internal integration (see [this comment](https://github.com/withastro/docs/pull/388#issuecomment-1112041968)) per @bholmesdev request. One will need to configure their own `tsconfig` as `astro-scripts` which is typically used within astro's main monorepo is not available. Also, many folks new to np

[2022-04-30 21:19] sarah11918 commented on #402
I'm closing this issue because the next page on my list to rewrite is the instructions following create-astro, since the wizard has just been updated with new steps! So, I will keep this in mind as I document the process. Thanks again for your suggestions!

[2022-04-30 21:19] #402 closed

[2022-04-30 21:21] sarah11918 commented on #401
I love this idea, especially if the screen reader text highlight's that it's a callout/warning/tip instead of just "block quote."

Do I close this with, "ON THIS, ON THE REG"??  ;)

[2022-04-30 21:24] sarah11918 commented on #399
Sounds great, and thanks for discovering this @Yan-Thomas !

[2022-04-30 21:29] sarah11918 commented on #400
So I took a look and NuxtJS docs do have this. In mobile mode, they don't even have "on this page" at all.

We have to re-do all the comparisons for Astro vs X page anyway... would you be up for looking at e.g. https://nuxtjs.org/docs/get-started/installation as a first step and seeing whether their "on this page" that shows where you are in the page seems to affect performance very much, @Yan-Tho

[2022-04-30 21:30] sarah11918 commented on #358
Closed by PR #405

[2022-04-30 21:30] #358 closed

[2022-04-30 21:32] sarah11918 commented on #399
While you look into this, can you take Issue #106 into account? Can we address that in this solution?

[2022-04-30 22:03] Yan-Thomas commented on #400
Hey @sarah11918 !

About Nuxt.js docs, they add this "Table of Contents" dropdown that sticks to the page as you scroll on mobile:

![Screenshot_20220430-185543_Samsung Internet.jpg](https://user-images.githubusercontent.com/61414485/166123973-14ed3a73-74af-4c49-806f-63e8b0edaa01.jpg)

I think I can easily PR this tomorrow and show how it affects page load through Lighthouse. Also, since we have p

[2022-04-30 22:30] Yan-Thomas commented on #399
Thanks @sarah11918 !

About #106, I think I can also solve this in the same PR. I'm not sure about the UI/UX of it though, but since we want to support the system preference, I could add a third state to the toggle (this way, well, it won't be a toggle anymore so I don't like it that much) or change it, as Fred suggested in the issue, to a button who changes state and icon between dark/light/syste

[2022-04-30 22:35] sarah11918 commented on #399
Excellent, @Yan-Thomas !

If I understand the older issue correctly, it's maybe less about whether it's toggle or buttons and more about the functionality of being able to clear/reset the state. So, I personally don't have a preference about the specific UI element as long as it effectively does the job.  :)

[2022-05-01 00:02] Yan-Thomas commented on #399
I think I found a solution without changing the UI at all! Credits to my shower thoughts 😅!

Just to validate it (and remember it) before trying to implement it tomorrow:

If the current theme matches the system's preference, it removes the data from local storage, so it syncs up with your system. But when you change through the toggle and then the current theme is different from the system, it sa

[2022-05-02 12:26] sarah11918 commented on #399
I should "send you to the showers" more often, @Yan-Thomas !  😄

I commented on the PR there, and mentioned the older issue and Caleb there as well.

[2022-05-02 22:04] sarah11918 opened #425 "Add Prettier plugin to Editor Setup page"
Update Editor Setup page to include https://github.com/withastro/prettier-plugin-astro

... and document npnp requirments as per: https://github.com/withastro/prettier-plugin-astro/issues/97#issuecomment-1013645333

[2022-05-02 22:08] #400 closed

[2022-05-02 22:21] sarah11918 commented on #308
Hi @jose8a !

I know @bholmesdev recently added some documentation to the page here: https://docs.astro.build/en/reference/integrations-reference/

How did he do?  😅

[2022-05-04 18:07] sarah11918 commented on #288
closed by @hippotastic PR #435 👏

[2022-05-04 18:08] #288 closed

[2022-05-04 20:16] github-actions[bot] opened #438 "[i18n] Translation Status Overview"
If you're interested in helping us translate [docs.astro.build](https://docs.astro.build/) into one of the languages listed below, you've come to the right place! This auto-updating issue always lists all the pages that could use your help right now.

Please note that we're currently limiting translations to a subset of pages that we consider stable enough. All other pages are still subject to cha

[2022-05-04 20:16] tinymachine commented on #425
[This Discord message](https://discord.com/channels/830184174198718474/966725001812250694/966807472394367047) from April 21 states there's currently no support for ESLint; perhaps a note that ESLint support is forthcoming could be explicitly stated on the Editor Setup Page as well? I spent some time googling around for this info before remembering to check Discord.

[2022-05-04 22:36] Enteleform opened #440 "Add links to GitHub issue in `Known Issues` sections."
I encountered an `import` / `export` / `variable` order bug on the dev server recently after upgrading to the latest version of Astro.

I was just digging around to see if this was in fact a known bug, or if Astro has plans to have standard JS/TS-compatible hoisting implemented at some point, and found that this is mentioned at https://docs.astro.build/en/migrate/#known-issues.

I'd like to follow

[2022-05-05 21:12] djmtype commented on #425
## Software

VS Code - Version: 1.65.2
Commit: c722ca6c7eed3d7987c0d5c3df5c45f6b15e77d1
Date: 2022-03-10T14:42:05.236Z
Electron: 13.5.2
Chromium: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Darwin arm64 21.4.0

❯ node -v
v16.14.2

❯ npm -v
8.5.0

Astro Prettier extension (https://marketplace.visualstudio.com/items?itemName=esbenp.prettier-vscode)

## Steps

1. Installed https://gi

[2022-05-06 16:33] sarah11918 commented on #312
Hi @mattleff !

I just wanted to follow up and say that we have done a re-run of all Lighthouse reports on the Astro v X page and updated the scores (with links to full audits) accordingly.

This page is still flagged for updating and revision, and should experience other changes. But, we did want to at least update what's there to be current, and I think the concerns in this issue have been addre

[2022-05-07 09:37] ragokan opened #472 "Formatting is not working"
Hello, I am using *Prettier* in my VSCode editor. Sadly formatting is not working.

![image](https://user-images.githubusercontent.com/63511519/167248501-6a45a200-4816-48b7-abb6-da52f811cf51.png)
Lets say I did it look like this, whenever I try to format, it does do nothing.

`"[astro]": { "editor.defaultFormatter": "astro-build.astro-vscode" }` I also added this to the config.json which did affec

[2022-05-07 09:48] ragokan commented on #472
![image](https://user-images.githubusercontent.com/63511519/167249020-e404a40f-431e-404d-b09f-a99ab1826b3c.png)
This is what I get when I say format manually

[2022-05-07 09:52] delucis commented on #472
Hi @ragokan 👋

Looks like the Prettier plugin isn’t being picked up by VS Code for some reason. This repo is specifically for the Astro documentation website and it is on our to-do list to document setting up Prettier (#425).

You might want to see if there are any issues on the prettier plugin repo that can help: https://github.com/withastro/prettier-plugin-astro

I know for sure you need a Prett

[2022-05-07 10:03] ragokan commented on #472
Hey

Hello, thank you for your fast reply. It did work when I follow your config file but only when I switched from pnpm to npm. Probably it can not detect pnpm directory. I will search about it, have a great day!

[2022-05-07 10:03] #472 closed

[2022-05-07 10:15] delucis commented on #472
Oh, yeah, I think difficulties with `pnpm` are one of the most common problems. I think this is the most relevant issue: https://github.com/withastro/prettier-plugin-astro/issues/97

[2022-05-07 11:13] Chrissdroid opened #474 "Glossaries for translation ?"
Each translation can be difficult and each language does not always have the same word for each concept used by astro

Glossary is like a white paper where translators refer to their approach in their language and ease the continuity between pages and sentence for a better understanding of the user

This issue is here to discuss how we can address this use case and make it available for each trans

[2022-05-07 11:18] delucis commented on #474
Hi @Chrissdroid — great idea! Is this mainly intended as a glossary for translators to refer to or a public-facing glossary for Astro users?

[2022-05-07 11:21] Chrissdroid commented on #474
I was thinking about translator-only at first glance, but it can technically be also useful for users if we include clear descriptions for each term

[2022-05-07 11:23] delucis commented on #474
For translators I’d suggest adding a Markdown file in your language’s i18n folder, e.g. `src/i18n/fr/glossary.md`. A `.ts` file will likely be quite inflexible and we’d need the added wrangling of generating a page from it. With a Markdown file, each team can do what they want, add more or less and different kinds of comments.

[2022-05-07 11:25] Chrissdroid commented on #474
I was thinking about translator-only at first glance, but it can technically be also useful for users if we include clear descriptions for each term

But if the docs are well written, we dont technically need this for users

It's more like a chart for translators to refer to and know what words can translate to

[2022-05-07 11:31] Chrissdroid commented on #474
I don't think making a PR when it changes is a problem in the long term, at the start, yes, because it needs to be adjusted first but then it won't normally change that much after that (except when a major release have a new concept to introduce)

[2022-05-07 11:39] sarah11918 commented on #474
You might wish to START with a shared Google Doc (e.g.) to at least get quick, easy collaboration on an initial version.

I'm thinking of our poor PRs that only @delucis & I (mostly) will approve!

It's a lot of bureaucracy and "process" for that initial task!

[2022-05-07 11:54] Chrissdroid commented on #474
@sarah11918 totally agree with that !

For the first iterations, this'll hopefully be done by each group on their side before coming with something (at least for the i18n-fr we'll discuss with everyone to agree on something that'll be good for everyone involved) and then PR'it when we're happy with the results

[2022-05-07 23:29] Chrissdroid opened #477 "Contributing guide as a page"
Making the guide for contributing to docs available as a page (ex: `/en/contributing` or `/en/guide/contributing`), can address these issues:

- Allow translation into each language supported
- Allow translators to specify one or more detail about their opinion on the translation on this page (like a link to their glossary page, see #474)
- Allow direct link to this guide for easier sharing when s

[2022-05-08 14:50] sarah11918 opened #481 "Remove "experimental" from SSR page"
This page needs updating now that SSR is no longer behind an experimental flag. It is the "new normal" but, it is still undergoing changes and in development. So, the text should at the very least remove reference to the experimental flag. But, perhaps keeping a note about it being in current development and subject to change is still helpful?

I suggest:

- Remove "(experimental)" from the SSR pa

[2022-05-09 05:30] SaumyaBhushan commented on #481
I would like to work on this issue. can you please assign it to me?

[2022-05-09 05:48] SaumyaBhushan commented on #481
https://github.com/withastro/docs/pull/489

[2022-05-09 05:49] SaumyaBhushan commented on #481
@sarah11918 Please review it.

[2022-05-09 14:05] sarah11918 opened #494 "Astro vs X - stats/facts to check or correct!"
vs Elder:

- [ ] ast the time of writing, Astro builds ~1K pages in 66 seconds, but has not yet been tested on 20+K projects
- [ ] Elder.js supports both Static Site Generation (SSG) and Server-Side Rendering (SSR). Today, Astro only supports Static Site Generation (SSG).

[2022-05-09 16:51] Pukimaa commented on #481
This seems resolved, yay! @sarah11918 could you please close the issue?

[2022-05-09 17:05] #481 closed

[2022-05-09 17:34] aFuzzyBear commented on #335
See PR #499

[2022-05-09 21:46] sarah11918 opened #509 "Code as headings, or not?"
We're trying to determine a consistent style to use.

Currently, and (explicitly by request), the CLI page does NOT use formatted code for the various `--` headings.

However, on Project Struture, the directories DO use formatted code directories.

Do we have a preference? Are we concerned with consistency? (And sorry, more of these issues will come up as more translators are actively in the docs

[2022-05-09 21:48] delucis commented on #509
I’m +1 on `code` in headings (or wherever else it appears).

[2022-05-09 21:50] hippotastic commented on #509
I agree and also want to point out that there can be headings where only a part of the heading text is a code reference. The screenshots could be a bit misleading in that regard because they only show headings that fully consist of a code block.

[2022-05-09 22:48] sarah11918 commented on #509
It's not misleading if the point is to show that we're not consistent, @hippotastic ! 😅

But yes, there could be other options that might affect our decision about which we prefer visually.  :)

[2022-05-10 00:52] sarah11918 opened #513 "Adapter API - remove experimental before v1"
The Adapter API page in the docs ( https://docs.astro.build/en/reference/adapter-reference/ ) will need updating when the Adapter API is no longer considered to be "experimental"

- [ ] Remove (experimental) from the page title _<-- is this still experimental?_
- [ ] remove the call out that SSR is experimental in Astro _<-- Can this be done NOW?_

[2022-05-10 01:02] sarah11918 commented on #477
I like this!

Would you suggest still having [the i18n guide](https://github.com/withastro/docs/blob/main/src/i18n/README.md)  (Admittedly, I always have to hunt for this myself.) 😅   Would these pages be linked from there? Or do we consider making the main docs README bigger and include more?

There's still an advantage to having one central page, like the one we have now, so that we can have one

[2022-05-10 01:29] sarah11918 commented on #440
I've been thinking about how to handle this, because although it might look that way, that section of that page isn't really an issue tracker. It's really just "one known thing that has been that way forever, and isn't changing anytime soon." There are many active issues, and there is no real plan to document them in docs. And, eventually this migration page may no longer exist as there is no long

[2022-05-10 01:44] sarah11918 commented on #197
@Mister-Hope - I have recently rerun all of the Lighthouse reports for our Astro comparison page and updated the findings. You can see it here: https://docs.astro.build/en/comparing-astro-vs-other-tools/#vuepress-vs-astro

We did use this page for VuePress: https://v2.vuepress.vuejs.org/guide/ run with https://web.dev/measure.

Thank you for your patience, and if there's nothing further, I believe

[2022-05-10 06:02] #197 closed

[2022-05-10 11:40] sarah11918 opened #516 "CLI refence - anything missing to doc here?"
The CLI reference page has not been significantly updated (other than adding Telemetry, only minor typo/formatting fixes) for about 4 months. (`-- host` was added 2 months ago.)

Is there anything missing from this page that should be included for v1?

[2022-05-10 12:10] delucis commented on #516
Fred mentioned automating the CLI docs in https://github.com/withastro/docs/issues/209

Regardless of whether we do that, checking the `@cli` tags in the types file might be a good measure of if this is up to date: https://github.com/withastro/astro/blob/main/packages/astro/src/%40types/astro.ts

[2022-05-10 13:42] sarah11918 opened #518 "DISCUSSION: How we compare Astro vs X"
As was noted in a Docs discussion, [Gatsby has a pretty cool page](https://www.gatsbyjs.com/features/jamstack) (that I can't seem to get to by navigating their site, so maybe it's "hidden" and not intended to be live?) that is worth considering as we decide how to help readers choose Astro.

We had discussed "better" ways to make a page that:
- realistically promotes Astro (ie not super-click-bait

[2022-05-10 14:29] sarah11918 opened #519 "Migration AWAY from Migration Guide?"
Migration will be less of an issue as we get closer to and past v1, and I think it will be sufficient to refer to "updating!" or "What's new!"

I'd like to put on our radar pruning (eventually removing?) the Migration docs, and/or giving them less prominence going forward. We have some migrations TO things in early versions that we have since yet migrated away FROM. So, this can be a potential sou

[2022-05-10 14:52] Chrissdroid opened #521 "Updating the `<script>` tag behavior to be more precise"
Suggesting a rework around [this section](https://docs.astro.build/en/core-concepts/astro-components/#client-side-scripts) :

- more precisions than `// Processed! Bundled! ESM imports work, even to npm packages.`
- the lack of info about using npm package client side (maybe in a dedicated page)
- more info about what do the `type="module"` attribute
- describing that a tag loose it's default attr

[2022-05-10 14:56] Chrissdroid commented on #477
I was wandering this being both a guide for user willing to contribute to the translation as the "i18n guide" but translated to each language to break the language barrier (which can be a problem for some people ) and a guide for contributing to the docs itself

With every language choosing to add one or more section about their methods for translating

[2022-05-10 15:01] sarah11918 commented on #477
OK, so the suggestion is we make it as an English "page" (to replace the i18n .md README?) and then it fits into our existing workflow re: when the content needs updating in other languages?

How do we handle each language having some of their own, different content? Do we just use @hippotastic 's automation that when there has been an update to the English, each langugage will update their transl

[2022-05-10 15:10] Chrissdroid commented on #477
That's the idea, don't know exactly how hippo could make it work but i think it's more appealing for people via a dedicated page than a README on github (and more easy to share if needed to link it from a tweet or a message) and could let each language have their "unique" (at a certain degree) internal workflow enforcing certain writing style matching theirs method

[2022-05-10 15:13] sarah11918 commented on #477
+1 from me, I agree! No need to convince me.  :)

I just want to make sure I understand what is being proposed, and how it will fit into what we have.

[2022-05-10 15:18] sarah11918 commented on #477
Hmm... can someone have Wiki editing permissions WITHOUT having merge permissions?

Note: Fred HAD mentioned designating one Language Lead person, so that idea is not that far off.

[2022-05-10 15:18] hippotastic commented on #477
I volunteer as a tribute... for ambassador maintainer of the German translations at least. 😄

[2022-05-10 15:19] sarah11918 commented on #477
... and of course, giving one person per language merge permission is ALSO a possibility! (I think?) Didn't mean to say that it wasn't... just asking whether we can split it up that way.

[2022-05-10 15:21] sarah11918 commented on #477
Well that looks promising! I would be absolutely OK with translators (all of you?) having access to edit the Wiki. And we'd need one ambassador to take responsibility for what your crew does.  ;)

[2022-05-10 15:23] Chrissdroid commented on #477
For "review only" i don't think it's a real issue, but yeah, for translation it's a problem

[2022-05-10 15:25] sarah11918 commented on #477
I had also had this thought.

I (human) don't mind giving access to the Wiki if it's more collaborative, and the ENTIRE team can participate. An internal Markdown file could still only be changed by someone with merge access, right? So, for "official" stuff that's fine. But if a language is wanting a place where anyone can drop in a resource or something, maybe the Wiki can facilitate that a littl

[2022-05-10 15:27] hippotastic commented on #477
One thing that I'd definitely love to see in a wiki is a language-specific translation dictionary that contains translations for common terms from the English pages.

I've made notes already while translating the first German pages and would love to have those in an easy-to-find location where all translators can quickly add new terms without having to go through a PR first.

[2022-05-10 15:29] Chrissdroid commented on #477
@hippotastic that's what we're working on currently with the french team (and why i created the glossary issue)

[2022-05-10 15:31] delucis commented on #477
Seems like Wikis and Markdown files would have the same access restrictions: we would need the “language ambassador” to edit the wiki or manage PRs. There don’t seem to be fine-grained wiki-only permissions, so the ambassador would have full merge powers but (given this may be important for [the project governance](https://github.com/withastro/astro/blob/main/GOVERNANCE.md)), it would be possible

[2022-05-10 15:33] Chrissdroid commented on #477
A wise man once said "Never trust users"

[2022-05-10 15:48] delucis commented on #477
I think we'd need the other maintainers or Fred as steward to agree to making it open but we could try. If we did, I'd want to have ambassadors in place first so they had moderation powers over wiki contributors.

[2022-05-10 15:53] sarah11918 commented on #477
I think my preference is for a solution that does NOT give a language ambassador merge permissions?

It's NOT that I don't trust you all (and, it would likely be those of you in this thread!) It just opens up more safety/security risks for our public-facing docs site, you know? It's more people who can have their GitHub accounts hacked... all kinds of things like that.

And yes, you're right @delu

[2022-05-10 15:56] Chrissdroid commented on #477
I don't have any limitations in my mind other than security and permissions issues. The wiki is totally fine to use !

[2022-05-10 16:05] hippotastic commented on #477
Unfortunately, on GitHub, "collaborators" are those with write access to the repo. So either you just allow everyone to edit the wiki (which I think will be just fine!), or you need to make everyone who should be able to edit it write access. And yes, that includes merge powers.

[2022-05-10 16:06] sarah11918 commented on #477
Aww... Wouldn't a "contributors" option make a TON of sense?? Booooo.

[2022-05-10 16:09] aFuzzyBear commented on #521
I would second the notion of moving the scripts to a separate page.

[2022-05-10 16:11] sarah11918 commented on #312
Thanks @sarahetter ! Yes, I have an issue for that here: https://github.com/withastro/docs/issues/494

I'm just waiting for confirmation from the core team about the wording they are now comfortable using, given that SSR is new in Astro. We were calling it "experimental" for a while, but I believe we're past that stage now. I am just waiting for "official" confirmation for the wording that is abso

[2022-05-10 18:15] sarah11918 commented on #312
Thanks to everyone who commented here. Since I do have another issue open to correct some of these small things, and since all the numbers at least have been very recently updated and posted, I'm going to close THIS issue.

You can follow along at #494 if you're interested in some of these text/conceptual corrections. And if you're really interested, we have another issue to discuss the entire not

[2022-05-10 18:18] sarah11918 commented on #244
Hi @gabrielmoncea !

I'm going to close this issue because I do have a PR #465 that starts this work, and I don't need an issue here to remind me that it needs to be completed. I hope we'll have a comparison for you live in our docs site soon. And, if you've already made some discoveries yourself since you opened this issue, you are welcome to share your learnings and contribute to that PR!

[2022-05-10 18:20] sarah11918 commented on #135
I'm going to make an executive decision @tony-sull and close this since we do now have something in Docs about this! If it's insufficient, I'm sure the masses will let us know....  ;) We can always make/accept PRs to improve it!

[2022-05-10 18:29] sarah11918 commented on #308
Hi @jose8a !

I'm going to close this issue now, since our Integrations API documentation has received some work, with community input helping to refine the PR, since your initial issue was filed. I know there's no life-cycle diagram in particular, but I do know that Discord was given the chance to weigh in on this page, and several people did.

You are welcome to reopen, or file a new issue (or P

[2022-05-10 18:29] #308 closed

[2022-05-10 21:05] bholmesdev commented on #494
These callouts look great! To address a few of these:
- **Everywhere saying "we are an SSG..."** - definitely update this! If comparing against another SSR framework, we can share something like "Astro can build statically via SSG, or deploy to SSR environments via "[adapters](https://docs.astro.build/en/guides/server-side-rendering/)." This includes Deno, Vercel serverless, Netlify serverless and

[2022-05-10 21:13] sarah11918 commented on #494
Got it! I can work with this.

Thank you, @bholmesdev ! 💜

[2022-05-10 21:59] sarah11918 commented on #521
Ah, I'm just seeing @delucis 's comment here now, because I was mostly in the PR all day. But fortunately, I tagged him in the PR and asked him to fine-tune the wording of that very thing! 💅

So, I'm going to close this as an Issue now, because we're very close to having that PR merged to improve the immedate handling of script on the astro-component page.

Writing a fuller, independent script pag

[2022-05-10 21:59] #521 closed

[2022-05-11 16:11] sarah11918 commented on #440
@delucis @Yan-Thomas @hippotastic @Chrissdroid

Just looping you guys in here, because issues are piling up and you're my go-to team! If we put ONE SIMPLE LINK somewhere on the Docs site to allow people to "check out any outstanding issues with Astro" (ie. not the docs itself, but a link to Astro's issues)... where would it go?

This could take many forms, "Something not working as expected? See i

[2022-05-11 16:31] sarah11918 commented on #440
Interesting thought! I like it, and I like giving it a better name that guides people towards, "HALP!"  😄

[2022-05-11 16:33] delucis commented on #440
Not currently, but it wouldn’t be too difficult to support. That said I prefer the idea of linking this somewhere else rather than in the sidebar which is already pretty full. (I’m not against the community section idea — that could be nice.)

[2022-05-11 16:52] Yan-Thomas commented on #440
As @delucis  said, currently not, but, I think it would not be hard to refactor it to be like [RightSidebar.astro](https://github.com/withastro/docs/blob/main/src/components/RightSidebar/RightSidebar.astro)  (we have separate components for the table of contents and "more")

Talking about my favorite sidebar (I have nothing agaisnt you, LeftSidebar.astro ❤️), maybe we can add something like this?:

[2022-05-11 17:48] hippotastic commented on #440
What about adding a troubleshooting.md page, which:
- outlines common issues/dev errors and provides solutions or workarounds for them
- shows a link to our list of open issues on GitHub as a suggestion to check those out to see if someone has the same problem to follow it
- provides a link to our Discord and mentios the support channel?

[2022-05-11 23:08] Enteleform commented on #440
The initial suggestion wasn't so much about mirroring `withastro/astro/issues` in the docs, just meant that issue links might be useful for anything substantial enough to be referenced in the docs already.

&nbsp;

That seems like a pretty good idea.

[2022-05-11 23:33] sarah11918 commented on #440
OK TEAM! 💜

So I think this means we want a TROUBLESHOOTING page!  Where is @Chrissdroid when you need him... ?

[2022-05-12 01:35] sarah11918 commented on #369
I am again playing around with this too... inside components, rendered on a page, and yeah, I can only conclude that it does work. Maybe Astro is just that good now.  :)

Just wanted to check in to say I haven't forgotten this one! I'm waiting before changing any documentation until I get guidance from core that this isn't some weird or unexpected behaviour, or caused by something temporary. It's

[2022-05-12 17:05] Chrissdroid opened #544 "Consider updating the docgen.mjs script that updates configuration-reference"
Opening this issue about the `docgen.mjs` script to be able to auto-update `configuration-reference.md` as a scheduled github action.

Ideas mentioned with this:

- Schedule it as 1 time per day / two days ( to avoid the complexity of listening on changes from `withastro/astro` types )
- Updating the current `docgen.mjs` to be compatible with github CI
- Converting automatically `https://docs.astr

[2022-05-12 17:21] sarah11918 commented on #544
We have a live test-case available:

"The configuration documentation says the default value of trailingSlash is always. But it's wrong, the default value is ignore https://docs.astro.build/en/reference/configuration-reference/#trailingslash"

[2022-05-12 17:27] Chrissdroid commented on #544
"The link inside the config ref is absolute, can cause issues with dev environnements and redirecting when unnecessary https://github.com/withastro/docs/blob/main/src/pages/en/reference/configuration-reference.md?plain=1#L266"

[2022-05-12 17:28] sarah11918 commented on #544
Wait, is this the same as #209 @Chrissdroid ? or related? If so, maybe you can add info there.

[2022-05-12 17:36] Chrissdroid commented on #544
we could merge this here for the first case but i think it's more suitable to make a separate thing for the "CLI Flag" automatisation

( which could be pushed toward with changes from this )

[2022-05-12 18:32] sarah11918 commented on #414
Just because this is getting a little stale, I'm pinging @bholmesdev again to see if he has a fresh take on this one!

[2022-05-12 18:34] sarah11918 commented on #509
OK, if we're Team Code In Headings, then I'll put out a call for someone (as if I don't already know I have @Chrissdroid in mind...) to make a PR going through EVERY page and re-adding inline code into all appropriate headings.

Then, we can look at every single page and confirm that nothing looks too weird to keep!

[2022-05-12 18:35] sarah11918 commented on #516
Changing this as a task for Core to review for a final once-over. Otherwise, this page can be considered "polished" and ready for translation.

[2022-05-12 21:16] delucis commented on #544
Good catch, @sarah11918. Do we prefer moving this to #209 to keep all docgen-related ideas in one place? I can copy this over to that issue in that case.

[2022-05-12 21:35] sarah11918 commented on #544
I'll leave it to you to decide what makes your life easier @delucis !

If it's easier together because it's targeting the same script, perfectly fine to copy over stuff from here and just keep going ahead in #209 . If you want to keep the specific ideas separate, I have no problems having two different issues.

[2022-05-12 21:41] delucis commented on #544
OK! I’ve moved this over there. That way if someone’s looking at one of these they might pick up the others if it makes sense to tackle more than one at once. Thanks so much for collating the different thoughts here @Chrissdroid 💜

[2022-05-12 21:41] #544 closed

[2022-05-12 22:12] #509 closed

[2022-05-13 14:59] sarah11918 commented on #299
(Can you believe on Apr 4 we were at #299???)

What are we still thinking about this? @Chrissdroid ?

[2022-05-13 15:06] Chrissdroid commented on #299
( I'm in the "deny" mental stage for the moment, lol )

It could still be useful (especially in the CLI and CMS section which have their own equivalent in their language) and can improve the "experience" to indicate more data on hover of a word or sentence to add additional information

Adding default styling for this could be the minimum without touching any markdown plugins to be able to use thi

[2022-05-14 21:15] Yan-Thomas opened #560 "Image captions or titles and acessibility"
For now, AFAIK, we only have one image as part of Astro Docs, specifically, on the [Partial Hydration page](https://docs.astro.build/en/core-concepts/partial-hydration/), but in the future, we may want to add more visual explanations and two things crossed my mind:

- The current diagram image on Partial Hydration only has "diagram" as its alt text. This is not very descriptive and screen readers

[2022-05-14 23:00] sarah11918 commented on #560
I am absolutely +1 to alt-text. I can write some alt-text for the image that is there, and that can trigger translations. (I also think it deserve a proper credit. I know we link to the article above, but we don't explicitly say that this image is from that article.)

I'll make those changes for this one, and if you'd like to explore visible caption options, that would be great!

Note: I would lik

[2022-05-14 23:01] delucis commented on #519
Relatedly, I noticed our Getting Started page currently links to the migration guide basically before anything else. That seems like something we can stop doing long before we can remove the guide itself. Maybe even already?

[2022-05-14 23:05] delucis commented on #560
Do we even need that image? The text doesn't really discuss what it shows very directly. It's complementary but doesn't use the same terminology talking about "apps" where the text talks about "islands".

[2022-05-14 23:20] sarah11918 commented on #560
I'll be brutal with it when I look at it. I've seen other partial hydration/Island architecture diagrams in other articles. I'll see whether one fits better, or consider making one myself, or just not having one entirely.

[2022-05-16 14:15] sarah11918 commented on #425
Also adding this info that someone wrote online: https://flaviocopes.com/how-to-format-astro-vscode/

[2022-05-16 21:57] sarah11918 commented on #560
Alright, just an update here. I submitted a PR with better alt-text and a source for the image we have.

Since we have no other images, this isn't an *immediate* concern, and I would not add a new image without alt-text going forward. As for plugin/captions... how much do we want to keep this issue open for that right now? Do we want to close for now, while it's not a current *problem* and raise t

[2022-05-16 22:15] Yan-Thomas commented on #560
Thanks, @sarah11918!

IMO, I think we can close this. The caption/plugin idea is more an extra thing for the real problem which would be images without proper text explaining them and/or alt text. Just maybe documenting somewhere that all images **must have** explanations and/or alt text would be sufficient and we wouldn't need to complicate the docs authoring experience adding plugins, etc.

[2022-05-16 22:17] sarah11918 commented on #560
Great, then I'll close for now, and when we start adding diagrams, we'll revisit how to handle images in future!

[2022-05-16 22:17] #560 closed

[2022-05-16 22:42] sarah11918 commented on #107
I like @delucis 's suggestions, and confirming @aFuzzyBear 's observation that I can't see the toggle on mobile.

Since this original Issue, the More menu seems to have been moved to the top of the page, directly after what would normally be the Right Sidebar. So, if we choose not to envision a complete redesign at this point, can we confirm the immediate issues to address here are:

1. Is the Mor

[2022-05-17 01:04] ekafyi opened #577 "Astro:self example does not work"
The current example in https://docs.astro.build/en/reference/api-reference/#astroself does not work.

Reproduction: https://codesandbox.io/s/astro-self-example-3qv8f2?file=/src/components/NestedList.astro

This causes an error _"unexpected return"_.

[code]

The only way I got it to work was by returning a fragment/element directly from the mapping and do the recursive breaking conditional check _

[2022-05-17 01:12] sarah11918 commented on #577
Thanks @ekafyi ! This is a great reproduction, and perfect timing for me to go over some PRs/Issues with @tony-sull tomorrow! 💜

We'll follow up here, and once I confirm what *should* work, and what *should* go in the docs, then I'm happy if you want to make a PR for the docs based on your findings!

[2022-05-17 01:14] ekafyi commented on #577
on a side note, if anyone has a proper explanation on _why_ the original example does not work (is it a JSX thing? Vite? Astro?) i'll be keen to hear! it's a pattern that works in React-JSX.

[2022-05-17 06:03] joezimjs opened #579 "Dynamic Components"
I'm following [this guide on using Storyblok with Astro](https://www.storyblok.com/tp/add-a-headless-cms-to-astro-in-5-minutes). In that post it creates a `StoryblokComponents.astro` file with the following contents:

[code]

I'm curious if there is a solution that doesn't require a `switch` block? In Vue, there is a component simply called `Component` and you use the `is` prop to pass in the type

[2022-05-17 07:46] delucis commented on #577
Might be related to https://github.com/withastro/compiler/issues/394

[2022-05-17 07:56] delucis commented on #579
There isn’t another way currently although there have been some explorations of doing this kind of thing at the component level in https://www.npmjs.com/package/astro-control. It’s undocumented, but the `Switch` component is used something like this:

[code]

There has been some talk about adding something like the control components in Vue and Svelte, but I think that will be after the v1 release

[2022-05-17 08:01] delucis commented on #560
For reference, the ever resourceful @hippotastic found this solution: https://deploy-preview-571--astro-docs-2.netlify.app/de/core-concepts/partial-hydration/#insel-architektur

He’s currently refactoring it into a reusable component so all languages could use it and just provide their own labels.

[2022-05-17 09:34] hippotastic commented on #560
Refactoring is done, I'm waiting for the PR to get merged. See it in action here:
https://deploy-preview-571--astro-docs-2.netlify.app/de/core-concepts/partial-hydration/

[2022-05-17 12:56] #399 closed

[2022-05-17 13:04] sarah11918 commented on #560
@hippotastic That looks great!

We should still keep some kind of line attributing credit though, since it's a a pretty close reproduction of the image?

[2022-05-17 13:12] hippotastic commented on #560
The article already attributes Jason Miller's Islands Architecture article and even contains a link to it in the blockquote. The previously used image didn't feature any additional attribution whatsoever.

[2022-05-17 13:12] joezimjs commented on #579
☹

[2022-05-17 13:13] sarah11918 commented on #560
Yes, and I *just* fixed that!  ;)  We attributed the quote, but not the image. I updated last night.  :)

[2022-05-17 13:20] hippotastic commented on #560
Ah, I see! I'll have a look what you did and add the attribution, too.

[2022-05-17 13:34] hippotastic commented on #560
Done. I'll also update the English attribution line as soon as my PR got merged as it's no longer an "image" in our new version. And the alt text you added is also no longer applicable then because my version is fully accessible. 😅

[2022-05-17 14:15] ekafyi commented on #577
Makes sense @delucis , once the compiler bug is fixed, if the original example works then no change to the docs necessary.

[2022-05-17 16:29] tony-sull commented on #107
Would it make sense to to move the language picker into the menu drawer on mobile?

That could give space for the theme toggle in the top header bar and let the language picker have the full screen width so it doesn't get cropped

[2022-05-17 16:30] sarah11918 commented on #440
Since we are working on a new, more helpful, troubleshooting/debugging page in PRs, I'm going to assume it's OK to close this issue now.

I still can't help with the original issue that we've all just come to accept that "imports must live on top" and there doesn't seem to be any incoming fix for that... (just that we've documented it everywhere we show things being imported in code samples...)

B

[2022-05-17 17:02] tony-sull commented on #513
@matthewp is it safe to call the Adapters API stable at this point?

[2022-05-17 17:21] delucis commented on #107
I personally feel like choosing the language you understand is probably a higher priority task than switching theme. If we hide the language switcher I think some users would likely assume the docs we only available in English.

[2022-05-17 20:43] jcha0713 opened #595 "`Astro.slots` example is not working"
The example code for `Astro.slots` doesn't seem to work, and I'm not sure whether the given example is wrong or the api has a bug.

The code I tested is:

[code]

[code]

This example gives me an error that says `message.join is not a function`.
If I have made any mistake, please let me know.
Thank you!

link to the doc: https://docs.astro.build/en/reference/api-reference/#astroslots
minimal repro

[2022-05-17 22:10] sarah11918 commented on #595
I'm confirming the behaviour in the CodeSandbox. I'm getting `messages.join is not a function`

Furthermore, when I play around with variations of this, I'm getting `messages is not defined`, so I think the error is less about not being able to perform the join, and more about `messages` itself being undefined (and THAT's why `messages.join` is not a function.)

[2022-05-17 22:23] sarah11918 commented on #577
I need to make a new label for PRs like this... "Waiting until the problem magically fixes itself?"  😅

[2022-05-18 15:17] #516 closed

[2022-05-18 21:18] #108 closed

[2022-05-19 22:11] sarah11918 opened #612 "Remove wrapping <p> tags around <ImportMetaEnv /> component"
When https://github.com/withastro/astro/pull/3410 is merged, we should no longer need to wrap `<ImportMetaEnv />` in `<p>` tags.

- Track down all the places this is used (API config, RSS, ...?) and try removing the `<p>` tags... and see what happens!
- Check for any other components we might be using in Markdown by looking for `setup: ` in the frontmatter and try similarly removing any wrapping h

[2022-05-19 23:10] Yan-Thomas commented on #513
The adapters API is also called experimental [here on the integrations reference page](https://docs.astro.build/pt-br/reference/integrations-reference/#astrobuildstart).

[2022-05-20 02:55] natemoo-re commented on #612
I spent about 30 mins trying to get `import.meta.env` working in `.md` files and it's still really difficult. Was hoping for an easy fix, but no luck.

[The Markdown PR](https://github.com/withastro/astro/pull/3410) should still help a lot! But I also opened https://github.com/withastro/astro/issues/3412 to track the larger issue here.

[2022-05-20 14:22] sarah11918 commented on #595
@aFuzzyBear I think you were going to take a look at this one?

[2022-05-20 15:21] delucis opened #618 "Improve search experience"
### Have experience with or interested in learning more about DocSearch? Help us out and take a look at one of these tasks!

- [x] Increase the number of results returned by DocSearch (currently maxes out at 5). Maybe with [the `pagination` parameter](https://www.algolia.com/doc/api-reference/search-api-parameters/) passed to [`searchParameters`](https://docsearch.algolia.com/docs/api/#searchparam

[2022-05-20 23:15] mayank99 opened #620 "a11y issues/improvements"
List of accessibility issues I ran into when using the docs site:
- The table of contents ("on this page") section is at the very end of the document. This also includes the theme switcher.
  - I'm guessing this was done to avoid having to tab through the whole list before getting to the main content, but it arguably serves no purpose anymore. One way to fix this would be add another skip link ded

[2022-05-21 00:04] delucis commented on #620
Awesome! Thanks so much or putting together this list 💜

- I suspect the table of contents DOM position was just to have the three columns in source order as we switch it out to before the main article content on mobile. So tab order actually varies depending on viewport width.

- The code blocks are made focusable here: https://github.com/withastro/docs/blob/3ffa4f660f7b24245bfc39feeab279acf5eba8

[2022-05-23 20:22] delucis opened #632 "Astro.props entry in the API Reference page"
### Discussed in https://github.com/withastro/docs/discussions/630

---

<div type='discussions-op-text'>

<sup>Originally posted by **@ekafyi** May 23, 2022</sup>
Would it be a good idea to add an entry for `Astro.props` in https://docs.astro.build/en/reference/api-reference ?

While it has been briefly addressed in https://docs.astro.build/en/reference/api-reference/#data-passing-with-props, peo

[2022-05-23 21:28] delucis opened #634 "Use new ESLint plugin to dogfood it"
@FredKSchott [suggested on Discord](https://discord.com/channels/830184174198718474/830184175176122389/978400069042704464) we add the new ESLint plugin to dogfood it and give feedback to the author. Plugin repo is here: https://github.com/ota-meshi/eslint-plugin-astro

[2022-05-24 22:28] sarah11918 opened #646 "links to `#anchor` when the target page is not translated"
A general comment about links to `#anchor` when the target page is not translated: the user will not see the message "This page hasn't been translated yet". This might surprise the user, because they are not expecting to see English and do not see the warning. Maybe the warning needs to be sticky/absolutely-positioned?

_Originally posted by @jbrains in https://github.com/withastro/docs/pull/463#d

[2022-05-25 23:41] jbrains opened #656 "Typo in "Configuring Astro""
I would fix this, but I can't, because mobile browser and it's complicated. :stuck_out_tongue:

"automic" -> "automatic".

[2022-05-26 13:15] bholmesdev commented on #414
My thoughts haven't changed on this too much! I've sadly had to deprioritize this in favor of other bug and documentation work. Happy to pick this up in the next couple weeks.

[2022-05-26 14:39] sarah11918 opened #669 "Reformat markdown-content page for better visual organization"
See the content/comment here: https://github.com/withastro/docs/pull/668#issue-1249627394

Specifically, we should start by replacing bullet points with headers (level 4) and see whether that fixes both the ability to scan the contents better, and also that some of these items are long enough that they could now do with multiple paragraphs to visually space out all the content. (And that's harder

[2022-05-29 23:10] mayank99 commented on #620
@delucis I've created #692 to fix some of the issues. It's not much but it's a start. I might tackle forced colors mode in a separate PR.

I've fixed the order on desktop but left it as-is on mobile, so now it comes before the main content on both. We might be possibly able to use the same DOM element but I left the duplication for now.

Oh I hadn't considered that scenario. I suppose we could use

[2022-05-30 12:17] sarah11918 opened #695 "Add "How to make a minimal reproduction in StackBlitz" to Troubleshooting page"
We have @Chrissdroid 's draft of our new troubleshooting page in this PR https://github.com/withastro/docs/pull/536 , and I had the idea that it would also be great to have a "How to make a minimal reproduction in StackBlitz/CodeSandbox etc." section on this page.

Doesn't have to be much, just something that follows this outline:

- StackBlitz and CodeSandbox are online coding environments you ca

[2022-05-30 13:23] sarah11918 opened #697 "Rerun the docgen script to make configuration-reference i18nReady"
Follow up to #687 which adds `i18nReady: true` to the configuration-reference frontmatter.

@delucis to run the script at some point so that the changes take effect.

[2022-05-31 13:58] sarah11918 opened #700 "Doc the solution for using Astro with Yarn 3 (Berry) issue"
As per this Bug in Astro: https://github.com/withastro/astro/issues/3450

(The last comment appears to have the solution.)

This probably goes in the Install page, a note or comment, and we should get feedback from core whether this is considered temporary, or a hack, or a more official "how to do it" to get the phrasing/presentation correct.

[2022-05-31 21:24] sarah11918 opened #702 "Document that custom 404 page doesn't show up in dev mode"
First check (probably with @tony-sull ?) that Ernesto's answer here is correct. (I seem to recall something like this, but I can't find hard proof.)

https://discord.com/channels/830184174198718474/981301972214898789/981303344234627092

NOTE: This may have been a recent change, so check to see what the actual, desired behaviour is. Was this just a regression or is this "how things work" now?

If i

[2022-05-31 22:53] sarah11918 commented on #702
Looking at merged PRs, looks like this was a bug that should have been fixed. Am keeping an eye on the support thread, but closing this as it's clearly intended to work, and shouldn't be documented! 🥳

[2022-05-31 22:53] #702 closed

[2022-06-02 15:31] delucis commented on #634
@Chrissdroid This issue was more about _using_ the new plugin in the repo, but for sure we could also share that this tool exists. Same for the Prettier plugin which we don‘t mention anywhere. These _could_ go in Editor Setup, although in a way this is all “ecosystem” stuff that maybe we need to think about how best to showcase.

There have been discussions about improving [the integrations showca

[2022-06-02 16:04] Chrissdroid commented on #634
Ohhh, I see

It could be so cool to expend the integrations list and give more visibility to awesome projects

[2022-06-03 07:52] #634 closed

[2022-06-03 21:36] tinymachine opened #717 "What is 'serializable' front matter?"
I'm not clear on what 'serializable' means here wrt `define:vars`. Maybe there's a way to make this less jargon-y?

https://github.com/withastro/docs/blob/c747f02e4420e5f36f3034074b03ac99d1444102/src/pages/en/reference/directives-reference.md?plain=1#L191

[2022-06-04 01:15] sarah11918 commented on #717
Thanks for this! Do you think linking this term to MDN web docs https://developer.mozilla.org/en-US/docs/Glossary/serialization would be enough help, for this reference page?

I will also raise this for consideration, to see what others think about expanding the detail here. Our Reference pages are intended to be more technical. So, I could see some prefering to keep as little explanation as possi

[2022-06-04 08:18] delucis commented on #717
I think it would be good to check with core exactly what is supported. I would usually understand serialisable to mean literals (string, number, boolean, and objects/arrays only containing the same). A good proxy for this is: what is left after `JSON.stringify` on your values.

Is anything else supported by Astro? I know with framework component props (which are also serialised for hydration), Ast

[2022-06-04 16:39] david-gagne opened #719 "Website breaks after running build command"
### Description
Running ```npm run build``` or ```npm run preview``` causes my Astro site to break in appearance and function from the development view.

### Screenshots

##### Website after running ```npm run dev```:
![Website screenshot](https://workflowy.com/file-proxy/file/gAAAAABim4k6yZyYCcchDiqJF6Pw6FfSeKllY5gM4tA0qJOqpC2eOZwZdAFdE_okOdyT6TSLWvz8jPORAK7B5FF_Ed4B0K_2VHk3AX7M92OrQ2DauO7KYG07oK

[2022-06-04 17:02] delucis commented on #719
Hi @david-gagne! Thanks for opening an issue. This is the repository for the Astro documentation, so I’m going to transfer this across to the main Astro repo!

[2022-06-06 16:00] Chrissdroid commented on #695
Now that the Page is published 🎉 we can start putting more thinking about this, so there's mines :

- Do we use `.gif` or videos for a better visualisation for each step ?
- What advices could we give about what's the "best method" ?
- Do we give also advice on how to make an "Good" issue explanations (not just "it's not working") ?

And that's all i've in my mind atm (may expend this message as w

[2022-06-07 16:11] sarah11918 commented on #513
I believe this change has been made, in both places. 🥳

[2022-06-07 16:11] #513 closed

[2022-06-07 16:15] sarah11918 commented on #257
This behaviour should have been recently fixed by withastro/astro#3408

@KyleFontenot Would you be willing to try a small reproduction to see whether you can confirm that this is no longer an issue? If so, then no addition to the docs us neccessary!  🥳

[2022-06-07 16:24] sarah11918 commented on #369
@delucis If we're finding that "must" isn't entirely necessary, then what if we change this example to demonstrate a case where we might WANT to use Fragment (I think you just had a support thread where you explained using a directive...) rather than a situation where you MUST use Fragment.

That way, we keep an example of using Fragment, and bonus points, show a directive in use. IF we start to g

[2022-06-07 16:30] sarah11918 commented on #632
Just updating: I have asked in core-docs channel whether someone is willing to provide some content for this.

[2022-06-07 16:52] sarah11918 commented on #717
@zadeviggers Is expanding upon this description in your super-awesome directives page something that interests you?

[2022-06-07 19:01] Yan-Thomas commented on #107
Maybe we can do something similar to what we are doing with the Community Menu component? (placing it in LeftSidebar on medium viewports and on the hamburger menu on smaller ones) Here's a pretty basic example of how it would look:

| Tablet  | Smartphone |
| ------------- | ------------- |
| ![image](https://user-images.githubusercontent.com/61414485/172459847-630418dd-afd0-473f-8452-e8e4220ffa8f

[2022-06-07 19:50] delucis commented on #107
Nice work @Yan-Thomas! Love the screenshots and gathering feedback like this 💜

I think on small screens the theme toggle should definitely go inside the pop-up menu, but I’d put it at the bottom of the menu rather than at the top. I like how the mobile menu on the Vue site handles this for example (https://vuejs.org/). I’m also in favour of collapsing menu sections on mobile at some point so even

[2022-06-07 20:48] Yan-Thomas commented on #107
Thanks for the feedback, @delucis!

Medium & larger: Theme toggle in the top bar

I like this!

The collapsable sections would be so nice, this would make `CommunityMenu` more visible as well. I can do this as a follow-up PR/issue!

(looks like I just found more sidebar-related stuff to PR, yay!)

[2022-06-07 21:56] sarah11918 commented on #425
Capturing the idea of moving any actual documentation of the prettier plugin (and the new ESLint plugin) to their specific integrations docs, so that we only need **mention that they exist** and point to those docs.

From @delucis  :  "we could share a link in Editor Setup saying “Looking for more tooling like Prettier, ESLint, and more? Check out the showcase” ( https://github.com/withastro/docs/

[2022-06-07 22:00] sarah11918 commented on #695
@Chrissdroid Is this something you are interested in starting to work on, like you did with the Troubleshooting page? Perhaps, starting with a GitHub gist to first capture content before worrying about placing it on any page? I think videos etc. should be playable in a `.md` gist, since they are in regular README.md files.

Or, are you more interested in continuning dicussion here, or... in a Disc

[2022-06-07 22:39] Yan-Thomas commented on #107
Here is the PR: https://github.com/withastro/docs/pull/735

[2022-06-08 03:44] retronav commented on #700
@sarah11918 Yes, let me get some more information on this and I will send a pull request 👍🏻

[2022-06-08 05:33] inwardmovement commented on #369
See also https://github.com/withastro/docs/discussions/722

[2022-06-08 12:04] Chrissdroid commented on #695
Sure ! I don't know, I can make gifs but videos will be more complicated, I need to reconfigure my obs etc..

We will need help from the support squad on this, for sure, I've got the experience of creating repros and struggling with it but i can't do it all by myself and I'll need more points of view on this, especially because I can't cover every type of problem

I will try to make a v0.1 gist, I

[2022-06-08 14:41] PierBover opened #739 "Maybe add a note about Node deps in the SSR guide"
I created an empty project and added the `postgres` dependency to be able to query my DB for SSR.

For some reason the dependency was not excluded from Vite and it triggered this error:

[code]

The solution was to add this setting for Vite:

[code]

From what I've gather in the Discord, all deps should be excluded from Vite optimization but for some reason `postrges` wasn't...

Anyway, I'm not su

[2022-06-08 15:08] sarah11918 commented on #739
Thank you for this! We're going to confirm this behaviour with engineering, figure out what's intended (eg whether this is something to be fixed, not documented), and will keep this issue updated.

[2022-06-08 15:11] sarah11918 commented on #695
@Chrissdroid Sure, make a discussion! Don't worry about all the details like videos yourself.

Just like the troubleshooting page, what's most helpful is just a STRUCTURE to start... instructions, steps, what is helpful for someone who has never done this to know etc. It does not have to be anything fancy. Then, people who do make screencasting videos (like Dan, me, Fuzzy...) can always add extra

[2022-06-08 15:14] sarah11918 commented on #369
Sounds like we have a strategy then! We will:
1. Ask Nate what the heck is going on during our Docs call today. 😅
2. Change the example with a fragment to a more USEFUL one (ie with a client:* directive) showing why you might use a Fragment (maybe the same one from #722 )
3. Wait to see people having trouble in support because they DIDN'T use a fragment to wrap multiple items
4. .... profit!

[2022-06-08 15:22] sarah11918 commented on #618
I owe you comments here, and I will provide!

1. My MAIN gripe is the number of items shown (which may just be a configuration setting?) I'm never convinced it's showing me all the hits for a search term, and I've seen it prioritize multiple hits on the same page rather than surfacing another page where something might be.

That almost makes it hard to evaluate further, because I don't know what I

[2022-06-08 20:53] delucis commented on #257
- You don’t _need_ html/head/body but at some point you need `<head>` in one and _only one_ file
- No special layout vs component logic
- head required for script injection
- Can we recommend a standard pattern?

[2022-06-08 21:05] delucis commented on #595
Raising an issue on the main Astro repo for this as it is likely a bug. Here’s a Stackblitz reproduction:

https://stackblitz.com/edit/github-csutf1?file=src%2Fpages%2Findex.astro,src%2Fcomponents%2FMessage.astro

[2022-06-08 23:08] sarah11918 commented on #618
Let's see... to throw some wild ideas out there

First set of results: the word is a hit for page title/file name
(So, if you just want to hit a major page for your result, you don't have to read anything in a snippet, just go.)

Second group of results: the word is in a heading
(Similarly, if you see a relevant heading, you probably don't care much about extra context displayed, just go.)

Otherw

[2022-06-08 23:20] sarah11918 commented on #257
@delucis I know you've added your notes here from our issue triage with Nate today, so don't want to close this out on you. But, given that the bug causing the initial issue has been fixed, is there anything that you think NEEDS to change in the docs related to the original request? Did we address the issue with the `<style>` tag?

Do we consider a "recommended standard pattern for layouts" to be

[2022-06-09 02:08] sarah11918 commented on #669
Also leaving a note re: maybe improving (or adding) an example for `<Content />` since a common use case is mapping through an array of posts, like from this Discord thread: https://discord.com/channels/830184174198718474/983477899971666012/983495572512206889

(code would be stripped down for our example)

[code]

[2022-06-09 07:08] ekafyi commented on #577
Sure.

Question: should I only modify the `en` file or other languages that has the `api-reference` page as well?

[2022-06-09 10:49] sarah11918 commented on #577
Yay! @ekafyi ! Thanks!

Please modify only the `/en/` page, and our automated system will kick in, the translators will be notified if there is an existing page already translated that needs updating.

I know it's just a code sample in this case and you *could* make the change, even without knowing Portuguese, but the process works, so we'll stick with it!  :)

[2022-06-09 14:11] PierBover opened #744 "Add a mention of import.meta.env.SSR in the SSR guide"
It would be great if the SSR guide mentioned something about the existence of `import.meta.env.SSR`.

https://docs.astro.build/en/reference/api-reference/#importmeta

It is very common when doing SSR with universal components to be able to distinguish when some code is being executed in the server or the client.

[2022-06-09 15:19] sarah11918 opened #745 "Adding an example for `<Content />` - mapping through posts"
A common use case is mapping through an array of posts, like from this Discord thread: https://discord.com/channels/830184174198718474/983477899971666012/983495572512206889

(code would need to be be stripped down for our example, as this was someone's very specific code)

[code]
Here is another proposed example.

[code]

Since this has come up a couple of times very recently, I lean towards inclu

[2022-06-09 15:38] #577 closed

[2022-06-09 16:14] sarah11918 commented on #745
Thanks for this! I have also let (and am letting) @aFuzzyBear know to check in here!

[2022-06-09 16:46] #257 closed

[2022-06-09 16:49] delucis commented on #618
This is super helpful — thanks Sarah!

[2022-06-09 18:35] aFuzzyBear commented on #745
Ill get on to this guys

[2022-06-09 23:26] victor0x16 opened #756 "add full import statement to `server` option example"
I guess this [Integration Reference Page](https://docs.astro.build/en/reference/integrations-reference/#server-option) is missing full import statement.

[2022-06-09 23:35] delucis commented on #756
Good catch. The snippet doesn’t look like it’s up-to-date with the Partytown integration in any case, so maybe a simpler option would be good.

[2022-06-10 03:22] KyleFontenot commented on #257
Can confirm the issue was fixed! Someone can now refactor `<body>` into a child layout. Even class assignments work (didn't before).  I only tested the `<body>`, but I'm assuming refactoring `<head>` works the same.

My second point in my original point was to not put `<style>` on top of the `<html>`, but I think it's unnecessary now as developers should know, and it's a small exception because yo

[2022-06-10 03:31] retronav commented on #700
Since #749, #753 have this covered, I think this issue can be closed.

[2022-06-10 10:26] delucis commented on #700
Indeed — thanks @retronav!

[2022-06-10 10:26] #700 closed

[2022-06-10 12:13] delucis commented on #401
Here’s my plan of action:

1. Add an `<Aside>` component

  - Props (all optional):
    - `type`: `'note' | 'tip' | 'info' | 'caution' | 'danger'`

      This would change an icon for the box and some highlight colours.
      Any other types we want here?

    - `title`: An string to title the box. Would default to a generic string like “Note” or “Tip” depending on `type`.

2. Add a Markdown plugi

[2022-06-10 12:40] sarah11918 commented on #401
1. I'm thinking about the emoji we currently use in `<blockquote>`  to get an idea of what we might want:
- stack of books for "learn/read more" (but, these are only occasionally in blockquotes? Maybe we should check for consistency and make sure they are all pulled out. These will all be links, so we could keep them out of asides since they'll stand out anyway, being links. Or, we could have a "l

[2022-06-10 13:11] delucis commented on #401
- I like the idea of a “learn” type with the books.

- I also like “tip” (lightbulb) as a more playful extra thing

- Do we still need “info” and “note” then? Maybe just “tip” + “info” is enough otherwise we
won’t be consistent in choosing?

- I think “danger” will be rare. Like when we need to say “Be careful! Running this command might wipe your hard drive” or something…

- I would keep the gear

[2022-06-10 17:31] bholmesdev opened #760 "New: Add "endpoints" guide"
Our guides for creating non-HTML pages (aka "endpoints") are pretty tough to scan as a new user. Right now, we have:
- ["non-HTML pages" listed on our **pages** docs](https://docs.astro.build/en/core-concepts/astro-pages/#non-html-pages), which I can't find by searching for "endpoint" 😕
- [the "response" section at the bottom of our **SSR** docs](https://docs.astro.build/en/guides/server-side-rend

[2022-06-11 16:15] delucis commented on #107
Done in #735. Thanks @Yan-Thomas! 🥳

[2022-06-11 16:15] #107 closed

[2022-06-13 14:05] delucis opened #768 "Document `getStaticPaths` in non-HTML pages"
Non-HTML pages support exporting a `getStaticPaths` function just like `.astro` dynamic routes do, but we don’t currently document it. This should at least be mentioned in the [non-HTML section](https://docs.astro.build/en/core-concepts/astro-pages/#non-html-pages) of the **Pages** guide and probably deserves a comment in the [`getStaticPaths` reference](https://docs.astro.build/en/reference/api-r

[2022-06-13 22:04] #697 closed

[2022-06-13 23:20] delucis commented on #760
I opened #768 for this related content, but it might make sense to roll it up into this one, so pasting this here and we can tackle it together.

---

Non-HTML pages support exporting a `getStaticPaths` function just like `.astro` dynamic routes do, but we don’t currently document it. This should at least be mentioned in the [non-HTML section](https://docs.astro.build/en/core-concepts/astro-pages/

[2022-06-13 23:21] delucis commented on #768
Closing in favour of tackling everything together in #760

[2022-06-13 23:21] #768 closed

[2022-06-14 13:33] hippotastic opened #772 "Document how to use Astro components with slots inside MDX files"
A recent question in our Discord support channel brought me to the realization that we currently don't document how you can fill slots to be used in Astro components from inside MDX files.

I think a good location to document this could be here: https://docs.astro.build/en/guides/markdown-content/#using-components-in-markdown (or to a specialized MDX page if we were to add one)

Here's what I woul

[2022-06-14 21:00] #401 closed

[2022-06-15 21:55] tinymachine commented on #717
Sounds good - thanks for the update, @delucis

[2022-06-16 13:46] sarah11918 commented on #595
Example in the docs has been commented out. When https://github.com/withastro/astro/issues/3562 is fixed, we can go back and revive the example.

Untill then, labelled as "on hold."

[2022-06-16 14:26] sarah11918 commented on #620
@mayank99 We did recently merge our new Aside component, so if you haven't looked at the docs recently, please do and let us know if you have any further comments on that!

Otherwise, are there still outstanding issues here you're hoping to PR? Or, is can this issue be closed? (Of course, you're welcome to open up new ones!)

[2022-06-16 15:02] sarah11918 commented on #425
@djmtype I've made a PR #779 to mention and link to both plugins from the editor setup page in the docs.

Would you be willing to propose your comments/instructions above in a PR to the README at https://github.com/withastro/prettier-plugin-astro directly? I think we're now thinking of this as content for there, instead of on docs itself.

[2022-06-16 15:56] djmtype commented on #425
@sarah11918 I would except I've run into issues with Prettier and Astro again using npm.

[code]

[2022-06-16 16:32] djmtype commented on #425
@sarah11918 Seems to be related here: https://github.com/withastro/prettier-plugin-astro/issues/184

I tried installing `npm i -D prettier-plugin-astro@next` which installs `"prettier-plugin-astro": "^0.1.0-next.5"`

Still, if I try to format any astro file via Command Palette it fails.

I must run this process:

[code]

This formatted all astro files except one, maybe because my JSX was so hideou

[2022-06-16 22:22] hippotastic commented on #772
Yes, exactly. The code sample is supposed to be a regular markdown file. Your path is great. If we think that readers might assume that this only works in blog scenarios, we could also use `src/pages/my-markdown-page.md`.

[2022-06-17 13:49] Parsepec opened #790 "How to use js cdn with astro"
Trying to use a UI library "UIKit" in a project the css CDN works fine but the JS CDN doesn't seem to work
![UIKIT](https://user-images.githubusercontent.com/47125163/174988722-d884d308-60ea-4f8b-929c-c02475ddb9aa.png)

[2022-06-17 19:11] Jutanium opened #793 "SSR page could explain what the adapter does / why it is necessary"
Currently, we state that you _need_ to use an adapter, and then describe _how_ to install the adapter.

`To enable SSR you need to use an adapter. The following adapters are available today with more to come in the future... In this example we will use`

In the next section, Features, we do explain that adapters provide additional features.

Still, we never quite address head-on what an adapter _d

[2022-06-18 14:04] #793 closed

[2022-06-18 16:49] shaunchander commented on #790
How are you loading your JS in? Can you post a snippet?

[2022-06-19 11:59] delucis commented on #620
Thanks for checking in on that @mayank99! The yellow is always an issue — thought I’d checked all those ratios but evidently missed that one!

I _think_ the `aria-hidden` is used correctly in this case as we use an `aria-label` with the same contents as that text node on the `<aside>` instead, but happy to revisit that if you see any screenreader issues there (our macOS VoiceOver and NVDA tests se

[2022-06-19 14:48] delucis commented on #620
So I’m trying to reproduce those contrast numbers @mayank99 and getting this in Firefox:

<img width="174" alt="image" src="https://user-images.githubusercontent.com/357379/174486661-59114c55-b1f2-452a-86d4-8002e9daf7c0.png">

What tool are you using to check contrast?

[2022-06-19 14:51] delucis commented on #620
Ah — I think I see the issue: the colours reported in your tooltip screenshot are not actually the colours on screen. I pasted the hex values over here — https://colourcontrast.cc/ffbd2e/ffe7b3 — and it reports a similar ratio of 1.38, but the background is semi-transparent and so much darker than the raw hex value suggests. Looks like we’re OK on that front although I’m seeing some contrast failu

[2022-06-19 15:12] mayank99 commented on #620
Oh wow, yeah 1.38 doesn't even look right at first glance. I recently started usinG [Visbug](https://visbug.web.app/). I might open an issue there.

I double checked using an eyedropper to get the actual visible color and it passes with 4.95 👍

As for the `aria-label`, is there any reason to not just rely on the contents of the `<p>` instead? I think the `aria-hidden` should only be applied on the

[2022-06-19 15:22] delucis commented on #620
Oh wow — cool tool! Transparency seems to trip up a lot of these tools. Even Axe just fails when it finds transparent elements and asks you to check manually. I’ve only found the built-in browser tools to work reasonably well. (In our case it’s also gradient + semi-transparent background, so it’s a lot for the tool to figure out.

Here’s the PR review thread where I switched from `aria-labelledby`

[2022-06-19 15:33] mayank99 commented on #620
Ah ok, thanks for clarifying, because I was going to suggest that exact approach (which I think is completely valid as long as the ids are unique).

But just to double confirm, I tested it in NVDA just now and the current `aria-label` seems to be announced fine, so we should be good!

Great work on the `Aside` component overall 👍

[2022-06-19 15:44] delucis commented on #620
Cool — thanks for testing again for us, really appreciate it 💜

I think the opposition to random IDs was only that it means build output is no longer deterministic, so can make testing harder (not that we’re actually doing that testing, but I was happy to leave the door open to it if this change helps and doesn’t hurt a11y).

I think that just leaves the high contrast mode right? Look forward to g

[2022-06-19 23:16] Yan-Thomas opened #805 "PT-BR pages Google and Algolia Search issues"
The Brazilian Portuguese docs are having some weird problems, the first one is that Algolia Search doesn't find any of the pt-BR pages, so any search results in "No results ...", as you can see in the gif below:

![5EnDbvd](https://user-images.githubusercontent.com/61414485/174502795-4c543cd8-46cc-4f0c-b9d0-600c52bccd73.gif)

The second one, Google Search is indexing the Brazilian Portuguese pages

[2022-06-20 05:58] hippotastic commented on #805
I‘m pretty sure that the indexing issue has to do with the fact that the URLs for two-part language codes with uppercase characters inside conflict with Netlify‘s unfortunate behavior of auto-redirecting to all-lowercase URLs.

I mentioned this issue earlier when developing my link checker, but back then, we decided not to do anything about it.

Now it seems that we have a new good reason to fix t

[2022-06-20 06:06] hippotastic commented on #805
Oh, and a heads up: If we go that route, we'll also need to update the language code in tools like the translation status script, because they are all case sensitive and will not recognize the new language code anymore otherwise. :)

[2022-06-20 15:25] delucis opened #806 "Document limitations of `injectScript`"
`injectScript` has several limitations due to its implementation but we don’t currently make that clear in our docs — https://docs.astro.build/en/reference/integrations-reference/#injectscript-option

- You can’t access the `Astro` global
- The script is run _once_ not per page like frontmatter
- Imports aren’t automatically available to pages, you need to explicitly assign them to the global obje

[2022-06-20 15:40] delucis commented on #805
Thanks for flagging this @Yan-Thomas and the helpful tips @hippotastic. I’ll tackle this as high priority this week.

[2022-06-21 14:07] sarah11918 opened #811 "Document how to migrate from other (React) distros"
In response to Twitter comment: https://twitter.com/JoshuaYoes/status/1539038214219890689

[2022-06-21 14:36] delucis opened #812 "Use latest `@astrojs/sitemap`"
The recent sitemap package release includes some new localisation support we should check out

https://github.com/withastro/astro/blob/main/packages/integrations/sitemap/CHANGELOG.md#020

[2022-06-21 14:45] ctjlewis opened #813 "Add support for route prefetching"
Rich Harris selected this repo's docs as [an example](https://twitter.com/rich_harris/status/1539084063558062080?s=21&t=RPHzjZ_2MXac-Z2PXAOgNA) of how SSR routing is less performant than CSR, and it's true that the UX for these docs is noticeably worse than the SPA example.

This appears to only be the case because the request upon clicking actually goes down the wire and has not been precached by

[2022-06-21 15:03] delucis commented on #760
Quick notes to self:

- remove endpoint from top part of **Pages**
- better keywords in Non-HTML Pages (particularly endpoint)
- Separate endpoints page with Static & SSR guides
- Example of how to set `Content-Type` headers on an SSR `Response` object (Ben to provide)

[2022-06-21 15:10] delucis commented on #760
Quick Q @bholmesdev — you had a good idea for the placement in the nav sidebar of the new Endpoints guide, but I’ve already forgotten sorry 🤦

Was it below **Routing**?

[2022-06-21 18:36] FredKSchott opened #814 "Resolve confusion around Astro.site"
### To Tackle:

- `Astro.site` is useful for generating production URLs in your site no matter where you're deploying to (staging, prod) or how you're deploying it (ssg, ssr). BUT, this should be explicit so it should be hardcoded to always be the `site` config provided.
- The docs on the `site` value would be updated to something like this: _"Use site config value to set a consistent (static) pro

[2022-06-21 19:10] matthewp opened #815 "Give guidance on adblockers"
From https://github.com/withastro/astro/pull/3658

We want to re-enable readable names in our JS output in the build. However, if you have a file like `ad.js` that might create a bundle that will be blocked by an ad-blocker in the browser. You can control the output file names with:

[code]

We should document this... somewhere. Not sure the best place.

[2022-06-21 19:34] FredKSchott commented on #815
Yea, the weird edge-case that we hit originally was that ad blockers were blocking the JS generated for this page: https://partytown.builder.io/google-tag-manager since Astro generated a file called `google-tag-manager.js` based on the page URL.

I think this is such a rare edge case, maybe just having this GitHub issue (and the one in our main repo) is enough. If your site hits this, you'll searc

[2022-06-21 19:46] delucis commented on #815
Sounds fair. We _could_ just document the filename config option? (Briefly with a link to Vite for full docs.) That way when the search comes for "filename config" or whatever there's something instead of nothing.

[2022-06-22 14:29] dhruvkb opened #817 "Provide a comparison against iles"
[iles](https://github.com/ElMassimo/iles) is another Vite based static site generator with similar features to Astro like
- partial hydration
- support for multiple frameworks
- based on Vite

It's a relatively small and new package (614 stars on GitHub) and credits Astro. On an upcoming project I am trying to decide which to adopt and was hoping that there would be some documentation on how Astro

[2022-06-22 14:40] #369 closed

[2022-06-22 19:21] #612 closed

[2022-06-22 23:57] sarah11918 commented on #646
Agreed that @hippotastic had a great idea... just wondering, didn't we discuss this very thing a loooooong time ago? Was @Yan-Thomas involved in that? I can't remember why we didn't go that route?

[2022-06-23 00:02] hippotastic commented on #646
I also had a slight déjà-vu moment while suggesting that approach, but couldn't find any prior discussion on Discord. :)

[2022-06-23 00:03] delucis commented on #646
There was discussion of this. Don't remember where. The tricky thing is the link looks like `/fr/page-in-english` so we can't do this based on link alone — any plugin would need to be aware of the translated pages.

[2022-06-23 00:05] hippotastic commented on #646
As the sidebar can do it, I'm confident the plugin can also achieve this! :)

[2022-06-23 00:06] delucis commented on #646
Found the existing discussion: https://github.com/withastro/docs/discussions/590

[2022-06-23 00:10] delucis commented on #646
Yeah. An automated solution seems good at this point. So do we by any chance have someone around who has familiarised themselves to a great depth with remark? 🤔

[2022-06-23 00:20] hippotastic commented on #646
I can give it a shot tomorrow!

[2022-06-23 00:20] delucis commented on #646
Awesome, thanks Hippo!

[2022-06-23 00:30] sarah11918 commented on #646
Chris: perfects something
Hippo: I will make this redundant tomorrow.

[2022-06-23 06:51] hippotastic commented on #646
Oh no, that wasn't my intention at all! 😅 I already felt bad suggesting an alternative approach after all the work Chris put into the notice, now I feel even worse! 🙈

[2022-06-23 08:53] sarah11918 commented on #646
Not my intention, Hippo! And sorry, that was probably a better comment for Discord!

I think we all feel good about this direction, and appreciate your ability to tackle problems, or else I wouldn't have been so joking about it.

[2022-06-23 11:17] hippotastic commented on #646
I've just had a look at this, and it seems that the tough part is not the Markdown plugin, but the styling! 😄

There are at least 4 different ways on how we could style the `EN` suffix of fallback links. I need your input to select one of them (or come up with an even better one).

Please compare them, especially how they mix with punctuation. Which variant do you prefer?

### Variant 1: In link c

[2022-06-23 11:20] hippotastic commented on #646
We can do a quick emote poll maybe.
- Variant 1: 🎉
- Variant 2: ❤
- Variant 3: 🚀
- Variant 4: 👀

[2022-06-23 11:38] sarah11918 commented on #646
We can do a poll, but variant 1 is the only one I find acceptable. ;)

[2022-06-23 12:05] delucis commented on #646
The bit that bugs me is the weird gap around punctuation, so wonder if just:

Could make sense?

[2022-06-23 12:14] hippotastic commented on #646
The weird gap next to punctuation is the reason why I found this so difficult, too.

Apparently, @sarah11918 doesn't seem to mind that gap, though 😄

[2022-06-23 12:14] sarah11918 commented on #646
I am OK with either superscript and slightly off punctuation (I do like the instinct to put it , and would personally be willing to sacrifice Perfect Punctuation Positioning if that were the will of the group) or Chris' suggestion.

I already sort of dislike how code words  inside larger link phrases come out formatted, so PPP isn't that big a deal to me. But, I also don't hate (EN)!

[2022-06-23 12:16] hippotastic commented on #646
I like your suggestions with a regular text suffix. Hope it's not an issue in any of our languages to put a fixed suffix like that in the regular text/link flow.

[2022-06-23 12:18] sarah11918 commented on #646
Correct, @hippotastic ! I am surprisingly tolerant of the gap! But, not attatched to it!

[2022-06-23 15:10] delucis commented on #646
Sounds good to me!

[2022-06-23 15:38] #745 closed

[2022-06-23 21:36] #646 closed

[2022-06-24 10:21] #812 closed

[2022-06-24 15:46] sarah11918 opened #836 "Update User-agent in robots.txt"
Our robots.txt file needs updating with a lower-case "a" in `User-agent`

Current: `User-Agent: *`
Correct: `User-agent: *`

[2022-06-24 15:58] #836 closed

[2022-06-24 16:34] delucis opened #839 "Docs site Lighthouse improvements"

[2022-06-24 16:34] delucis commented on #839
Oops. Accidental issue, sorry!

[2022-06-24 16:34] #839 closed

[2022-06-24 16:40] delucis commented on #805
Let’s monitor this now that https://github.com/withastro/docs/pull/833 is merged. Fingers crossed that fixes things in a week or so.

[2022-06-25 01:39] Yan-Thomas opened #844 "Highlight Deploy/Install pages inside "subpages""
When we move from the main deploy page to any of the deployment services guides or from the automatic to manual installation guide, we end up having no page highlighted as the current one in the left sidebar. This affects other things: `LeftSidebar` doesn't scroll to the "Deploy" page link and the new "open current page section on mobile" feature doesn't work because there isn't any page marked as

[2022-06-25 12:01] Yan-Thomas commented on #844
I'm halfway through a possible fix to this :tada:

[2022-06-26 20:49] Jutanium opened #864 "`.jsx` vs `.astro` comparison should include the conceptual differences between the two"
Currently, we have a [`.jsx` vs `.astro` comparsion](https://docs.astro.build/en/comparing-astro-vs-other-tools/#astro-vs-jsx) that covers the syntactic differences between the two languages.

This is helpful, but there's another difference that I want to point out.

JSX is used in app frameworks like React and Solid. There, JSX is used to include dynamically updated values. For example, in React

[2022-06-27 06:32] #806 closed

[2022-06-27 19:22] kaleem68 opened #874 "Unused import 'h' must be removed."
In ```src/components/TabGroup/SidebarToggleTabGroup.tsx``` ```"h"``` is imported but never used, therefore it must be removed.

My suggestions:

[code]

[2022-06-28 14:48] tony-sull opened #881 "Add vite config to the Aliases docs"
Just noticed our alias docs should call out the Vite config required for component aliasing in addition to the `tsconfig.json` aliases, related to core [#3729](https://github.com/withastro/astro/issues/3729)

I *think* this is the correct example but would need to run in a live project to double check

[code]

[2022-06-28 17:09] Princesseuh commented on #881
Don't we have a Vite plugin that gets the aliases from the user's `tsconfig.json`? I remember us not wanting users to need to define aliases twice (and `tsconfig.json` is preferred since read automatically by editors, TypeScript, various tools etc)

[2022-06-28 17:11] Princesseuh opened #883 "Extend link checker to prevent PRs from breaking incoming links to Astro Docs"
[Inside Astro's typing file](https://github.com/withastro/astro/blob/main/packages/astro/src/%40types/astro.ts), we have a lot of JSDoc comments that have links to the documentation. Those links are shown to users directly in their editors when they hover, complete etc stuff

<img width="681" alt="image" src="https://user-images.githubusercontent.com/3019731/176242846-64434457-6ce3-453d-ab37-23746

[2022-06-28 18:38] tony-sull commented on #881
That's a great question, if that was automatic before then this is actually a bug we need to fix!  I hadn't seen that vite plugin before but I'll take a look and re-open the core issue if that's just broken

[2022-06-28 20:57] jmaeat opened #884 "Missing NODE_VERSION environment variable text for Netlify deployment"
The page in question: https://docs.astro.build/deploy/netlify/

I noticed while reading through the Netlify deploy guide that there is no longer a mention of the NODE_VERSION environment variable. Cloudflare Pages, for example, has the following under Step 2:

I double-checked the Netlify docs and the [default Node version for their Xenial image](https://github.com/netlify/build-image/blob/xenial/

[2022-06-28 21:02] sarah11918 commented on #884
Great catch, and thanks for this! If you'd like to make a PR to suggest a way to add this back in, feel free.

I think this can be handled either through the dashboard UI (setting an environment variable directly) or through a `netlify.toml` file? So we should document both.

[2022-06-30 19:13] Hopelezz opened #887 "Migration page correction"
## Problem

The introduction to the [Migration page](https://docs.astro.build/en/migrate/):
![image](https://user-images.githubusercontent.com/72772558/176758678-a4725f64-c1d6-4541-b3fc-32070ad8b4fd.png)

`latest` and `most up-to-date` are redundant.

## Solution

Remove `most up-to-date` as this is wordier and less concise.

[2022-06-30 19:58] PierBover opened #889 "Add information about communication between islands"
Sometimes there is a need to communicate between hydrated components, or islands. For example, we might want to update `<CartDropdown/>` from `<AddToCartButton/>`.

It would be great if there was some guidance on how to accomplish this with Astro.

@matthewp [suggested on Twitter](https://twitter.com/matthewcp/status/1542587507098910722) using regular events or using [nanostores](https://github.co

[2022-07-01 05:15] #887 closed

[2022-07-01 05:35] Hopelezz opened #894 "Optionally Type."
## Problem

`Optionally` you can also `type` your API route functions using the APIRoute type.

Two issues here:
1. The multiple meanings of the word type within the same sentence can lead to confusion.
2. Optionally and Also express the same thing

![image](https://user-images.githubusercontent.com/72772558/176829675-e8ee3c27-8bb6-4c8f-a5d8-78af576fd4fd.png)

## Solution

1. Instead of using `typ

[2022-07-01 22:04] #844 closed

[2022-07-02 00:50] Hopelezz opened #903 "Layouts: Markdown File"
## Problem

[Markdown Layout](https://docs.astro.build/en/core-concepts/layouts/#markdown-layouts)
⚠️ Context: This page is mainly focused on Layout. This section is just referring to how the layout can affect the Markdown specifically

1. ... for Markdown files. Markdown files... This comes across as hard to read and repetitive.

2. This can be reworded to provide clarity.

3. ...example above fo

[2022-07-02 03:03] kevinzunigacuellar opened #905 "Low font contrast in active item in left sidebar"
**Description**

The active link inside navbar has a shallow font contrast in light mode

<img width="314" alt="image" src="https://user-images.githubusercontent.com/46791833/176984344-0be0a1c5-e1b3-4e10-a75c-76e11d921640.png">

[2022-07-02 06:38] delucis commented on #905
Ouch! This is new. I think it may have been introduced in #849. Would you be interested in investigating and submitting a PR?

[2022-07-02 09:24] #905 closed

[2022-07-02 15:51] Hopelezz opened #910 "Basics>Markdown: Markdown Drafts"
# Problem

[Relative Path](https://github.com/withastro/docs/blob/main/src/pages/en/guides/markdown-content.md)

## Issue 1:
These section is a bit confusing to [read](https://docs.astro.build/en/guides/markdown-content/#markdown-drafts).
![image](https://user-images.githubusercontent.com/72772558/177005899-d052cd57-6bb2-4abe-a1dd-bf6df84fb6f7.png)

### Suggestion

## Issue 2:

I have read over th

[2022-07-02 18:30] kevinzunigacuellar opened #913 "Include additional steps on gh-pages deployment guide"
**Description**

- One of the [support threads](https://discord.com/channels/830184174198718474/992488097562509442) mentioned that when deploying to gh-pages it could be beneficial to include an extra step between steps 4 - 5 to create a gh-pages branch.

- Also, it would be helpful to include a comment to our deploy workflow that `npm ci` requires a package-lock to run.

- [x] I can submit a PR f

[2022-07-02 18:41] delucis commented on #913
Nice thanks for creating this. Just pasting my notes from this here too:

Based on feedback on Discord

- Support thread: https://discord.com/channels/830184174198718474/992488097562509442

   - `npm ci` failed because repo didn’t include `package-lock.json` — add note to that effect

   - > Also, would it be an idea to add (or make note of) the step that you must manually create a gh-pages branch

[2022-07-04 13:08] #874 closed

[2022-07-04 16:12] delucis opened #918 "Improve code sample tooling"
It might be helpful to have some more tools for rendering our code samples.

1. [x] Be able to associate a filename with a code sample in a consistent way.

   In various places we use `// some-file.js` or preface the code block with a bolded file path. These don’t always work well everywhere so a way to do this that is the same across file formats would be helpful.

2. [x] Be able to highlight sp

[2022-07-04 20:26] #903 closed

[2022-07-04 20:49] sarah11918 commented on #790
Hi @Parsepec ! I am going to close this issue because these Issues are for problems with the documentation site iteslf. Unfortunately, we are not able to help with Astro troubleshooting here, and your question won't get the proper attention.

To receive help with Astro, please visit our Discord and ask in the support-thread channel at https://astro.build/chat There will be people who will be happy

[2022-07-04 20:49] #790 closed

[2022-07-04 20:57] sarah11918 commented on #813
I'm going to close this issue, since this appears to have been handled and discussed in the core Astro repo!

[2022-07-04 20:57] #813 closed

[2022-07-05 09:33] sarah11918 commented on #889
Thanks for making this issue, and as we discovered on Twitter, Ben is already writing something about this! I'm expecting to see a PR very soon (today?), so I'll close this issue in anticipation of that. (Yes, a little early, but just getting a head start on triaging and trying to manage all these outstanding issues!) We will hold Ben to his promise.  :)

[2022-07-05 10:29] sarah11918 commented on #815
Closing as it seems this was decided to be an edge case not for documenting.

[2022-07-05 10:29] #815 closed

[2022-07-05 10:59] sarah11918 commented on #814
Annotating here:

`site` defined in https://docs.astro.build/en/reference/configuration-reference/#site

(File to update this item: https://github.com/withastro/astro/blob/main/packages/astro/src/%40types/astro.ts )

------

`Astro.site` - https://docs.astro.build/en/reference/api-reference/#astrosite
- defined in reference here, but does not appear to be mentioned elsewhere, used in code samples

[2022-07-05 11:08] #884 closed

[2022-07-05 11:12] #910 closed

[2022-07-06 09:19] sarah11918 commented on #918
Love these ideas @delucis !

Here's something I keep wishing I had a good solution for: indicating (visually) that a certain line of code belongs within the code fences, but allowing the user to easily copy/paste just the line itself, and not the fences. (Presumably, they already have those, and other things, in their Astro component.) Typically we show the code fences in a code snippet, but one-c

[2022-07-07 21:54] delucis opened #945 "Automatically include integration READMEs on docs site"
- [x] Waiting for https://github.com/withastro/astro/pull/3677 to merge.
- [x] (And non-blocking, https://github.com/withastro/astro/pull/3727)

### Random Reminders

- [ ] Include link to relevant starter package/astro.new?? (For playing around, seeing what it should look like if it works, minimal reproductions if trouble)

### Notes from Chris’s sync w/ Tony, 7/7/22

- Add integration READMEs to

[2022-07-08 12:06] #620 closed

[2022-07-09 13:55] crutchcorn commented on #864
I'm also noticing that in this comparison, it says that "attributes" are "camelCase" for JSX

https://docs.astro.build/en/comparing-astro-vs-other-tools/#astro-vs-jsx

But this is actually an implementation detail of React's JSX transpiler. EG: SolidJS does not have this behavior.

The same could be said about the `class` vs `className` usage. In fact, even React's `aria-label` and other aria prop

[2022-07-09 14:54] Jutanium commented on #864
I question how useful the table is altogether if the goal is to help people learn `.astro` coming from JSX. _Is_ that the goal in this section? Let's define one and then we can decide whether to potentially ditch the table entirely

[2022-07-09 15:01] crutchcorn commented on #864
For me, as a more senior engineer familiar with the nuances of JSX, it absolutely was.

Glance-ability is a big part of how I personally read docs when I'm doing early evaluation, so this was important for me to have a reference point to get started

[2022-07-09 15:03] Jutanium commented on #864
In that case, is it worth detailing the nuances of JSX syntax across frameworks if the focus in on `.astro`?

It may be that JSX does deserve that focus because, well, we _support_ those JSX frameworks, so this section might serve a dual purpose!

[2022-07-09 15:06] crutchcorn commented on #864
Right, to your point it's a supported strategy to mix-n-match JSX syntaxes. As such, not only does this help learn `.astro` syntax, but I think it'd be a good reference guide for those using Astro + [JSX here]

[2022-07-09 15:06] Jutanium commented on #864
A relevant but separate point:

One annoyance I had that we can improve with the table is the long duplicated expressions. I found myself instinctually reading both instances of

`{items.map(item => <li>{item}</li>)}`

checking to see if there was a difference, when the _point_ of showing both was that there _wasn't_ a difference.

[2022-07-09 15:11] Jutanium commented on #864
@sarah11918 for next steps would you agree with:

1. redefining the purpose of this section to _both_ explain `.astro` _and_ `.jsx`, using their similarities and differences to further that goal
2. elaborating on the conceptual difference between `.astro` and `.jsx` as described in the OP
3. redesigning the JSX table to explain different implementations of JSX that you might encounter as described

[2022-07-09 15:44] sarah11918 commented on #864
Initial reactions, just my own thoughts here:

1. It's been a long-standing principle that docs isn't for "teaching you things that aren't Astro." So, to think of this as a way to teach/explain flavours of JSX (end sentence) isn't really within the current scope, and would require re-thinking here. The original purpose of this chart was certainly to help "teach Astro" through something that (a) As

[2022-07-09 22:09] delucis commented on #805
I just tried the on-site search and a Brazilian Google search and this seems to be working correctly now as far as I can tell! Feel free to re-open if you still see these issues.

[2022-07-09 22:09] #805 closed

[2022-07-10 05:36] crutchcorn opened #960 "Add mention of `mode: 'md'` in astro.config.js docs"
While MDX is the default processor of Markdown files in Astro, there are instances where it interacts with behavior from typical Markdown processing. For example, I want to be able to assign a custom ID to headers using the following syntax:

[code]

[Using a custom rehype plugin I wrote](https://github.com/unicorn-utterances/rehype-slug-custom-id), but cannot do so using the default Astro MDX mar

[2022-07-10 07:16] delucis commented on #960
Thanks for the issue @crutchcorn! I’ve labelled this “tsc” so we can get some input from the core team on whether this is something we _should_ be documenting. Once we have that, we can decide what to do.

[2022-07-10 21:06] hippotastic commented on #883
Thank you for creating this issue! I'm really glad you like our link checker and are suggesting additions to it! 😊

I understand and support the goal of ensuring that links from IntelliSense tooltips to Astro Docs are working. Our ecosystem and toolings are a big part of the overall developer experience and we should try our best to ensure that developers reach the correct part of the docs when th

[2022-07-10 21:35] Princesseuh commented on #883
Hey, thank you for your answer!

I agree this would fix the issue. It's even a good thing in general as we approach 1.0 to not break URLs too much

As we all know: Cool URLs don't change 😄

[2022-07-11 19:10] #945 closed

[2022-07-11 19:40] delucis opened #967 "Integration page asides"
Here’s something that I didn’t get to while working on #954 that would be cool to add to the integration READMEs workflow.

The READMEs currently use a mix of styles for tips and warnings using blockquotes as is common on GitHub. I would like to see these standardised to [GitHub’s new syntax for notes and warnings](https://github.com/github-community/community/discussions/16925):

[code]

**THEN**

[2022-07-13 14:10] delucis opened #979 "Improve "Edit this page" link on integration pages"
We show an "Edit this page" link in the right sidebar of our docs pages which currently links to the generating Markdown file:

https://github.com/withastro/docs/blob/81713b98f4261c0eb9245ffac5873b72c996a325/src/layouts/MainLayout.astro#L18

On our new integration pages, e.g. https://docs.astro.build/en/guides/integrations-guide/tailwind/, this points to the auto-generated files. We could improve

[2022-07-13 14:12] sarah11918 commented on #960
It looks like this has been added upstream: https://github.com/withastro/docs/pull/977! Yay! Thanks @crutchcorn !

[2022-07-13 14:12] #960 closed

[2022-07-14 03:04] Princesseuh opened #984 "Document using / extending the Astro JSX definitions"
This is very advanced usage, nonetheless we see some people do it. Notably, our official image integration use them to provide `img` props completions and type checking in the components

Using them is done through a triple slash directive, this works both in Astro files and in TypeScript files

[code]

Extending them is done through a .d.ts file redeclaring the namespace:

[code]

People tend to

[2022-07-14 09:37] delucis opened #986 "Add “deep dive” guide to how Astro works technically"
- What is the `<astro-island>` element?
- Why do we inline some scripts?
- How does bundling work?
- etc.

Probably fits into the “Explanation” quadrant if we’re thinking with the diátaxis model in mind: provides theoretical background information in a friendly tone (https://diataxis.fr/explanation/).

[2022-07-14 09:59] hippotastic opened #987 "Document how to escape curly braces in Markdown"
We currently don't document how to prevent a text like `{some content}` inside a Markdown file from being treated as a JS expression.

It ~~works~~ should work by replacing the opening brace with its HTML entity: `&#123;`

I think we should document this in our Markdown section.

[2022-07-14 09:59] delucis opened #988 "Add note about Netlify Functions"
A Netlify user was confused how "Netlify Background Functions" worked in Astro

The answer was: "just follow the netlify docs" (aka use a `netlify` folder in your repo) but it wasn't clear that this would work natively in Astro.

It would be nice to add a mention to our integration guide/readme about how the `netlify` folder works, and that you can just use it as expected!

[2022-07-14 10:18] delucis opened #990 "Add note that remark is the only supported markdown parser"
A Markdown user wanted to use pandoc instead of remark

Can we add a note saying that remark is the only supported markdown parser?

[2022-07-14 10:35] delucis opened #992 "Mention that navigation uses the standard `a` element in Astro"
**Why?** A user was unclear how to link to another page in Astro

- Usually because React/next.js make this confusing with `<Link>` element
- Could use a small callout that you can use `<a>` elements directly

   SvelteKit has this (https://kit.svelte.dev/docs/routing#pages):

#### To discuss

Where should this go? SvelteKit mentions this in the “Pages” section of their Routing guide. Our routing

[2022-07-14 10:50] delucis commented on #987
Thanks @hippotastic!

I’m adding this section now, but it looks like it doesn’t work 😞

Adding `&#123;` errors with `ReferenceError: variable$$render is not defined` from the default export of the Markdown file.

[2022-07-14 10:51] hippotastic commented on #987
I guess this warrants creating a new bug in the main repo then! I'm gonna head over there and create one. 😅

[2022-07-14 10:53] delucis commented on #987
Thanks!

I can write this code block without any problems

[code]

But using the entity in a paragraph or whatever breaks:

[code]

[2022-07-14 10:57] delucis commented on #987
Aaaaand, same goes for `&lt;`:

[code]

[2022-07-14 10:59] hippotastic commented on #987
What should work is escaping it like this: `{'&#123;'}`

But of course that doesn't look very pretty and I would advise not documenting this and fixing it instead.

[2022-07-14 11:06] delucis commented on #984
Maybe we can add this to our Typescript page? Are there other use cases for triple-slash directives augmenting ambient types we would want to mention?

[2022-07-14 12:06] Princesseuh commented on #984
I do not think there's other use cases specific to Astro and it shouldn't matter where the .d.ts is in this case, though I have heard of issues when using a folder called "types" in the past

[2022-07-14 12:28] hippotastic opened #995 "Document how to apply a `class` to an Astro component"
I've already seen multiple support issues where new Astro developers are struggling with getting syntax like this to work:

[code]

The challenge is how to get `class` to be rendered in the HTML output.

This is a typical use case and it's unfortunately also a bit special due to `class` being seen as a reserved name in JS.

This does not work inside the component frontmatter:
[code]

You need to r

[2022-07-14 20:59] #979 closed

[2022-07-14 21:10] FredKSchott commented on #988
@delucis I just realized that Netlify has a blog post about this!

https://www.netlify.com/blog/deploy-an-astro-site-with-forms-serverless-functions-and-redirects/

I think this is all we'd need to link to in the integration readme. Actually, I bet each integration could have a "links" section at the bottom, that links out to relevant off-site tutorials and guides on how to use the integration!

[2022-07-14 21:11] delucis commented on #995
Good idea! Maybe something for the Styling & CSS page?

[2022-07-14 21:23] hippotastic commented on #995
Yes, either that, or on the Components page, where there even is a CSS Styles example: https://docs.astro.build/en/core-concepts/astro-components/#css-styles

[2022-07-15 05:09] kevinzunigacuellar commented on #992
I like the [Next.js](https://nextjs.org/docs/routing/introduction#linking-between-pages) approach to this inside Routing. Maybe a section after dynamic routes and before Route Priority Order?

[2022-07-15 09:10] lostra01 commented on #995
CSS Styles definitely need iteration.

I'm seeing numerous threads about using the same component twice, and passing in `define:vars` to the `<style>` tags overwrites them in the separate components.

This issue is however feels more like a Components/Dynamic Attributes than styling.

At the same time, I wouldn't entirely ditch automating the expected behaviour in some way. If the component consis

[2022-07-15 09:11] lostra01 commented on #995
At the same time, if there is a consensus, I'll gladly update the documentation!

[2022-07-15 10:16] delucis commented on #995
A documentation PR would be great! Even if some kind of automated passing ever comes to pass, I bet it could be a while — sounds like something that would need an RFC given all the complexities — so docs in the meantime would be super helpful. Thanks @lostra01!

[2022-07-15 11:49] delucis opened #1007 "Add link to `build.format` reference in routing guide"
**Why?** A user was confused how to control the file output format in their build

Reference docs exist, but they had been mainly reading these docs: https://docs.astro.build/en/core-concepts/routing/#static-routes

These docs don't give any reference to the file output, which makes sense. But, maybe they could add a quick reference to help readers like this, something like:

[code]

Thread: https

[2022-07-15 11:53] #988 closed

[2022-07-15 11:53] lostra01 commented on #995
I'll ping @sarah11918 here as well, and if everything's in line I'll keep in touch with her throughout the process.

[2022-07-15 13:40] #984 closed

[2022-07-15 14:04] #1007 closed

[2022-07-15 14:58] lostra01 opened #1012 "Expand styling guide in Components"
When using `define:vars` in a `<style>` tag for a component that is re-used on a page multiple times, the different variables of the components will be overwritten with the last component's variables.

`styled.astro`
[code]

`index.astro`
[code]

In the example above, all the components end up being green.

The documentation needs to be updated to explicitly state that `define:vars` will be overwr

[2022-07-15 15:07] sarah11918 opened #1013 "ADD to Editor Setup: can't support WebStorm"
Add TWO THINGS to our [Editor Setup page](https://docs.astro.build/en/editor-setup/)

1. explaining that we can't support WebStorm because it doesn't support our Language Server, but there is an official Jetbrains ticket to track it.

Perhaps using our custom "note" aside ([see how to use it](https://github.com/withastro/docs/blob/main/WRITING.md#custom-aside-component)), under "Other Editors" ?

[2022-07-15 15:23] sarah11918 commented on #1012
Thanks @lostra01 , my first thought is: I know in the past (admittedly, maybe long ago past!) we had *other* situations where if you had multiple components (even without `define:vars`), they would all end up using the same attribute props.

So firstly, can you give a quick thought or a quick play with some code  to see whether this is not *exclusively* a `define:vars` issue, (even if it is a `def

[2022-07-15 18:54] #1012 closed

[2022-07-15 19:36] sarah11918 commented on #986
I *suspect* this is going to be on @FredKSchott 's (not @fredkbot ! I have to be careful now!) list to tackle, either as part of, or follow up to #893 .

[2022-07-15 19:38] sarah11918 commented on #987
Given that we are NOT documenting @hippotastic 's LOVELY workaround...

Do we close this issue? OR do we put an issue in Troubleshooting? I know it came up on Discord recently, but I'm not sure how *much* of an issue this is. And, if we fix it... then we have to go take this out...

Close? What do we think?

[2022-07-15 20:09] hippotastic commented on #987
I'd say we wait until it's fixed and *then* document it! 😄

[2022-07-15 21:01] delucis commented on #987
Yup! https://github.com/withastro/docs/pull/993 should be good to go once this is fixed.

[2022-07-15 21:09] FredKSchott commented on #986
Yes!

[2022-07-15 21:34] kevinzunigacuellar commented on #992
I don't see why it shouldn't be in both sections. I remember hearing about duplicating content in the tailwindcss docs. It makes sense to duplicate content when users might be drawn to either of these sections to find some information about `<links>`

[2022-07-16 09:36] JulianCataldo opened #1016 "Add additional (optional) step for GitHub Pages deployment on custom domain"
# Possible improvement

[For GH Pages doc'](https://docs.astro.build/en/guides/deploy/github/)

It might be beneficial for user to know how to set-up a custom domain, it's not totally obvious, and there are handful ways of doing this (I can detail others ways if required, it can be environment dependent).

The simplest one:
`CNAME` file can be added in `./public` with
`sub.mydomain.com` as content

[2022-07-16 17:15] lostra01 opened #1017 "Documenting workarounds for define:vars and classes"
# Introduction

Welcome everyone reading this.
Please feel free to weigh in on any of the following topics, with any suggestions or questions you have. The more we talk about it the more we can find a solution that benefits the most.

Some of the features mentioned here can be missing documentation, can be a missing feature, or something that will be coming in an update later, as well as workaroun

[2022-07-16 17:39] mayank99 commented on #1017
I agree with those questions. If it's working as expected, then it's super confusing and should be documented. @bholmesdev ran into this exact issue on stream when trying to randomize a CSS variable for each instance of a component.

I believe the most elegant workaround (for "Styles with define:vars") is to use inline CSS variables.
[code]

As for "Passing class to Astro Components", I do not see

[2022-07-16 17:49] lostra01 commented on #1017
That's a really amazing option you got there! I did not think of defining the variable inline!

[2022-07-16 18:16] natemoo-re commented on #1017
@lostra01 thanks for this incredibly detailed write up!

I don't consider any of the current behavior to be working as intended.

Revisiting this feature _was_ not on our radar to do before the 1.0.0 release but it honestly seems like this got lost in the shuffle. This post makes a very good case that `define:vars` needs to be fixed ASAP!

Given how visible and frustrating it is currently, I'd lov

[2022-07-16 19:40] lostra01 commented on #1017
Thank you for the input @natemoo-re ! This issue shall be put to sleep then, and when it gets fixed, we can focus on a proper documentation.

[2022-07-17 14:13] delucis opened #1021 "Add system to provide captions for videos"
Any video in docs with an audio track [should include captions](https://www.a11yproject.com/checklist/#confirm-the-presence-of-captions) for people who can’t hear the audio. We currently have one example of this on [the Tailwind integration page](https://docs.astro.build/en/guides/integrations-guide/tailwind/#installation).

#### Considerations

We need to think about:

- Translating captions so t

[2022-07-18 12:14] sarah11918 commented on #1016
Thanks for mentioning this, @JulianCataldo ! I know these GH Pages instructions have been a bit of a thorn in our sides for a while now...

Would you like to make a PR for this? I do agree that in particular GH Pages isn't always intuitive for Astro projects, so I think this could be a helpful addition. And yes, let's go with the simplest one. 😉

It doesn't have to be overly complicated. If you wo

[2022-07-18 14:02] sarah11918 opened #1025 "Reformat code samples on UI Frameworks page"
On this page - https://docs.astro.build/en/core-concepts/framework-components/#passing-children-to-framework-components

The code samples don't conform to our standard syntax, so the Astro code highlighting isn't taking effect.

Please reformat these samples so that the file name is located **inside, and directly following the first `---`*** (to match the examples e.g. on https://docs.astro.build/

[2022-07-18 17:00] matthewp commented on #744
This question might be a hold-over from how the build previously worked. Your code shouldn't run at all during an SSR build now. So that boolean should only be true during actual SSR and during the static build.

[2022-07-18 17:08] kevinzunigacuellar commented on #1025
I am happy to take this off your hands Sarah, I see that we also have another way to include titles in codeblocks as in https://docs.astro.build/en/core-concepts/layouts/#sample-layout . Should this be changed as well?

[2022-07-18 17:29] sarah11918 opened #1029 "Go through ENTIRE SITE looking for "experimental" and "deprecated""
As the title says...

Getting closer to v1, we want to make sure Docs are fully up-to-date with things that were previously marked "experimental" but that might no longer need that warning.

Similarly, some items are marked as "deprecated" and we want to make sure we are aware of everything described that way in the docs, so we can check with the TSC and figure out whether they should remain with

[2022-07-18 17:35] sarah11918 opened #1030 "Remove reference to the old rss() function"
Since we now have `@astrojs/rss`, we no longer use the old method for generating rss feeds using `rss()` described here: https://docs.astro.build/en/reference/api-reference/#rss

Happy to receive a PR that does 2 things:

1. Remove this section entirely.
2. Add a note in the [1.0 beta section of the migration guilde](https://docs.astro.build/en/migrate/#astro-10-beta) saying that the process for g

[2022-07-18 20:08] #1025 closed

[2022-07-20 11:11] hippotastic commented on #918
As discussed on Discord, I'd love to work with you on that! 😄 I can tackle the subtask of creating a remark plugin for code blocks that:

- supports all the typical syntax we're using in docs right now to indicate which file name a code snippet should have
- also allows adding the file name after the language indicator in the opening code fence line
- allows specifying line numbers to focus on or

[2022-07-20 14:41] PierBover commented on #744
But the SSR guide still doesn't mention the existence of `import.meta.env.SSR` which was the reason I opened this issue...

https://docs.astro.build/en/guides/server-side-rendering/

[2022-07-20 14:45] delucis commented on #414
Hey sorry, this issue got a little neglected. We’re not going to be able to prioritise this for a little while. If anyone does want to pick it up and provide a guide — maybe adding to our NPM Package guide — would be happy to see it!

[2022-07-20 15:52] delucis opened #1047 "RC Migration Guide Tracker"
We’re going to want to document a few things in our migration guide, so I’m using this issue to keep track before we forget. Throw anything else you spot in here!

- [x] If using `<Markdown />`, you need to install `@astrojs/markdown-component` and update your imports (see #1045 and https://github.com/withastro/astro/pull/3986)
- [x] Vite 3 update (done in #1049)
- [x] canonicalURL deprecation (se

[2022-07-20 16:37] Yan-Thomas opened #1050 "404 page content is hidden"
The docs' 404 page has a CSS conflict that is hiding its content, as you can see in the screenshot below:
![image](https://user-images.githubusercontent.com/61414485/180035859-3613cd84-5e20-4b01-8d14-4ac7baa619c0.png)

[2022-07-20 16:39] delucis commented on #1050
Ohhh, is that what is happening! I noticed this in dev and assumed it was a dev server bug without investigating. Thanks for the issue!

[2022-07-20 16:54] sarah11918 opened #1052 "Automatically label i18n PRs?"
Investigate ways to automatically apply the label `i18n` to translation PRs when they are created. This could involve GitHub actions (`.github/labeler.yml`)

Then, submit a corresponding update to the [i18n README Guide for Translators](https://github.com/withastro/docs/blob/main/src/i18n/README.md) documenting whatever measure PR authors should take to trigger this automation.  (e.g. Prefix all t

[2022-07-20 16:59] sarah11918 opened #1053 "Document Badge and Since components in WRITING.md"
Document usage of Badge and Since components alongside our Custom Aside component in the Writing Guide.

[2022-07-20 17:17] delucis commented on #1052
Linking here to the GitHub Action that we can use: https://github.com/actions/labeler

We need to update our config in `.github/labeler.yml` to target the right paths. We can probably safely label any Markdown page that is not in `/en/` as an i18n PR.

[2022-07-20 18:59] kevinzunigacuellar commented on #1052
I would like to take this one off your hands. Q: should we also include the `/i18n/` folder?

[2022-07-20 19:59] delucis commented on #1052
Yes! I think including `src/i18n` makes sense here.

[2022-07-20 21:00] #1052 closed

[2022-07-20 21:47] Yan-Thomas opened #1057 "Ping relevant roles in `#docs-i18n` on Discord every “Translation Tuesday”."
If there are new additions to the out-of-date pages list, ping the relevant roles in `#docs-i18n` on Discord. Suggestion to do this every “Translation Tuesday”.

[2022-07-20 21:57] #1053 closed

[2022-07-20 21:59] Yan-Thomas opened #1058 "Track UI translation progress in the Translation Status Overview"
We are currently only tracking changes in the Markdown pages inside the Translation Status Overview Issue, it would be nice if we also tracked the changes in the `i18n/` folder (`nav.ts`, `ui.ts`) and in the new `public/captions` folder, so translators are aware of the changes made to these files in the English docs.

**Note:** We also have to reflect these changes in the i18n guide so translators

[2022-07-20 22:05] Yan-Thomas opened #1059 "Can we have an “in progress” section? So each language would have missing/needs updating/in progress."

[2022-07-20 22:13] Yan-Thomas opened #1060 "Improve and highlight the i18n Guide"
This issue lists a few improvements we can make in the i18n Guide:

- [x] Warn contributors to avoid translating pages that aren't listed as part of the Translation Status Overview. These pages can be heavily changed, or even removed on short notice, so they are marked as `i18nReady: false` to avoid wasting the translators' time and effort.

- [x] Document the use of `minor` commits and explain ho

[2022-07-20 22:42] Yan-Thomas opened #1061 "Add more accessibility guidance to the Maintainers Manual"
We briefly mention accessibility in [our Maintainers Guide](https://github.com/withastro/docs/blob/main/MAINTAINERS.md#triaging-issues-and-prs), but we don't give more information about what accessibility really is and what and how you can test it. Rather than creating an "Accessibility Guide", I believe we could add a new heading linking to relevant, trusted sources, explaining what is accessibil

[2022-07-20 23:48] sarah11918 commented on #1029
I have done the sweep, and the only offenders appear to be all of the Integration READMEs in the "Other" category.

The "Quick Install" instructions refer to the "experimental astro add" command.  The word "experimental" can be removed in each case. That should be enough to close this issue.

[2022-07-21 09:22] sarah11918 commented on #1029
Can be closed when https://github.com/withastro/astro/pull/4004 in /astro repo is merged.

[2022-07-21 12:08] Yan-Thomas commented on #1021
Now that we have the `<Video>` component, the missing pieces are to track the captions addition/changes in the Translation Status Overview and add corresponding documentation about captions in the i18n guide. I am closing this in favor of #1058 and #1060.

Thanks for the issue! 🙌

[2022-07-21 12:08] #1021 closed

[2022-07-21 17:34] #1029 closed

[2022-07-21 19:09] delucis opened #1080 "Move integration version number out of CI generation task"
Currently we show a version number for each integration in its header, e.g. v0.1.3 here

<img width="827" alt="Header of the @astrojs/image integration page including the version tag" src="https://user-images.githubusercontent.com/357379/180295348-d5448c59-7e13-4c8e-85bb-b205356fb390.png">

This is added as a frontmatter variable in the pages by the auto-generation script:

https://github.com/with

[2022-07-21 19:58] #1050 closed

[2022-07-21 21:59] garfieldnate opened #1082 "reference to `slug` in RSS docs"
The docs for generating RSS make reference to a frontmatter field called "slug" which is not auto-generated. Trying to use the code given [here](https://docs.astro.build/en/guides/rss/#2-list-of-rss-feed-objects) as-is results in errors. All references to `slug` should be changed to `url`, which works correctly and is what's actually used if you call the glob version of `rss()` instead of the feed

[2022-07-21 22:42] sarah11918 commented on #1060
I think the first two issues can be considered "marginally covered" by #1079 (Documenting "minor" in CONTRIBUTING) and #1078 (i18n READMEre: do not translate advice).

[2022-07-21 22:47] sarah11918 commented on #1060
Do we have consensus re: moving `i18n README` to root?

- rename to I18N ?
- move to root?
- update any relative links?

[2022-07-22 09:35] delucis commented on #1060
I might rename to `TRANSLATING.md` to match our other `PRESENT-CONTINUOUS-VERB.md` files? But I’m OK with moving it, yup 👍

[2022-07-22 09:57] delucis commented on #1082
Makes sense! Would you like to make a PR with those changes @garfieldnate?

[2022-07-22 10:24] Yan-Thomas commented on #1060
I think the only places we link to the i18n guide are on the `README.md` file and in the "Translate this page" on the Docs, I can take care of this one once we decide what to do with the file.

I agree with renaming to `TRANSLATING.md`.